#recipe-card {
    height: 60px !important;
}

#recipe-title {
    text-align: center !important;
    font-size: 18px;
    margin: -14px !important;
}

#serving {
    height: 10px !important;
}

.add-ing {
    font-size: 16px;
    font-weight: 600;
}

h5.recipe-subheading {
    color: #4f4f4f;
    font-weight: 600;
    font-size: 19px;
}

.select-wrapper {
    position: relative;
    margin-top: -1px !important;
}

#select-delete-mat {
	padding-top: 32px !important;
}

#prep_time {
    width: 80% !important;
}

@media only screen and (max-width : 600px) {
    #prep_time {
        width: 127% !important;
    }
    
    .select-wrapper input.select-dropdown {
        width: 150% !important;
    }
    
    #serving {
        width: 250% !important;
    }
    
    #recipe_name {
        width: 150% !important;
    }
    
    
.select-delete-mat{
	padding-top:7px !important;
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100px !important;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
}
option{
    margin-bottom:15px !important;
}