/* Step 1 */

#container {
  margin: 20px;
  width: 400px;
  height: 8px;
  position: relative;
}

#create-containr {
  width: 96% !important;
  
}

#create-plan {
    background-color: #f5f5f5 !important;
}

form div.container {
    width: 80%;
}

.namecol{
    margin-right: 3px;
}

input[type=text], input[type=number] {
    width: 90% !important;
}

div#create-form {
    margin-top: -37px;
}

#progressbar {
	overflow: hidden;
    margin-left: 10px;
}

.vertil{
    margin-left:10px !important;
    margin-right:-10px !important;
}
.weekWidth{
    width:12% !important;
    margin-right:10px;
    padding:10px !important;
    font-weight:bold !important;

}

.dayWidth{
    width: 10% !important;
    border-radius: 7px !important;
    padding:5px !important;
    border:2px solid #00bcd4 !important;
    color:#00bcd4 !important;
    margin: 5px !important; 
    cursor:pointer !important;
}

.dayWidth:hover{
    width:10% !important;
    border-radius: 7px !important;
    padding:5px !important;
    border:2px solid #00bcd4 !important;
    background:#00bcd4 !important;
    color:white !important;
    cursor:pointer;
}

.center-me{
    color:rgba(0,0,0,.87) !important;
    margin:auto !important;
    text-align:center;
    margin-top:15px !important;
}

#progressbar li{
    display: inline-flex;
   padding: 0 50px 0 13px;   
}

#jump-to-modal>.modal-content>.row{
    text-align: center;
    vertical-align: middle;

}

#jump-to-modal>.modal-content{
    text-align: center;
    vertical-align: middle;

}

.graph-text {
    position: relative !important;
    bottom: 50% !important;
}

.shift-title {
    padding-left: 115px !important;
    padding-top: 14px !important;
}

#create-container {
    width: 96%;
}

form#createPlan input {
    width: 10% !important;
}


#progressbar li span {
    background-color: #ccc;
    border-radius: 15px;
    padding: 3px 7px 0px 8px;
    color: #fff;
}

span.active-plan {
    background-color: #9e9e9e;
    border-radius: 15px;
    padding: 5px 7px 4px 8px;
    color: #fff;
}

.show {
    display: block;
}

#metric-view {
    display: none;
}

/* Step 2 */

#create-page2 {
    background-color: 
}

.cont-create {
    width: 85%;
    margin: 0 auto;
}

.graph_cont {
    width: 93%;
    margin: 0 auto;
}

.vertical-line {
    border-right: 1px solid #ddd;
}

.vertil>div>div{
    min-height:127px !important;
}

.horizontal-line {
    border-bottom: 1px solid #ddd;
}

hr {
    position: absolute;
    margin: 0 0 0 0;
}

.top-line {
    border-top: 1px solid #ddd;
}

.left-line {
    border-left: 1px solid #ddd;
}

ul.food-timing li {
    display: flex;
}

.routine {
    display: inline;
}

.weekday-tab {
    height: 10px !important;
}

.separate {
    position: relative;
    top: 5px;
    font-weight: 600;
}

/*
#meal_list_card {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 1000px;
}
*/


i.add-button {
    height: 10px !important;
    background-color: #00bcd4;
    padding: 0;
}

.left_arrow_pos {
    position: relative;
    top: -1px;
    left: 23px;
    transform: rotate(-90deg);
}

.right_arrow_pos {
    position: relative;
    top: -1px;
    right: 23px;
    transform: rotate(-90deg);
}

.copy_icon {
    position: relative;
    top: -2px;
    right: 2em;
}

hr {
  color: #ddd;
  background-color: #ddd;
  border: none;
  height: 1px
}

.down-key {
    margin-top: 12px;
}

.btn-floating i {
    line-height: 23px !important;
}

#add-food-modal {
    height: 120% !important;
    width: 70% !important; 
}

.nutrition-modal {
    top: 5% !important;
    max-height: 90% !important;
/*    width: 70% !important; */
}

.create-modal-half1 {
    border-right: 1px solid #ddd;
    height: 390px;
}

.create-search-box {
    width: 90% !important;
}

#searchcard button.filter {
    margin-left: 20px;
}

input[type=time] {
    color: #00bcd4;
    text-align: center;
    width: 65%;
    height: 2em;
    border-bottom: none;
    font-weight: 600;
}
.a {
    line-height: 0px;
/*    margin-top: -4px;*/
    color: #4f4f4f;
}

.b {
    margin-top: -3px !important;
}

#check-label {
    margin: auto;
}

.hline {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.ahead {
    font-weight: 600;
}

.servehead {
    display: flex;
}

.servetext {
    display: flex;
/*    margin-top: -20px;*/
    position: relative;
   
/*    right: 30px;*/
}

#serving {
    position: relative;
    bottom: 38px;
    text-align: center;
}

.nutsection {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dustbin {
    margin-right: 29px;
    margin-top: 17px;
}

.meal-list {
    margin-top: -14px;
}

.dustbin {
    color: #9a9fa1;
}

.meal-text {
    color: #9e9e9e !important;
    text-transform: lowercase;
}

.meal-text::first-letter {
    text-transform: uppercase;
}

.meal-text-upper{
    color: #9e9e9e !important;
}
.tab_head {
    position: relative;
    top: 1em;
}

.btn-floating {
    height: 21px;
    width: 21px;
    line-height: 20px !important;
    background-color: #00bcd4 !important;
}

.btn-floating i {
    font-size: 18px;
    line-height: 24px !important;
    background-color: #00bcd4 !important;
}

.down {
  padding-top: 20px;
    margin-top: 0 !important;
    
}

.c {
    height: 50% !important;
}

.serving {
    height: 1rem !important;
    text-align: center;
    color: #9e9e9e;
    bottom: -15px; !important
}

.select-wrapper input.select-dropdown#serving {
    height: 1em !important;
}

.select-wrapper span.caret {
    color: #9e9e9e;
}

.ing-text {
    color: #4f4f4f !important;
    text-transform: lowercase;
    font-weight: 600;
}

.ing-text::first-letter {
    text-transform: uppercase;
}

.ing-text-upper {
    color: #4f4f4f !important;
    font-weight: 600;
}

#shortcut-menu {
    font-family: 'Raleway' !important;
    font-size: 14px !important;
    font-weight: 600;
    margin-left: 60px;
}

.hor-line {
    border-bottom: 1px solid #ddd;
    margin-top: 3px !important;

}

.selcol{
    width:12.444% !important;
    margin-top:-10px;
}
.selcolr{
    width:10.444% !important;
    margin-top:-10px;
}
.selco{
    margin-left: 57px !important;
    
}

.selcol_serv{
    width:12.444% !important;
    margin-left: 13px !important;
}

.recip_nut_no{
    width:12.444% !important;
    margin-left: 35px !important;
}

.dropdown-content{
    width:200px !important;
}
/*

input.select-dropdown{
    text-align: -webkit-center;
    height: 35px !important;
    padding-top: 32px;
}
*/

.select-wrapper input.select-dropdown {
    text-align: -webkit-center;
    line-height: 0rem !important;
/*    border-color: #ddd !important;*/
    margin: 15px 3px 0 0 !important;
    height: 21px !important;
    width: 5em !important;
}

#nutsinfo {
    margin-top: -20px !important;
}

.item-align {
    position: relative;
    top: 9px;
    left: 2em;
}

.time-input {
    font-size: 20px;
    margin-top: 10px;
}

input[type=number].time-input {
    width: 62% !important;
    text-align: center;
    border-color: #ddd !important;
}

.shift-time-left {
    margin-left: -26px !important;
    text-align: center;
}

.shift-ampm-left {
    margin-left: -30px !important;
    text-align: center;
}

#meals {
    text-align: center;
    width: 77% !important;
}

.selected-meal-ingredient-list {
    margin-left: 49px !important;
    margin-top: -18px !important;
}

#daydrop {
    border: none;
}

/* ADD NEW MEAL MODAL */

#add-meal-modal {
    height: 55% !important;
    width: 50% !important;
}

/*
.dropdown-content li>span {
    height: 10% !important;
    font-size: 13px;
}
*/

/*
.select-wrapper input.select-dropdown {
    height: 2em;
    margin-top: -28px;   
}
 
.select-wrapper input.select-dropdown {
   line-height: 5rem !important;
    border-color: #ddd !important;
    margin: -23px 3px 0 0 !important;
    height: 52px !important;
}
*/

/*
.dropdown-content li>a, .dropdown-content li>span {
    color: #00bcd4 !important;
    font-family: 'Raleway' !important;
    text-align: center !important;
}
*/

.select-wrapper span.caret {
    top: 3px !important;
    left: 66px !important;
}

select {
    height: 1em !important;
}

/* CREATE PLAN 3 */

#summary-info {
    text-transform: uppercase;
}

@media only screen and (min-width : 1500px) {
    #create-plan-modal {
          max-height: 55% !important;
        max-width: 55% !important;
    }
}

/*extras*/
#graph-card {
    height: 150px;
}

#graph-area {
    position: relative;
    top: 2em;
}
#graphs {
    position: relative;
    top: 3em;
}

.graph-text {
    position: relative !important;
    bottom: 73px !important;
    left: 3px;
    color: #949494 !important;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Roboto';
}

.graph-value {
    position: relative;
    bottom: 5em;
    color: #606060 !important;
    font-family: 'Roboto';
    font-weight: bold;
    left: 8px;
    font-size: 14px;
}

.nutgraph_val {
    position: relative;
    bottom: 3em;
    right: 0em;
    font-size: 14px;
    color: #616161 !important;
    font-family: 'Roboto';
}


/*Progresssbar*/

.progress {
    width: 95%;
    height: 14px !important;
    background-color: #eee;
    border-radius: 5px;
}

.progress_label {
    font-size: 12px;
    
}

.progress-div {
    margin-top: -28px !important;
}

.progress-div > div{
    margin-bottom: -17px !important;
}

.progress-spacing {
    position: relative;
    bottom: 0px;
}

.progress .determinate { 
    background-color: #8cc34b;
}

.linear_val {
    position: relative;
    left: 3em;
    left: 5em;
    font-size: 14px;
}

.prog-text {
    font-family: 'Roboto';
    font-size: 14px;
    color: #9d9d9d !important;
    position: relative;
    left: 3em;
    top: 5px;
}

.h {
    position: relative;
    top: 23px;
}

@media only screen and (max-width : 768px) {
    #graph-card {
        height: 450px;
    }
    
    .progress {
    width: 100%;
    height: 10px !important;
    background-color: #eee;
    }
    
    .linear_val {
    position: relative;
    right: 0em;
}
    .tab_head {
        font-size: 13px;
    }

}

.ingredient-meal-text {
    margin-left: -80px !important;
}
.recipe-meal-text {
    margin-left: -80px !important;
}

.recipe_dustbin_margin {
    margin-left: 20px !important;
}