#recipe-card {
    height: 60px !important;
}

.nutinfo-card {
    background-color: #fff;
    max-height: 1112px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.create-recipe-content {
    max-height: 1112px;
    height: 1115px;
    overflow-x: none;
    overflow-y: scroll;
}

#recipe-title {
    text-align: center !important;
    font-size: 18px;
    margin: -14px !important;
}

.filter-ul{
    height:250px !important;
    padding:10px !important;

}

#crop-modal{
    width:90% !important;
}

.filter-ul>li{
    padding:10px !important;

}

.add-ing {
    font-size: 16px;
    font-weight: 600;
}
#add-ingredients-modal{

    width:80% !important;
    max-height:90% !important;
    top:20px !important;

}

#upload-image-modal{

    width:80% !important;
    max-height:90% !important;
    top:20px !important;

}

.searchresult-create{
    height:85% !important;
    overflow-y:scroll !important;
}

.smallpaginate{
    font-size:8px !important;
}
h5.recipe-subheading {
    color: #212121;
    font-weight: 600;
    font-size: 15px;
}

.editabletext{
    color:#212121 !important;
    opacity: 87% !important;
    margin-top:10px;
    cursor: pointer;
}
.timediv{
    cursor:pointer;

}

.timediv:focus{
    cursor:pointer;
    color:#4f4f4f !important;
    margin-top:10px !important;
    cursor: pointer !important;
    border:2px solid #fff !important;
    border-bottom: 2px solid #00bcd4 !important;
    padding-bottom:10px !important;
    outline:none !important;
    
}

.editabletext:focus{
    color:#4f4f4f !important;
    margin-top:10px !important;
    cursor: pointer !important;
    border:2px solid #fff !important;
    border-bottom: 2px solid #00bcd4 !important;
    padding-bottom:10px !important;
    outline:none !important;
}


#select-delete-mat {
	padding-top: 32px !important;
}

#prep_time {
    width: 80% !important;
}

@media only screen and (max-width : 600px) {
    #prep_time {
        width: 127% !important;
    }
    
    .select-wrapper input.select-dropdown {
/*        width: 150% !important;*/
    }
    
    #serving {
        width: 250% !important;
    }
    
    #recipe_name {
        width: 150% !important;
    }
    
    
.select-delete-mat{
	padding-top:7px !important;
}

  
.cropArea {    
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

button#img_upload_btn {
    position: relative !important;
    top: 2em !important;
}
    
/* margin for filter select in modal */
#dropdown-create-recipe-sort{

}
#dropdown-create-recipe-sort li {
    margin-top: 10px !important;
    margin-left: 10px !important;
}

#dropdown-create-recipe-sort2{
    white-space: nowrap;
    position: absolute;
    top: 91px;
    left: 682.078px;
    opacity: 1;
    display: block;
    width: 20%;
}
    
#dropdown-edit-recipe-sort{

}
#dropdown-edit-recipe-sort li {
    margin-top: 10px !important;
    margin-left: 10px !important;
}

#dropdown-edit-recipe-sort2{
    white-space: nowrap;
    position: absolute;
    top: 91px;
    left: 682.078px;
    opacity: 1;
    display: block;
    width: 20%;
}