#dashboard-page {
    background-color: #f5f5f5;
}
.icon-img{
    margin-left:-8px !important;
}
.icon-label{
    margin-top: 6px !important;
    margin-left:-3px;
}
.icon-orig{
    height:37px;
    width:37px;
}

#db-container {
    margin: auto;
    width: 94%;
}

.top_mar {
    margin-top: 29px;
}

/*
a:focus{
    background-color: #ff5252;
    padding: 10px;
    border-radius: 25px
}
*/

 .db_list_text {
    color: #58595b !important;
     opacity: 50% !important;
    font-weight: 600;
    font-size: 16px;
}


/*
    margin-top: 0;
    margin-left: -19px;
*/
}

.click_icon::focus {
    background-color: crimson !important;
}

.shifted {
    padding: 0 !important;
}

ul.day-list li {
    display: inline-block;
    margin-left: 20px;
}

/*
.active a {
    border-bottom: 3px solid #ff5252; !important;
    background-color: transparent !important;
    color: #00bcd4 !important;
}
*/

#edit_content_db {
    font-size: 21px;  
}

.edit_content_icon {
    padding-left: 20em;
}

input:disabled {
    border-bottom: 1px solid rgba(0,0,0,0.26) !important;
}

@media only screen and (max-width : 600px) {
    ul.day-list li {
        margin-left: 9px;
        font-size: 20px;
        word-spacing: 10px !important;
    }
}