#dashboard-page {
    background-color: #f5f5f5;
}

#dashboard-list li a {
    text-align: center;
    color: #4f4f4f !important;
}

#dashboard-list i {
    color: #fff !important; 
    background-color: #00bcd4 !important;
    border: 1px solid #00bcd4 !important;
    border-radius: 25px;
    padding: 10px;
}

ul.day-list li {
    display: inline-block;
    margin-left: 20px;
}

.active a {
    border-bottom: 3px solid #ff5252; !important;
    background-color: transparent !important;
    color: #00bcd4 !important;
}

@media only screen and (max-width : 600px) {
    ul.day-list li {
        margin-left: 9px;
        font-size: 20px;
        word-spacing: 10px !important;
    }
}