#dashboard-page {
    background-color: #f5f5f5;
}

.icon-img{
    margin-left:-8px !important;
}

.icon-label-shrt{
    margin-top: 6px !important;
/*    margin-left:-10px !important;*/
}

#create-plan-dash-modal {
    max-width: 30% !important;
}

@media only screen and (max-width: 600px) { 
  .icon-label { 
    display: none !important; 
      margin-top: 6px !important;
    margin-left:-10px !important;
  } 
}
.icon-orig{
    height:37px;
    width:37px;
}

.icon-orig-nav {
/*    margin-top: 10px !important;*/
}

#db-container {
    margin: auto;
    width: 94%;
}

.dashbin {
    position: relative;
    bottom: 9px;
}
.dashbin:hover {
    cursor: pointer;
    color: #ff5252 !important;
}


.dash_graphcard {
    height: 40em !important;
}
.sidemenu_margin {
    margin-top: 26px;
}

.heart {
    position: relative !important;
    right: 16em !important;
    top: 2em;
}

.cmenu {
    position: relative;
    top: -11px;
}
.dash_progress {
    width: 95%;
    height: 14px !important;
    background-color: #eee;
    border-radius: 5px;
}

.dropdown-content li>a {
    padding: 14px 10px !important;
}
/*
a:focus{
    background-color: #ff5252;
    padding: 10px;
    border-radius: 25px
}
*/

calendar-md .md-toolbar-tools h2 {
    font-size: 14px !important;
}


 .db_list_text {
    color: #58595b !important;
     opacity: 50% !important;
    font-weight: 600;
    font-size: 16px;
}

.meal_lst{
    margin-top: -14px !important;
}

.myrecipe_card {
    height: 34em !important;
}

.prof_edit {
    position: relative;
    left: 15em;
}

.recipe_img {
    height: 100% !important;
}

.recipe-im {
    height: 40%;
}

.recipe-content {
    height: 50% !important;
}

.select-wrapper input.select-dropdown {
/*    color: #9e9e9e !important;*/
}

/*
    margin-top: 0;
    margin-left: -19px;
*/

.dash_serving {
/*    border: none;*/
/*    width: 193% !important;*/
    
/*    height: 1rem !important;*/
    text-align: center;
    color: #9e9e9e;
    
}

.bin {
    position: relative !important;
    bottom: 11px !important;
}

.click_icon::focus {
    background-color: crimson !important;
}

.shifted {
    padding: 0 !important;
}

ul.day-list li {
    display: inline-block;
    font-size: 12px !important;
    margin:auto;
}

ul.day-list li:nth-child(2) {
    display: inline-block;
    font-size: 12px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.date_change {
    position: relative;
    top: 8px;
}

.cal_icon:hover {
    color: #00bcd4 !important;
}


ul.day-list li span,i {
    font-family: 'Roboto';
    font-style: normal;
  
}

.shift_right {
    margin-left: 33px !important;
    margin-top: 3px !important;
}



.day_list {
    font-size: 20px;
}
/*
.active a {
    border-bottom: 3px solid #ff5252; !important;
    background-color: transparent !important;
    color: #00bcd4 !important;
}
*/

#edit_content_db {
    font-size: 21px;  
}

.edit_content_icon {
    padding-left: 20em;
}

input:disabled {
    border-bottom: 1px solid rgba(0,0,0,0.26) !important;
}

.meal_category {
    position: relative;
    left: 3em;
}

.ing_bin {
    position: relative;
    bottom: 1em;
    left: 5em !important;
}

.selcheck {
    position: relative;
    left: 1em;
    bottom: 3px;
}

.myplan-content {
    height: 24em !important;
}

.w {
    padding: 0;
}

 .myplan_graph_fat {
        position: relative !important;
        right: 2px !important;
     top: 1em;
    }
    
    .myplan_graph_prot {
        position: relative !important;
        right: 23px !important;
             top: 1em;

    }
    
    .myplan_graph_carbs {
        position: relative !important;
        right: 13px !important;
             top: 1em;

    }

.mygraph-text {
    position: relative !important;
    bottom: 73px !important;
    left: 10px !important;
    color: #949494 !important;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Roboto';
}

.mygraph-value {
    position: relative;
    bottom: 5em;
    color: #606060 !important;
    font-family: 'Roboto';
    font-weight: bold;
    left: 16px !important;
    font-size: 14px;
}

.save-more2 {
        cursor: pointer;
    font-size: 19px;
    position: absolute;
    float: right;
    bottom: 7px;
    right: 14em;
}

.save-more3 {
         cursor: pointer;
    font-size: 19px;
    position: absolute;
    float: right;
    bottom: 7px;
    right: 0em;
}
.mying-card {
    height: 23em !important;
}
/* SUMMARY PAGE */


@media only screen and (max-width : 600px) {
    ul.day-list li {
        margin-left: 9px;
        font-size: 20px;
        word-spacing: 10px !important;
    }
    
    #edit_content_db {
        position: relative;
        top: -33px;
        left: -71px;
    }

}


#diet-calendar-cont {
    margin-top: 8px;
    height: 600px !important;
}

.name-a {
  text-decoration: none; /* no underline */
}

.myrecipe-delete {
    display: block;
}

.myrecipe-delete > i {
    cursor: pointer;
    position: absolute;
    float: right;
    margin-left: 100px;
    bottom: 10px;
    left: 30px;
    color: #b6b6b6 !important;
}

.card-action-align {
    margin-top : -10px !important;
}

.delete-my-stuff {
    color: #f2f2f2 !important;
}

.delete-my-stuff:hover{
    color: #ff5252 !important;
}

.food-modal {
    height: 150% !important;
    width: 70% !important;
    max-height: 80%;
    overflow-x: hidden !important;
}


#add-meal-summary-modal {
    height: 55% !important;
    width: 50% !important;
}

@media only screen and (max-width: 600px) { 

    #add-meal-summary-modal{
        height: 65% !important;
        width: 97% !important;
    }
    
    .food-modal {
        max-width: 100% !important;
        width: 97% !important;
    }
}

button.dashboard-search-filter {
   border: none;
   background: none;
   color: #B6B6B6;
   z-index: 999;
   position: relative;
   font-size: 20px;
   opacity: 87%;
   width:100%;
   
}

button.dashboard-search-filter:hover {
    color: #00bcd4;
}

.bp_red {
    background-color:#ff2525 !important;
}

.add-meal-btn {
    background-color: #00bcd4;
}

.search-filter-align {
    padding-top: 17px !important;
}

.summary-ingred-align {
    margin-top: 20px !important;
}

.slide-nav-title {
    display:inline; 
    vertical-align:text-bottom;
}

.profile-img {
    max-width: 30% !important;
    min-width: 20% !important;
}