[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    font-family: 'Raleway',sans-serif;
}

a {
    text-decoration: none;
}

.active a {
    border-bottom: 3px solid #ff5252; !important;
    background-color: transparent !important;
    color: teal !important;
}

p {
    line-height: 2rem;
}


.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
  
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
}
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #featuredPlan a {
      margin-top: 20px;
  }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.center-btn {
    text-align: center;
}

.btn {
    background-color: #00bcd4;
}

.pagination li.active {
    background: none;
}

