nav {
    position: sticky;
}
nav ul a, nav .brand-logo {
    color: teal;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: transparent !important;
}

nav ul li.active a {
    background-color: transparent !important;
}

nav img {
    margin-left: 50px;
}

nav ul {
    margin-right: 50px;
}

.button-collapse {
  color: #26a69a;
}


/* LOGIN AND SIGNUP MODALS */


#modal1 { 
    max-height: 90%; 
    max-width: 35%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

