[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

nav {
    background-color: #fdfdfb;
    box-shadow: none;
}

nav ul a, nav .brand-logo {
    color: #00bcd4;
    font-weight: bold;
    opacity: 87%;
}

nav ul li.active a {
    background-color: transparent !important;
}
.login-btn{

    color: #00bcd4 !important;
    font-weight: bold !important;
    opacity: 87% !important;
    background:transparent !important;
    border:none;
    box-shadow: none;
    padding:0 15px;

}

.login-btn:hover{

    color: #00bcd4 !important;
    font-weight: bold !important;
    opacity: 87% !important;
    background:#eaeaea !important;
    border:none;
    box-shadow: none;
    padding:0 15px;

}

.btn-thumb {
    /* restyle a the user dropdown button to enable thumbnail*/
    height: 60px;
    overflow: hidden;
    background-color: transparent !important;
    box-shadow: none;
    border: none;
    position: relative;
    right: 14px;
}

.btn-thumb:active{
    background-color: transparent !important;
}

#small_logo {
    height: 67% !important;
    margin-top: 9px;
    margin-left: 14px;
}

#smallLogo {
    height: 41px;
    position: relative;
    top: 7px;
    left: 20px;
}

li>a>#user_dp {
    height: 37px;
    padding-top: 0px;
    margin-top: 13px;
}

.img_li{
    width: 100px !important;
    padding:0;
}
.img_li>a:hover{
    padding-bottom:0 !important;
}
nav ul {
    margin-right: 50px;
}

nav ul li {
    text-transform: uppercase;
}



/* STYLING IN MOBILE VIEW NAVIGATION */

.button-collapse {
  color: #00bcd4;
  left: 20px;
}

#nav-mobile li {
    border-bottom: 1px solid #eeeeee;
}

/* LOGIN AND SIGNUP MODAL */


#modal1 { 
    max-height: 75%;
    max-width: 35%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 5em;
    margin: auto;
}



@media only screen and (max-width : 400px) {
    #modal1 {
        max-height: 85% !important;
        max-width: 65% !important;
    }
    
    #modal1 h5 {
        left: 70px !important;
    }
} 

@media only screen and (min-width : 1500px) {
    #modal1 {
        max-height: 55% !important;
        max-width: 35% !important;
    }
}
