i[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

nav {
    background: none;
    box-shadow: none;
    padding: 0;
    background-position: 10px 0;
    padding-bottom: 0;
    background-size: cover;
    z-index: -1 !important
}

nav ul a, nav .brand-logo {
    color: #00bcd4;
    font-weight: bold;
    opacity: 87%;
}

nav ul li.active a {
    background-color: transparent !important;
}
.login-btn{

    color: #00bcd4 !important;
    font-weight: bold !important;
    opacity: 87% !important;
    background:transparent !important;
    border:none;
    box-shadow: none;
    padding:0 15px;
    font-family: 'Raleway', sans-serif !important;

}

.login-btn:hover{

    color: #00bcd4 !important;
    font-weight: bold !important;
    opacity: 87% !important;
    background:#eaeaea !important;
    border:none;
    box-shadow: none;
    padding:0 15px;

}

.fbicon {
    background-color: #3b5998 !important;
}

.fblogo {
    position: relative;
    right: 10px;
    top: 1px;
}

.fblogo:hover{
    background-color: #3b5998 !important;
}

.googleicon {
    background-color: #df4a32 !important;
}

.googlelogo {
    position: relative;
    right: 16px;
}
.btn-thumb {
    /* restyle a the user dropdown button to enable thumbnail*/
    height: 60px;
    overflow: hidden;
    background-color: transparent !important;
    box-shadow: none;
    border: none;
    position: relative;
    right: 14px;
}

.btn-thumb:active{
    background-color: transparent !important;
}

#small_logo {
    height: 45px !important;
    width: 45px !important;
    margin-top: 9px;
    margin-left: 14px;
}

#smallLogo {
    height: 41px;
    position: relative;
    top: 7px;
    left: 20px;
}

li>a>#user_dp {
    height: 37px;
    padding-top: 0px;
    margin-top: 13px;
}

.img_li{
    width: 100px !important;
    padding:0;
}
.img_li>a:hover{
    padding-bottom:0 !important;
}
nav ul {
    margin-right: 50px;
}

nav ul li {
    text-transform: uppercase;
}



/* STYLING IN MOBILE VIEW NAVIGATION */

.button-collapse {
  color: #00bcd4;
  left: 20px;
}

#nav-mobile li {
    border-bottom: 1px solid #eeeeee;
}

.mobile_dp {
    border-radius: 50%;
    border-radius: 50%;
    height: 7em;
    margin-left: 7em;
    margin-top: 2em;
}

/* LOGIN AND SIGNUP MODAL */


#modal1 { 
    max-height: 70%;
    max-width: 40%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 5em;
    margin: auto;
    overflow: auto;
}


/*
@media only screen and (min-width : 901px and max-width : ) {
     #modal1 {
        max-height: 90% !important;
        max-width: 85% !important;
        overflow: auto;
    }
}
*/

@media only screen and (max-width : 900px) {
    #modal1 {
        max-height: 85% !important;
        max-width: 85% !important;
        overflow-y: auto;
    }
    
    #modal1 h5 {
        left: 70px !important;
    }
} 

@media only screen and (min-width : 1500px) {
    #modal1 {
        max-height: 63% !important;
        max-width: 35% !important;
    }
}

@media only screen and (max-width : 1280px) {
    #modal1 {
        overflow-y: auto;
    }
}


#user_info_modal {
    top: 5% !important;
    max-height: 92% !important;
    height : 92% !important;
    width: 30%;
}

@media only screen and (max-width : 600px) {
    #user_info_modal {
        width: 80%;
    }
}

#create-plan-nav-modal {
    max-width: 30% !important;
}

.navbar-dropdown-icon {
    margin-left: 0px !important;
}

.dpdown-cont-top {
    z-index: 1004 !important;
}