#recipesPage {
    background-color: #f5f5f5;
}

#recipes-result-card {
	height: 490px;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;   
}
.recipeCheckCard{

    height:500px;

}

pre p {
    line-height: 26px;
    margin-top: -21px !important;
    font-family: 'Raleway';
    margin-left: 10px !important;
    font-size: 14px;
}

p.recipe-card-info {
    color: #212121 !important;
    opacity: 54% !important;
    line-height: 22px;
    font-size: 14px;
} 

.raise {
    margin-top: -30px;
}

.read-more {
    cursor: pointer;
    font-size: 19px;
    position: absolute;
    float: right;
    bottom: 7px;
    right: 14px
}

.save-more {
    cursor: pointer;
    font-size: 19px;
    position: absolute;
    float: right;
    bottom: 7px;
    right: 9em;
}

.heart-c {
    cursor: pointer;
    font-size: 19px;
    position: absolute;
    float: left;
    bottom: 0px;
    left: 30px
}

.heart-c:hover{
    color: #ff5252;
    cursor: pointer;
    font-size: 19px;
    position: absolute;
    float: left;
    bottom: 0px;
    left: 30px
}

.heart-ok{
    color: #ff5252;
    cursor: pointer;
    font-size: 19px;
    position: absolute;
    float: left;
    bottom: 0px;
    left: 30px
}

.nutinfo_dropdown {
    font-size: 30px;
    position: relative;
    top: 8px;
}

.recipe_img {
    height: 75%;
    width: 75%;
}

/*
.recipe_search_card {
    height: 37em !important;
}

.recipe_search_content {
    height: 21em !important;
}
*/

td.energy {
    width: 50%;
}

.upload_file {
    margin-top: 1em !important;
}

#upload-image-modal {
    max-width: 50% !important;
}

@media only screen and (max-width : 768px) {
    #planPage {
        min-height: 640px;
        bottom: -70%;
    }
    .smallmid {
       margin:auto !important;
        width: 100% !important;
        min-height: 440px !important;
    }
}

