#recipesPage {
    background-color: #f5f5f5;
}

#recipes-result-card {
	height: 490px;
}

pre {
/* white-space: pre-wrap;     */ /*   css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;   
}
.recipeCheckCard{

    height:500px;

}

pre p {
    line-height: 26px;
    margin-top: -21px !important;
    font-family: 'Roboto';
    margin-left: 10px !important;
    font-size: 14px;
}

p.recipe-card-info {
    color: #212121 !important;
    opacity: 54% !important;
    line-height: 22px;
    font-size: 14px;
} 

.raise {
    margin-top: -30px;
}

.recipe-action-right {
    cursor: pointer;
    font-size: 19px;
    margin-left: auto;
}

.recipe-action-left {
    cursor: pointer;
    font-size: 19px;
    
}

.save-more {
    cursor: pointer;
    font-size: 19px;
    position: absolute;
    float: right;
    bottom: 7px;
    right: 9em;
}

.heart-c {
    cursor: pointer;
/*    font-size: 19px;*/
/*    bottom: 0px;*/
    position: absolute;
    color: #bcbcbc !important;
}

.heart-c:hover{
    color: #ff5252 !important;
    cursor: pointer;
/*    font-size: 19px;*/
/*    bottom: 0px;*/
    position: absolute;
}

.heart-ok{
    color: #ff5252 !important;
    cursor: pointer;
/*    font-size: 19px;*/
/*    bottom: 0px;*/
    position: absolute;
}

.nutinfo_dropdown {
    font-size: 30px;
    position: relative;
    top: 8px;
}

.recipe_img_container{
    height: 210px !important;
}

.recipe_img {
    height: 75%;
    width: 75%;
}


td.energy {
    width: 50%;
}

.upload_file {
    margin-top: 1em !important;
}

#upload-image-modal {
    max-width: 50% !important;
}

@media only screen and (max-width : 768px) {
    #planPage {
        min-height: 640px;
        bottom: -70%;
    }
    .smallmid {
       margin:auto !important;
        width: 100% !important;
        min-height: 440px !important;
    }
}


.recipe-content {
    max-height:50% !important;
}


/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 6.4em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

/* styles for '...' */ 
.recipe-card-title {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 2.4em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.recipe-card-title:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.recipe-card-title:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.fat-subgroup {
    width: 80% !important;
}

.recipe-card-action {
    padding: 7px !important;
}
.recipe-step{
    white-space: pre-wrap;
}