/*
.rating-stars ul {
    list-style: none;
    padding: 0px;
}

.rating-stars ul > li.star {
    display: inline-block;
}

.rating-stars ul > li.star > i.fa {
    font-size: 2.5em;
    color: #ccc;
}

.rating-stars ul > li.star.hover > i.fa {
    color: #ffcc36;
}

.rating-stars ul > li.star.selected > i.fa {
    color: #ffcc36;
}*/


canvas.star {
        float: left;
        z-index: 1;
    }
    .stars {
        visibility: hidden;
        display: inline-block;
        position: relative;
        z-index: 0;
    }
    .stars-selected {
        position: absolute;
        max-width: 100%;
        height: 100%;
        z-index: -1;
    }