<!DOCTYPE html>


<html>
    <head lang="en">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <title>BiteSpace</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- use template variables. hard coded static because it didn't seem 
            to work. do it right later -->
            <link rel="stylesheet" href="/static/css/bootstrap.css"  media="screen">
            <link rel="stylesheet" href="/static/css/custom.css">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
                <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
                <script src="../bower_components/respond/dest/respond.min.js"></script>
                <![endif]-->
                <script src="/static/js/ga.js" async="" type="text/javascript"></script>

                <script>

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-23019901-1']);
                _gaq.push(['_setDomainName', "bootswatch.com"]);
                _gaq.push(['_setAllowLinker', true]);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www')
                             + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

                </script>

    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="https://bootswatch.com/" class="navbar-brand">BiteSpace</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Plans</a> 
                        </li>
                        <li>
                            <!-- came with the bootswatch template. change later -->
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <a href="#">Blogs & Articles</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" target="_blank">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        {% block body_block %} This is body_block's default template conetnt. {% endblock %} 
        <script src="/static/js/jquery-1.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/custom.js"></script>
        <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
        </script>

    </body>
</html>
