<!doctype html>
{% load staticfiles %}
<html class="no-js" ng-app="biteApp">
  <head>
    <meta charset="utf-8">
    <title>BiteApp</title>
    <meta name="description" content="Nutrition, exercise, Diet, Meal, Ingredients, Health, Fitness">
    <meta name="viewport" content="width=device-width">
      <base href="/" />

    {% include 'stylesheets.html' %}
  </head>
  <body ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. 
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--HEADER WILL CONTAIN NAVBAR WHICH WILLBE COMMON TO EVERY PAGE-->

    <div class="header">
        <div ng-include="'static/templates/navbar.html'"></div>
    </div>

    <!-- THIS WILL CONTAIN THE BODY OF OUR APP --> 
    <div>
        <div ng-view></div>
    </div>

    
    <!--FOOTER WILL ALSO REMAIN COMMON TO ALL VIEWS-->
    <div class="footer">
        <div ng-include="'static/templates/footer.html'"></div>
   </div>

<div id="fb-root">
    </div>

    <script>
        //facebook here
    //***************************************************
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '778572508914532',
      status     : true,
      xfbml      : true,
      version    : 'v2.2'
        });
    };
    
    (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    
    </script>
    {% include 'javascripts.html' %}
      
      <script>
    $(document).ready(function(){
  //Calling the open modal function manually no need for trigger
  $('.tooltipped').tooltip({delay: 50});



    $("#modal1").width($("#modal1").width());
       
    $('input#input_name').characterCounter();
    $('input#input_password').characterCounter();

    });

 
      </script>
    

     

</body>
</html>
