{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/moment/src/moment.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/materialize/dist/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/satellizer/satellizer.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angularUtils-pagination/dirPagination.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-svg-round-progressbar/build/roundProgress.js' %}"></script>


<script type="text/javascript" src="{% static 'javascripts/biteApp.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/services/angular-auth-service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/services/searchService.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/services/recipeService.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/services/angular-Http-Service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/dashboardController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/planController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/ingredientsController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/createPlanController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/createRecipeController.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/directives/customValidator.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/directives/checklist.js' %}"></script>


<script type="text/javascript" src="{% static 'javascripts/controllers/navbarController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/resetController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/recipesController.js' %}"></script>