{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/Materialize/dist/js/materialize.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/biteApp.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/services/angular-Http-Service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/services/angular-auth-service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/biteApp.constants.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
 -->
<!-- <script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>
 -->

