{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/Materialize/dist/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/biteApp.js' %}"></script>

<script type="text/javascript" src="'{% static 'bower_components/progressbar.js/dist/progressbar.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/services/angular-auth-service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/services/angular-Http-Service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/navbarController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/registerController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/dashboardController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/planController.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/directives/pageList.js' %}"></script>

