{% load staticfiles %}

<link rel="stylesheet" href="{% static 'bower_components/Materialize/dist/css/materialize.min.css' %}" media="screen,projection">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="screen,projection">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/landingPage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/searchPlan.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/starRating.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/footer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/createPlan.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/searchIngredients.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/ingredientResult.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/recipes.css' %}">



<link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
