<!-- DEFINES THE CALENDAR VIEW ON THE DASHBOARD. A SIMILAR VIEW SHOULD BE USED 
FOR SUMMARY PAGE WITH THE VIEW FIXED TO A DAY VIEW -->

<md-content id="calendar-demo" ng-controller="calendarCtrl" layout="column" layout-fill>
    <calendar-md flex layout layout-fill
        calendar-direction="direction"
        on-prev-month="prevMonth"
        on-next-month="nextMonth"
        on-day-click="dayClick"
        title-format="'MMMM y'"
        ng-model='selectedDate'
        day-format="dayFormat"
        day-label-format="'EEE'"
        week-starts-on="firstDayofWeek"
        day-content="setDayContent">
     </calendar-md>
</md-content>
