<section class="full-length" id="create-plan">
    <div class="container" id="create-container">
        <div class="row">
            <div class="col s12 m12 center">
                <p style="color:red">{{followPlanError}}</p>
                <p style="color:green">{{saveStatus}}</p>
            </div>
            <div class="col s12 m12">
                <div class="card white darken-1">
                    <div class="card-content black-text">
                        <div class="row" id="summary-info">
                            <div class="col s12 m10 push-m1">
                                <div class="row">
                                         <div class="col s12 m3">
                                        <p class="ing-text">NAME OF THE
                                        PLAN :</p>
                                        </div>
                                               <div class="col s12 m3">
                                        <p class="meal-text">
                                        {{plan.name}}</p>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col s12 m3">
                                        <p class="ing-text">DURATION
                                        :</p>
                                    </div>


                                    <div class="col s12 m3">
                                        <p class="meal-text">
                                        {{plan.duration}} Weeks</p>
                                    </div>

                                    <div class="col s12 m2">
                                        <p class="ing-text">ASSUMPTIONS
                                        :</p>
                                    </div>


                                    <div class="col s12 m3">
                                        <p class="">
                                        {{'Weight : ' + plan.weight + '&nbsp;' + 'Kgs' + '&nbsp;' + '&nbsp;' + '&nbsp;' + '|' }} {{'Height : ' + plan.height + '&nbsp;' +'cms' + '&nbsp;' + '| ' }}
                                         BMI :  {{10000*plan.weight/(plan.height*plan.height) | number:1}}</p>
                                    </div>
                                </div>
                                
                                     <div class="row">
                                         <div class="col s12 m2">
                                        <p class="ing-text">GOAL :</p>
                                    </div>


                                    <div class="col s12 m3">
                                        <p class="meal-text">
                                        {{plan.goal}}</p>
                                    </div>
                                        </div>

                                <div class="row">
                                    <div class="col s12 m12">
                                        <p class="ing-text">DESCRIPTION
                                        :</p>
                                    </div>
                                    <br>

                                    <div class="col s12 m12">
                                        <p class="meal-text descrip_overflow">
                                        {{plan.description}}</p>
                                    </div>
                                </div>


                                <!-- <div class="row">
                                    <div class="col s12 m6">
                                        <p class="ing-text" style=
                                        "text-transform:uppercase">CREATED BY
                                        :</p>
                                    </div>


                                    <div class="col s12 m6">
                                        <p class="meal-text" style=
                                        "text-transform:uppercase">
                                        {{Data.planName}}</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s12 m6">
                                     <div class="row horizontal-line vertical-line top-line left-line">
                            <div class=
                                    "col s4 m4">
                                    <p class="center tab_head ing-text">Food plan
                                    for</p>
                                    </div>


                                    <div class=
                                    "col s4 m4 left-line">
                                        <div class="row">
                                            <div class="col s3">
                                                 <a href="#" ng-click=
                                                "updateDayPlan1('week_no','-1')" class="ing-text tab_head right"><i class="material-icons left_arrow_pos">
                                                arrow_drop_up</i></a>
                                            </div>
                                             
                                            <div class="col s6">
                                                <p class="ing-text tab_head center" ng-model=
                                                "dayplan1.week_no">Week
                                                {{dayplan1.week_no}}</p>
                                            </div>
                                            
                                            <div class="col s3">
                                                <a href="#" ng-click=
                                                "updateDayPlan1('week_no','1')" class="ing-text tab_head"><i class="material-icons right_arrow_pos">
                                                arrow_drop_down</i></a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col s3 m4 left-line">
                                        <div class="row">
                                            <div class="col s3 center">
                                                <a href="#" ng-click=
                                                "updateDayPlan1('day_no','-1')" class="ing-text tab_head center"><i class="material-icons left_arrow_pos">
                                               arrow_drop_up</i></a>
                                            </div>
                                            
                                            <div class="col s6 center">
                                                 <p class="ing-text tab_head" ng-model=
                                                "dayplan1.day_no">Day
                                                {{dayplan1.day_no}}</p>
                                            </div>
                                            
                                            <div class="col s3 center">
                                                  <a href="#" ng-click=
                                                "updateDayPlan1('day_no','1')" class="ing-text tab_head"><i class="material-icons right_arrow_pos">
                                                arrow_drop_down</i></a>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div>
                            </div>
                            
                            <div class="col m6 hide-on-small-only">
                                         <div class="row horizontal-line vertical-line top-line">
                            <div class=
                                    "col s4 m4">
                                    <p class="center tab_head ing-text">Food plan
                                    for</p>
                                    </div>


                                    <div class=
                                    "col s4 m4 left-line">
                                        <div class="row">
                                            <div class="col s3">
                                                 <a href="#" ng-click=
                                                "updateDayPlan2('week_no','-1')" class="ing-text tab_head right"><i class="material-icons left_arrow_pos">
                                                arrow_drop_up</i></a>
                                            </div>
                                             
                                            <div class="col s6">
                                                <p class="ing-text tab_head center" ng-model=
                                                "dayplan2.week_no">Week
                                                {{dayplan2.week_no}}</p>
                                            </div>
                                            
                                            <div class="col s3">
                                                <a href="#" ng-click=
                                                "updateDayPlan2('week_no','1')" class="ing-text tab_head"><i class="material-icons right_arrow_pos">
                                                arrow_drop_down</i></a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col s3 m4 left-line">
                                        <div class="row">
                                            <div class="col s3 center">
                                                <a href="#" ng-click=
                                                "updateDayPlan2('day_no','-1')" class="ing-text tab_head center"><i class="material-icons left_arrow_pos">
                                               arrow_drop_up</i></a>
                                            </div>
                                            
                                            <div class="col s6 center">
                                                 <p class="ing-text tab_head" ng-model=
                                                "dayplan2.day_no">Day
                                                {{dayplan2.day_no}}</p>
                                            </div>
                                            
                                            <div class="col s3 center">
                                                  <a href="#" ng-click=
                                                "updateDayPlan2('day_no','1')" class="ing-text tab_head"><i class="material-icons right_arrow_pos">
                                                arrow_drop_down</i></a>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div>
                            </div>
                        </div>


               


                        <div class="container" id="create-container">
                            <div class="row">
                                <div class="col s12 m6 vertical-line">
                                    <div ng-repeat="key in mealPlanNameArray">
                                        <div class="horizontal-line">
                                            <div class="row">
                                                <div class="col s3 m3">
                                                    <p class="ing-text" style="font-size:15px !important">{{key.mealname}}</p>
                                                </div>


                                                <div class="col s1 m1">
                                                    <span>|</span>
                                                </div>


                                                <div class="col s3 m2">
                                                    <span class="meal-text">{{key.time | date:'HH:mm'}}</span>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="row">
                                                    <div class="col s6 center">
                                            
                                                        <b ng-if="key.mealingredient.length>0" style="margin-left: 13px !important">Ingredients</b>
                                                    </div>
                                                    <div class="col s6 center">
                                                
                                                        <b ng-if="key.mealingredient.length>0" style="margin-left: 13px !important">Servings</b>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div ng-repeat=
                                                "item1 in key.mealingredient track by $index">
                                                    <div class="container" id=
                                                    "create-container">
                                                        <div class="row">
                                                            <div class="col s6">
                                                             <p class="meal-text">
                                                        {{item1.ingredient.name}}
                                                        </p>
                                                            </div>
                                                            <div class="col s6">
                                                                <p class="meal-text center">{{item1.quantity}}- {{item1.unit.description}}
                                                               &nbsp;&nbsp; ({{item1.quantity*item1.unit.weight}}
                                                                    &nbsp; grams)</p>
                                                            </div>
                                                            
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="row">
                                                    <div class="col s6 center">
                                            
                                                        <b ng-if="key.mealrecipe.length>0" style="margin-left: 11px !important">Recipes</b>
                                                    </div>
                                                    <div class="col s6 center">
                                                
                                                        <b ng-if="key.mealingredient.length>0" style="margin-left: 13px !important">Servings</b>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            
                                                <div ng-repeat=
                                                "item1 in key.mealrecipe track by $index">
                                                    <div class="container" id=
                                                    "create-container">
                                                        <div class="row">
                                                            <div class="col s6">
                                                             <p class="meal-text">
                                                        {{item1.recipe.name}}
                                                        </p>
                                                            </div>
                                                            <div class="col s6">
                                                                <p class="meal-text center">{{item1.servings}}</p>
                                                            </div>
                                                            
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col s12 m6 vertical-line hide-on-small-only">
                                    <div ng-repeat="key in mealPlanNameArray2">
                                        <div class="horizontal-line">
                                            <div class="row">
                                                <div class="col s3 m3">
                                                    <p class="ing-text" style="font-size:15px !important">{{key.mealname}}</p>
                                                </div>


                                                <div class="col s1 m1">
                                                    <span>|</span>
                                                </div>


                                                <div class="col s3 m2">
                                                    <span class="meal-text">{{key.time | date:'HH:mm'}}</span>
                                                </div>
                                            </div>


                                             <div class="row">
                                             <div class="col s12">
                                                    <div class="row">
                                                    <div class="col s6 center">
                                            
                                                        <b ng-if="key.mealingredient.length>0" style="margin-left: 13px !important">Ingredients</b>
                                                    </div>
                                                    <div class="col s6 center">
                                                
                                                        <b ng-if="key.mealingredient.length>0" style="margin-left: 13px !important">Servings</b>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div ng-repeat=
                                                "item1 in key.mealingredient track by $index">
                                                    <div class="container" id=
                                                    "create-container">
                                                        <div class="row">
                                                            <div class="col s6">
                                                             <p class="meal-text">
                                                        {{item1.ingredient.name}}
                                                        </p>
                                                            </div>
                                                            <div class="col s6">
                                                                <p class="meal-text center">{{item1.quantity}}- {{item1.unit.description}}
                                                               &nbsp;&nbsp; ({{item1.quantity*item1.unit.weight}}
                                                                    &nbsp; grams)</p>
                                                            </div>
                                                            
                                                        </div>
                                                 
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                            <div class="col s12">
                                                    <div class="row">
                                                    <div class="col s6 center">
                                            
                                                        <b ng-if="key.mealrecipe.length>0" style="margin-left: 11px !important">Recipes</b>
                                                    </div>
                                                    <div class="col s6 center">
                                                
                                                        <b ng-if="key.mealingredient.length>0" style="margin-left: 13px !important">Servings</b>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                
                                                <div ng-repeat=
                                                "item1 in key.mealrecipe track by $index">
                                                    <div class="container" id=
                                                    "create-container">
                                                        <div class="row">
                                                            <div class="col s6">
                                                             <p class="meal-text">
                                                        {{item1.recipe.name}}
                                                        </p>
                                                            </div>
                                                            <div class="col s6">
                                                                <p class="meal-text center">{{item1.servings}}</p>
                                                            </div>
                                                            
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="nutsinfo">
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card white">
                            <div class="card-content black-text">
                                <div class="container" id="create-container">
                                    <p class="card-title left" id=
                                    "recipe-title" style="margin-left: 10px">
                                    Nutritional Information</p>
                                    <i class=
                                                                      "material-icons right cyan-text">expand_more</i>
                                    <br>
                                              <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Calories</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('energy_kcal', false, 1) | number:0
                                }} &nbsp;&nbsp;kcal</p>
                                </div>
                            </div>
                            
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Carbohydrates</p>
                                 </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('carbohydrate_tot', false, 1) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Proteins</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('protein_tot', false, 1) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Fats</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fat_tot', false, 1) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Monounsaturated Fats</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fa_mono_g', true, 1) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Polyunsaturated Fats</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fa_poly_g',true, 1) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Saturated Fats</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fa_sat_g', true, 1) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Sugar</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('sugar_tot', false, 1) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Fiber</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fiber_tot', false, 1) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col s12">
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Cholestrol</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('cholestrl_mg', true, 1) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Sodium</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('sodium_mg', true, 1) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Calcium</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('calcium_mg', true, 1) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Iron</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('iron_mg', true, 1) | number:0}} &nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin A</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_a_iu', true, 1) | number:0}}&nbsp;&nbsp;IU</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin B12</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_b12_mcg', true, 1) | number:0}}&nbsp;&nbsp;mcg</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin C</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_c_mg', true, 1) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin D</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_d_mcg', true, 1) | number:0}}&nbsp;&nbsp;mcg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin E</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_e_mg', true, 1) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
            <div class="col s12 m6 hide-on-small-only">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card white">
                            <div class="card-content black-text">
                                <div class="container" id="create-container">
                                    <p class="card-title left" id=
                                    "recipe-title" style="margin-left: 10px">
                                    Nutritional Information</p>
                                    <i class=
                                    "material-icons right cyan-text">expand_more</i>
                                    <br>
                                              <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Calories</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('energy_kcal', false, 2) | number:0
                                }}&nbsp;&nbsp;kcal</p>
                                </div>
                            </div>
                            
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Carbohydrates</p>
                                 </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('carbohydrate_tot',false, 2) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Proteins</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('protein_tot',false, 2) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Fats</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fat_tot', false, 2) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Monounsaturated Fats</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fa_mono_g', true, 2) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Polyunsaturated Fats</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fa_poly_g',true, 2) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Saturated Fats</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fa_sat_g', true, 2) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Sugar</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('sugar_tot', false, 2) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Fiber</p>
                                </div>
                                <div class="col s6">
                                   <p class="meal-text">&nbsp;&nbsp; {{
                                calcDayNutrientVal('fiber_tot', false, 2) | number:0
                                }}&nbsp;&nbsp;g</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col s12">
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Cholestrol</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('cholestrl_mg', true, 2) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Sodium</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('sodium_mg', true, 2) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Calcium</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('calcium_mg', true, 2) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Iron</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('iron_mg', true, 2) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin A</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_a_iu', true, 2) | number:0}}&nbsp;&nbsp;IU</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin B</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_b12_mcg', true, 2) | number:0}}&nbsp;&nbsp;mcg</p>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin C</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_c_mg', true, 2) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin D</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_d_mcg', true, 2) | number:0}}&nbsp;&nbsp;mcg</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text">Vitamin E</p>
                                </div>
                                <div class="col s6">
                                    <p class="meal-text">{{calcDayNutrientVal('vitamin_e_mg', true, 2) | number:0}}&nbsp;&nbsp;mg</p>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>


    <div class="row">
        <div class="col s12 center">
            <div class="row">


                <div class="col s3  m2 push-m4">
                    <a class=
                    "btn" ng-click="shortlistPlan(plan.id)">Save</a>
                </div>

                <div class="col s3 offset-s3 m2 push-m4">
                    <a class=
                   "btn datepicker_btn" ng-click="followPlan(plan)">Follow</a>
                </div>
            </div>
        </div>
    </div>
</section>