<section id="planPage">
<div class="row">
        <div class="col s12 m12">
          <div class="card white" id="graph-card">
            <div class="card-content black-text">
                                   
                        <!-- GRAPHS -->
                        
                        <!--LINEAR PROGRESSBARS-->
                        <div class="row" id="graph-area">
                            <div class="col s12 m5">
                                <div ng-repeat="key in mealPlanNameArray track by $index">
                                    <div class="row">
                                        <div class="col s3">
                                            <p class="ing-text progress_label">{{key.mealname}}</p>
                                        </div>
                                        <div class="col s9">
                                            <div class="progress progress-spacing">
                                                <div class="determinate" style="width: {{(key.mealNutrition.energy_kcal / calculateGlobalMacros('energy_kcal'))*100}}%"></div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <p class="ing-text" style="position:relative; left:5em">Total Calories : {{calculateGlobalMacros('energy_kcal')}} Kcal</p>
                            </div>
                            

    
                            <!-- ROUND PROGRESSBARS -->
                            <div class="col s12 m7">
                                <div clas="row">
                                    <div class="col s12 m4 center">
                                        <div
                                        round-progress
                                        max="100"
                                        current="(calculateGlobalMacros('carbohydrate_tot')*4)/(calculateGlobalMacros('energy_kcal')/100)"
                                        color="#0764fa"
                                        bgcolor="#eaeaea"
                                        radius="70"
                                        stroke="4"
                                        semi="false"
                                        rounded="true"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"></div>
                                        <p class="center graph-text">CARBS</p>
                                       <p class="center graph-value">{{((calculateGlobalMacros('carbohydrate_tot')*4) / ((calculateGlobalMacros('energy_kcal'))/100)) | number}} %</p>
                                        <p class="ing-text nutgraph_val">{{calculateGlobalMacros('carbohydrate_tot') | number}} g</p>
                                    </div>
                                    
                                    <div class="col s12 m4 center">
                                        <div
                                        round-progress
                                        max="100"
                                        current="(calculateGlobalMacros('protein_tot')*4)/(calculateGlobalMacros('energy_kcal')/100)"
                                        color="#ff5252"
                                        bgcolor="#eaeaea"
                                        radius="70"
                                        stroke="4"
                                        semi="false"
                                        rounded="true"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"></div>
                                         <p class="center graph-text">PROTEINS</p>
                                        <p class="center graph-value">{{(calculateGlobalMacros('protein_tot')*4) / ((calculateGlobalMacros('energy_kcal'))/100) | number}} %</p>
                                         <p class="ing-text nutgraph_val">{{calculateGlobalMacros('protein_tot') | number}} g</p>
                                    </div>
     
                                    <div class="col s12 m4 center">
                                        <div
                                        round-progress
                                        max="100"
                                        current="(calculateGlobalMacros('fat_tot')*9)/(calculateGlobalMacros('energy_kcal')/100)"
                                        color="#faf60a"
                                        bgcolor="#eaeaea"
                                        radius="70"
                                        stroke="4"
                                        semi="false"
                                        rounded="true"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"></div>
                                        <p class="center graph-text">FATS</p>
                                        <p class="center graph-value">{{(calculateGlobalMacros('fat_tot')*9) / ((calculateGlobalMacros('energy_kcal'))/100) | number}} %</p> 
                                        <p class="ing-text nutgraph_val">{{calculateGlobalMacros('fat_tot') | number}} g</p>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
          </div>
        </div>
      </div>
            
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="container cont-create">
                    <div class="card-content black-text">
                        <br>
                        <div class="row">
                            <div class=
                                    "col s3 horizontal-line vertical-line top-line left-line">
                                    <p class="center ing-text">Your food plan
                                    for</p>
                                    </div>


                                    <div class=
                                    "col s2">
                                        <div class="row horizontal-line top-line left-line">
                                            <div class="col s3">
                                                 <a href="#" ng-click=
                                                "updateDayPlan('week_no','-1')" class="ing-text right"><i class="material-icons left_arrow_pos">
                                                arrow_drop_up</i></a>
                                            </div>
                                             
                                            <div class="col s6">
                                                <p class="ing-text center" ng-model=
                                                "dayplan.week_no">Week
                                                {{dayplan.week_no}}</p>
                                            </div>
                                            
                                            <div class="col s3">
                                                <a href="#" ng-click=
                                                "updateDayPlan('week_no','1')" class="ing-text"><i class="material-icons right_arrow_pos">
                                                arrow_drop_down</i></a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col s2">
                                        <div class="row horizontal-line top-line left-line">
                                            <div class="col s3 center">
                                                <a href="#" ng-click=
                                                "updateDayPlan('day_no','-1')" class="ing-text center"><i class="material-icons left_arrow_pos">
                                               arrow_drop_up</i></a>
                                            </div>
                                            
                                            <div class="col s6 center">
                                                 <p class="ing-text" ng-model=
                                                "dayplan.week_no">Day
                                                {{dayplan.day_no}}</p>
                                            </div>
                                            
                                            <div class="col s3 center">
                                                  <a href="#" ng-click=
                                                "updateDayPlan('day_no','1')" class="ing-text"><i class="material-icons right_arrow_pos">
                                                arrow_drop_down</i></a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col s5">
                                        <div class="row horizontal-line top-line left-line">
                                            <div class="col s4">
                                                <p class="ing-text center">Copy to</p>
                                            </div>
                                            <div class="col s8 meal-text">
                                                <i class="material-icons copy_icon">date_range</i>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div>

                        <div id="meal_list_card">
                        <div class="hor-line" ng-repeat=
                        "key in mealPlanNameArray track by $index">
                            <div class="row">
                                        <div class="col m1 center">
                                            <a ng-click=
                                            "clearMeal($index)"><i class=
                                            "material-icons cyan-text item-align center">
                                            delete</i></a>
                                        </div>

                                        <div class="col m2 center">
                                            <div class="editabletext ing-text"
                                            contenteditable="" id="meals"
                                            ng-blur="updateDayMealPlan($index)"
                                            ng-model="key.mealname">
                                            </div>
                                        </div>
                                        
                                        <div class="col m1 center">
                                            <span class="separate">|</span>
                                        </div>

                                        <div class="col m2 center">
                                            <input id="exampleInput" name=
                                            "input" ng-blur=
                                            "updateDayMealPlan($index)"
                                            ng-model="key.time" placeholder=
                                            "HH:mm:ss" required="" type="time">
                                        </div>
                            </div>


                            <div class="row center lowbo" ng-if=
                            "key.mealingredient.length>0">
                                <div class="col m4 namecol">
                                    <p class="meal-text">Name</p>
                                </div>


                                <div class="col m1">
                                    <p class="meal-text">&nbsp;&nbsp;
                                    &nbsp;&nbsp; Amt</p>
                                </div>


                                <div class="col m1 selco">
                                    <p class="meal-text">Unit</p>
                                </div>


                                <div class="col m1">
                                    <p class="meal-text">Carbs</p>
                                </div>


                                <div class="col m1">
                                    <p class="meal-text">Proteins</p>
                                </div>


                                <div class="col m1">
                                    <p class="meal-text">Fats</p>
                                </div>


                                <div class="col m1">
                                    <p class="meal-text">Fiber</p>
                                </div>
                            </div>
                            <br>


                            <div class="row" ng-repeat=
                            "item1 in key.mealingredient track by $index">
                                <div class="row selected-meal-ingredient-list">
                                    <div class="col m4">
                                        <p class="meal-text" ng-model=
                                        "plan.ingredientData">
                                        {{item1.ingredient.name}}</p>
                                    </div>


                                    <div class="col m1">
                                        <input class="serving" ng-model=
                                        "item1.quantity" ng-change=
                                        "updateMealIngredient(item1)" ng-pattern=
                                        "/^[0-9]+(\.[0-9]{1,2})?$/" step="0.25"
                                        type="number">
                                    </div>


                                    <div class="input-field col m1 selcol">
                                        <select id="ing_select"
                                        material-select="" ng-change=
                                        "updateMealIngredient(item1)" ng-model=
                                        "item1.unit" ng-options=
                                        "unit as unit.description for unit in item1.ingredient.measure track by unit.id">
                                        </select>
                                    </div>


                                    <div class="col m1">
                                        <p class="meal-text">
                                        {{item1.ingredient.carbohydrate_tot *
                                        item1.quantity | number}}</p>
                                    </div>


                                    <div class="col m1 namecol">
                                        <p class="meal-text">
                                        {{item1.ingredient.protein_tot *
                                        item1.quantity | number}}</p>
                                    </div>


                                    <div class="col m1 namecol">
                                        <p class="meal-text">
                                        {{item1.ingredient.fat_tot *
                                        item1.quantity | number}}</p>
                                    </div>


                                    <div class="col m1">
                                        <p class="meal-text">
                                        {{item1.ingredient.fiber_tot *
                                        item1.quantity | number}}</p>
                                    </div>


                                    <div class="col m1">
                                        <a ng-click=
                                        "removeIngredientsFromSavedMeal(key.counter, $index)">
                                        <i class=
                                        "material-icons b">delete</i></a>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s12">
                                    <span id="shortcut-menu"><a class=
                                    "cyan-text">Quick Tools</a>&nbsp;&nbsp;
                                    <span class=
                                    "cyan-text">|</span>&nbsp;&nbsp; <a class=
                                    "cyan-text" ng-click=
                                    "openCreatePlanModal($index)">Add
                                    Food</a></span>
                                </div>
                            </div>
                        </div>
                        </div>
                        <br>


                        <div id="cont-create">
                            <div class="row">
                                <div class="col m12">
                                    <div class="row">
                                        <div class="col s3">
                                            <a class=
                                            "btn-floating btn-small waves-effect waves-light"
                                            id="add-meal-button" ng-click=
                                            "triggerAddMealModal()"><i class=
                                            "material-icons add-button routine">
                                            add</i></a>

                                            <h6 class="nutri routine">
                                            &nbsp;&nbsp;Add Meal</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    


<div class="container" id="create-container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Nutritional Information</span>
                    <br>
                    <div class="row">
                        <div class="col s2">
                            &nbsp;&nbsp;
                        </div>


                        <div class="col s2">
                            <p class="ing-text">Energy(kcal)</p>
                        </div>


                        <div class="col s2">
                            <p class="ing-text">Carbohydrates</p>
                        </div>


                        <div class="col s2">
                            <p class="ing-text">Proteins</p>
                        </div>


                        <div class="col s2">
                            <p class="ing-text">Fats</p>
                        </div>


                        <div class="col s2">
                            <p class="ing-text">Fiber</p>
                        </div>
                    </div>
                    <!--TOTAL NUTRITION-->


                    <div class="row" ng-if="mealPlanNameArray">
                        <div class="col s2">
                            <div class="row">
                                <div class="col s12">
                                    <p>Total</p>
                                </div>
                            </div>
                        </div>


                        <div class="col s2">
                            <div class="row horizontal-line">
                                <p class="meal-text">&nbsp;&nbsp; {{
                                calculateGlobalMacros('energy_kcal') | number
                                }}</p>
                            </div>
                        </div>


                        <div class="col s2">
                            <div class="row horizontal-line">
                                <p class="meal-text">&nbsp;&nbsp; {{
                                calculateGlobalMacros('carbohydrate_tot') |
                                number }}</p>
                            </div>
                        </div>


                        <div class="col s2">
                            <div class="row horizontal-line">
                                <p class="meal-text">&nbsp;&nbsp; {{
                                calculateGlobalMacros('protein_tot') | number
                                }}</p>
                            </div>
                        </div>


                        <div class="col s2">
                            <div class="row horizontal-line">
                                <p class="meal-text">&nbsp;&nbsp; {{
                                calculateGlobalMacros('fat_tot') | number
                                }}</p>
                            </div>
                        </div>


                        <div class="col s2">
                            <div class="row horizontal-line">
                                <p class="meal-text">&nbsp;&nbsp; {{
                                calculateGlobalMacros('fiber_tot') | number
                                }}</p>
                            </div>
                        </div>
                    </div>


<!--
                    <div ng-repeat="key in mealPlanNameArray track by $index">
                        <div class="row">
                            <div class="col s2">
                                <div class="row">
                                    <div class="col s12">
                                        <p>{{key.mealname}}</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col s2">
                                <div class="row horizontal-line">
                                    <p class="meal-text">&nbsp;&nbsp; {{
                                    calculateTotalInfo($index, 'energy_kcal') |
                                    number }}</p>
                                </div>
                            </div>


                            <div class="col s2">
                                <div class="row horizontal-line">
                                    <p class="meal-text">&nbsp;&nbsp; {{
                                    calculateTotalInfo($index,
                                    'carbohydrate_tot') | number }}</p>
                                </div>
                            </div>


                            <div class="col s2">
                                <div class="row horizontal-line">
                                    <p class="meal-text">&nbsp;&nbsp; {{
                                    calculateTotalInfo($index, 'protein_tot') |
                                    number }}</p>
                                </div>
                            </div>


                            <div class="col s2">
                                <div class="row horizontal-line">
                                    <p class="meal-text">&nbsp;&nbsp; {{
                                    calculateTotalInfo($index, 'fat_tot') |
                                    number }}</p>
                                </div>
                            </div>


                            <div class="col s2">
                                <div class="row horizontal-line">
                                    <p class="meal-text">&nbsp;&nbsp; {{
                                    calculateTotalInfo($index, 'fiber_tot') |
                                    number }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12 center">
        <a class="waves-effect waves-light btn center" ng-href=
        "{{backUrl2}}">Back</a> &nbsp;&nbsp;&nbsp;&nbsp; <a class=
        "waves-effect waves-light btn center" ng-href=
        "{{nextUrl2}}">{{$routeParams.id}}Next</a>
    </div>
</div>
<!-- Add Meal Modal-->

<div class="modal modal-fixed-footer" id="add-meal-modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <input class="validate" id="meal_name" ng-model="meal" type=
                "text"> <label for="meal_name">Meal name</label>
            </div>
        </div>


        <div class="row">
            <p>Meal Time</p>


            <div class="input-field col s3">
                <select material-select="" ng-model="hours" ng-options=
                "i for i in addMealHours">
                    </select>
            </div>


            <div class="input-field col s3">
                <select material-select="" ng-model="minutes" ng-options=
                "i for i in addMealMinutes">
                    </select>
            </div>


            <div class="input-field col s3">
                <select material-select="" ng-model="ampm" ng-options=
                "i for i in amPmArray">
                    </select>
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <div class="center-btn">
                    <a class="waves-effect waves-light btn largebtn" ng-click=
                    "addMeal(meal)">CREATE A MEAL</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CREATE PLAN MODAL -->


<div class="modal" id="create-plan-modal">
    <a class=
    " modal-action modal-close waves-effect waves-green btn-flat right"
    ng-click="emptyModalContents()">X</a>

    <div class="modal-content">
        <div class="row">
            <div class="col m6">
                <div class="card white create-search-box" id="searchcard">
                    <!-- SEARCH-BOX -->


                    <div class="card-content black-text">
                        <textarea class="form-control" id="searchbox" ng-model=
                        "query" placeholder=
                        "Search people & places"></textarea> <button class=
                        "fa fa-search search-ingredient" ng-click=
                        "searchPlan(query)" type="submit"></button>
                    </div>
                    <!-- END OF SEARCH-BOX -->
                </div>
            </div>


            <div class="col m6">
                <!-- GET RID OF THIS -->


                <p>Hello</p>
            </div>
            <br>


            <div class="row">
                <div class="col m6 create-modal-half1">
                    <div ng-repeat=
                    "detail in details | limitTo:7 track by $index">
                        <p><input checklist-model="nutrientValue"
                        checklist-value="detail" class="filled-in" id=
                        "filled-in-box{{$index}}" ng-disabled=
                        "checkToDisable(detail.id)" type="checkbox">
                        <label class="ing-text" for="filled-in-box{{$index}}"
                        id="check-label">{{detail.name}}</label></p>
                    </div>
                </div>


                <div class="col m6">
                    <div class="nutsection" ng-if="nutrientValue.length>0">
                        <div class="row hline">
                            <div class="col m3">
                                <p class="a ahead servehead">Serving:</p>
                            </div>


                            <div class="col m2">
                                <input id="serving" ng-model="ingQuantity"
                                type="text" value="1">
                            </div>


                            <div class="col m3">
                                <p class="a ahead">Amt</p>
                            </div>


                            <div class="col m2">
                                <p class="a ahead">Amt</p>
                            </div>
                        </div>


                        <div class="row hline">
                            <div class="col m6">
                                <p class="a b ahead">Calories (kcal)</p>
                            </div>


                            <div class="col m6">
                                <p class="a b">
                                {{nutrientValue[nutrientValue.length-1].energy_kcal
                                | number }}</p>
                            </div>
                        </div>


                        <div class="row hline">
                            <div class="col m6">
                                <p class="a b ahead">Proteins</p>
                            </div>


                            <div class="col m6">
                                <p class="a b">
                                {{nutrientValue[nutrientValue.length-1].protein_tot
                                | number }}</p>
                            </div>
                        </div>


                        <div class="row hline">
                            <div class="col m6">
                                <p class="a b ahead">Fats</p>
                            </div>


                            <div class="col m6">
                                <p class="a b">
                                {{nutrientValue[nutrientValue.length-1].fat_tot
                                | number }}</p>
                            </div>
                        </div>


                        <div class="row hline">
                            <div class="col m6">
                                <p class="a b ahead">Carbohydrates</p>
                            </div>


                            <div class="col m6">
                                <p class="a b">
                                {{nutrientValue[nutrientValue.length-1].carbohydrate_tot
                                | number }}</p>
                            </div>
                        </div>


                        <div class="row hline">
                            <div class="col m6">
                                <p class="a b ahead">Fiber</p>
                            </div>


                            <div class="col m6">
                                <p class="a b">
                                {{nutrientValue[nutrientValue.length-1].fiber_tot
                                | number }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="container" id="create-container">
                        <p class="ing-text">
                        {{mealPlanNameArray[currentMealPlanName].mealname}}</p>
                    </div>
                    <br>
                    <br>


                    <div class="row" ng-repeat="item in nutrientValue">
                        <div class="col m10 meal-list">
                            <p class="ing-text meal-list" ng-if=
                            "nutrientValue.length>0">{{item.name}}</p>
                        </div>


                        <div class="col m2 meal-list">
                            <a href="#" ng-click=
                            "removeIngredient(item)"><i class=
                            "material-icons meal-list right dustbin" ng-if=
                            "nutrientValue.length>0">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col m12 center">
                <a class="waves-effect waves-light btn btn-social largebtn"
                ng-click="addContents()">Add</a>
            </div>
        </div>
    </div>
</div>
</section>