<div id="planPage">
    <div id="dashboard-page">
        <div class="row">
            <div class="col s12 m2">
                <div class="card white darken-1 top_mar">
                    <div class="card-content grey-text">
                        <div class="row">
                            <!-- SUMMARY TAB -->


                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(1)"><img ng-if="tab!=1"
                                class="icon-orig" src="static/images/summary_deselect.png">
                                <img ng-if="tab==1" class="icon-orig" src=
                                "static/images/summary.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(1)}" ng-click=
                                "setTab(1)">Summary</a>
                            </div>
                        </div>
                        <!-- PROFILE TAB -->


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(2)"><img ng-if="tab!=2"
                                class="icon-orig" src="static/images/profile_deselect.png">
                                <img ng-if="tab==2" src=
                                "static/images/profile.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(2)}" ng-click=
                                "setTab(2)">Profile</a>
                            </div>
                        </div>
                        <!-- CALENDAR TAB -->


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(3)"><img ng-if="tab!=3"
                                class="icon-orig" src="static/images/calendar_deselect.png">
                                <img ng-if="tab==3" src=
                                "static/images/calendar.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(3)}" ng-click=
                                "setTab(3)">Calendar</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(4)"><img ng-if="tab!=4"
                                class="icon-orig" src="static/images/progress_deselect.png">
                                <img ng-if="tab==4" src=
                                "static/images/progress.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(5)}" ng-click=
                                "setTab(4)">Progress</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(5)"><img ng-if="tab!=5"
                                class="icon-orig" src="static/images/myplans_deselect.png">
                                <img ng-if="tab==5" src=
                                "static/images/myplans.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(5)}" ng-click="setTab(5)">My
                                Plans</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(6)"><img ng-if="tab!=6"
                                class="icon-orig" src="static/images/summary_deselect.png">
                                <img ng-if="tab==6" src=
                                "static/images/summary.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(6)}" ng-click=
                                "setTab(6)">Create Plans</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(7)"><img ng-if="tab!=7"
                                class="icon-orig" src="static/images/reciepes_deselect.png">
                                <img ng-if="tab==7" src=
                                "static/images/reciepes.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(7)}" ng-click="setTab(7)">My
                                Recipes</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(8)"><img ng-if="tab!=8"
                                class="icon-orig" src="static/images/summary_deselect.png">
                                <img ng-if="tab==8" src=
                                "static/images/summary.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(8)}" ng-click=
                                "setTab(8)">Create Recipes</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(9)"><img ng-if="tab!=9"
                                class="icon-orig" src="static/images/searchplan_deselect.png">
                                <img ng-if="tab==9" src=
                                "static/images/searchplan.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(9)}" ng-click="setTab(9)">My
                                Ingredients</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(10)"><img ng-if="tab!=10"
                                class="icon-orig" src="static/images/searchplan_deselect.png">
                                <img ng-if="tab==10" src=
                                "static/images/searchplan.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(10)}" ng-click=
                                "setTab(10)">Search Plans</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SUMMARY VIEW -->


            <div ng-if="tab==1">
                <div class="col s6">
                    <div class="card white top_mar">
                        <div class="card-content">
                            <span class="card-title center-align"></span>

                            <div class="row">
                                <span class="card-title center-align"></span>

                                <div class="col s12 m12">
                                    <span class=
                                    "card-title center-align"></span>

                                    <ul class="day-list">
                                        <li><span class=
                                        "card-title center-align"><i class=
                                        "fa fa-chevron-left cyan-text"></i></span>
                                        </li>


                                        <li><span class=
                                        "card-title center-align">Yesterday</span>
                                        </li>


                                        <li><span class=
                                        "card-title center-align">Today</span>
                                        </li>


                                        <li><span class=
                                        "card-title center-align">Tomorrow</span>
                                        </li>


                                        <li><span class=
                                        "card-title center-align"><i class=
                                        "fa fa-chevron-right cyan-text"></i></span>
                                        </li>


                                        <li><span class=
                                        "card-title center-align"><i class=
                                        "material-icons silver-text">date_range</i></span>
                                        </li>
                                    </ul>
                                </div>


                                <div class="col s12 m12">
                                    <span class=
                                    "card-title center-align"></span>

                                    <h5 class="center-align"><span class=
                                    "card-title center-align">Weight Loss in 2
                                    weeks</span>
                                    </h5>
                                </div>
                                <!--POPULATE DASHBOARD WITH RANDOM DATA-->


                                <div ng-controller='summaryCtrl'>
                                    <span class=
                                    "card-title center-align"></span>

                                    <div ng-repeat="x in plan_data">
                                        <span class=
                                        "card-title center-align"></span>

                                        <h5 class='left-align'><span class=
                                        "card-title center-align">{{x.title}}</span>
                                        </h5>


                                        <div ng-repeat='y in x.ingredient'>
                                            <span class=
                                            "card-title center-align"></span>

                                            <div class="row">
                                                <span class=
                                                "card-title center-align"></span>

                                                <div class="col s3 m3">
                                                    <span class=
                                                    "card-title center-align"></span>

                                                    <h6><span class=
                                                    "card-title center-align">{{y.name[0]}}</span>
                                                    </h6>
                                                </div>


                                                <div class="col s2">
                                                    <span class=
                                                    "card-title center-align"><input class="validate"
                                                    id="servings" type="text"
                                                    value=
                                                    "{{y.name[1]}}"></span>
                                                </div>
                                                <span class=
                                                "card-title center-align"></span>

                                                <div class="col s4">
                                                    <span class=
                                                    "card-title center-align"><label for="servings">
                                                    {{y.name[2]}}</label></span>
                                                </div>
                                                <span class=
                                                "card-title center-align"></span>

                                                <div class="col s2 m1">
                                                    <span class=
                                                    "card-title center-align"><input checked="checked"
                                                    class="filled-in" id=
                                                    "filled-in-box1" type=
                                                    "checkbox"> <label for=
                                                    "filled-in-box1"></label></span>
                                                </div>
                                                <span class=
                                                "card-title center-align"></span>

                                                <div class="col m1 center">
                                                    <span class=
                                                    "card-title center-align"><a ng-click="removeIngredientsFromSavedMeal(value)">
                                                    <i class=
                                                    "material-icons b">delete</i></a></span>
                                                </div>
                                                <span class=
                                                "card-title center-align"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF SUMMARY WINDOW-->
            <!-- PROFILE VIEW -->


            <div ng-if="tab==2" ng-controller="profileController">
                <div class="col s6">
                    <div class="card white top_mar">
                        <div class="card-content cyan-text">
                            <a class="cyan-text" ng-click=
                            "editIt=!editIt"><i class=
                            "material-icons edit_content_icon">mode_edit</i><span class="right"
                            id="edit_content_db">EDIT PROFILE</span></a>

                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="col s3 offset-s4">
                                            <div class="file-field input-field">
                                              
                                                <img class="responsive-img circle" 
                                                     ng-src="{{profileInfo.image_path}}">
                                                <input type="file" 
                                                   file-model="profile_image_file.src" accept='image/*' ng-disabled="!editIt"/>
                                              </div>
                                            </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <label for="first_name">Current
                                            Weight (in kgs)</label>
                                            <input class="validate" id=
                                            "first_name" ng-disabled="!editIt" type=
                                            "number" ng-model="profileInfo.weight">
                                        </div>
                                    </div>

<!-- WE ARE NOT STORING THIS IN THE DATABASE YET-->
<!--
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input class="validate" disabled
                                            id="disabled" ng-if="!editIt"
                                            readonly type="number">
                                            <input class="validate" id="goal"
                                            ng-if="editIt" type="text">
                                            <label for="goal">Goal Weight (in
                                            kgs)</label>
                                        </div>
                                    </div>
-->


                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input class="validate" id="height" 
                                                   ng-disabled="!editIt" type="number"
                                                   ng-model="profileInfo.height"> 
                                            <label for=
                                            "height">Height (in cms)</label>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="input-field col s6">
                                            <div class="row">
                                                <div class="col s3 m3">
                                                    <label>Gender</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                </div>


                                                <div class="col s9 m9">
                                                    <input checked class=
                                                    "with-gap" id="test5" name=
                                                    "group3" ng-disabled="!editIt"
                                                    type="radio" ng-model='profileInfo.gender'  value="M"> <label for=
                                                    "test5">M</label>&nbsp;&nbsp;
                                                    
                                                    <input class=
                                                    "with-gap" id="test4" name=
                                                    "group3" ng-disabled="!editIt"
                                                    type="radio" ng-model='profileInfo.gender'  value="F"> <label for=
                                                    "test4">F</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input class="datepicker_btn" 
                                                   ng-disabled="!editIt" type="text" 
                                                   ng-click="updateDOB()"
                                                   ng-model="placeHolderDOB">
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <div class="row center">
                                        <div class="input-field col s12">
                                            <button class=
                                            "waves-effect waves-light btn"
                                                   ng-disabled="!editIt" 
                                                    ng-click="updateProfileInfo()"
                                            ng-if="editIt">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CALENDAR VIEW -->


            <div ng-if="tab==3">
                <div class="col s10">
                    <div class="card top_mar" >
                            <div ng-include="'static/templates/calendar.html'" style="height: 680px !important;">
                            </div>

                    </div>
                </div>
            </div>


            <div ng-if="tab==9">
                <div class="col s6">
                    <div class="card white darken-1 top_mar">
                        <div class="card-content black-text">
                            {{alpha.carba}}
                        </div>
                    </div>
                </div>
            </div>


            <div class="col m4">
                <div class="card white top_mar">
                    <div class="card-content cyan-text">
                        <h5 class="card-title center-align">Recent
                        Activity</h5>


                        <p>I am a very simple card. I am good at containing
                        small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
         $('label').addClass('active');

});
</script>