<section ng-controller = "dashboardController">

<div class="ng-cloak" ng-class="{'navbar-fixed' : isMobile()}" ng-cloak="" ng-controller="navbarController">
    <ul class="dropdown-content" id="dropdown1">
        <li>
            <a class="cyan-text" ng-click="load('/dashboard/summary')">Dashboard</a>
        </li>


        <li>
            <a class="cyan-text" ng-click="logout();load('/')">Logout</a>
        </li>
    </ul>
    
     <nav class="navbar " role="navigation" id="dashboard-navbar">
        <div class="nav-wrapper" style="background-color: white !important">
            <a class="brand-logo" ng-click="load('/')" id="logo-container" ng-class=
            '{"inactive":toggle==0}' ><img class=
            "responsive-img small" id="smallLogo" src=
            "static/images/Logo-new.png"></a>
      
            <ul class="right hide-on-med-and-down" id="main_menu">
                <li ng-class='{"active":toggle==1}' ng-click='toggle=1'>
                    <a ng-click="load('/dietplans/search')">Plans</a>
                </li>


                <li ng-class='{"active":toggle==2}' ng-click='toggle=2'>
                    <a ng-click="load('/ingredients')">Ingredients</a>
                </li>


                <li ng-class='{"active":toggle==3}' ng-click='toggle=3'>
                    <a ng-click="load('/recipes/search')">Recipes</a>
                </li>


                <li ng-class='{"active":toggle==4}' ng-click='toggle=4'>
                    <a href="http://blog.biteplans.com/">Blog</a>
                </li>


                <li>
                    <button class="login-btn" href="#modal1" ng-show="!isLoggedIn" 
                            ng-click="openModal()" >
                        LOGIN
                    </button>
                    <button ng-show="isLoggedIn" 
                            class='circle dropdown-button btn-thumb'
                            data-activates='dropdown1' data-beloworigin="true">
                
                        <img class="responsive-img small circle"
                            id="small_logo" ng-src="{{user_thum}}">
                    </button>
                </li>
            </ul>

            <ul id="dashboard-nav-mobile" class="side-nav">  
                            
                <li>
                    <img class="mobile_dp" ng-src="{{user_thum}}">
                </li>

                <li>
                    <a ng-click="load('/dashboard/summary')" class="cyan-text" ng-if="isLoggedIn">Dashboard</a>
                </li>

                <li>
                <a class="cyan-text" ng-click="load('/dietplans/search')">Plans</a>
                </li>

                <li>
                <a class="cyan-text" ng-click=
                "load('/ingredients')">Ingredients</a>
                </li>

                <li>
                <a class="cyan-text" ng-click="load('/recipes/search')">Recipes</a>
                </li>

                <li>
                <a class="cyan-text" href="http://blog.biteplans.com">Blog</a>
                </li>
                <!--function to open modal openModal()-->

                <li>
                <a class="cyan-text" href="#modal1" ng-click=
                "openModal()" ng-if="!isLoggedIn">Log in</a>
                <a class="cyan-text" ng-click="logout()" ng-if=
                "isLoggedIn">Log out</a>
                </li>
            </ul>
            
            <ul id="slide-out" class="side-nav">
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('summary')">
                          <img ng-if="tab.tab!=='summary'" class="icon-orig-nav"     
                               src="static/images/summary_deselect.png">
                          <img ng-if="tab.tab==='summary'" class="icon-orig-nav"
                               src="static/images/summary.png">

                          <span class="slide-nav-title">Summary</span>
                      </a>
                  </div>
</li>
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('profile')">
                          <img ng-if="tab.tab!=='profile'" class="icon-orig-nav"     
                               src="static/images/profile_deselect.png">
                          <img ng-if="tab.tab==='profile'" class="icon-orig-nav"
                               src="static/images/profile.png">
                          <span class="slide-nav-title">Profile</span>
                      </a>
                  </div>
</li>
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('calendar')">
                          <img ng-if="tab.tab!=='calendar'" class="icon-orig-nav"     
                               src="static/images/calendar_deselect.png">
                          <img ng-if="tab.tab==='calendar'" class="icon-orig-nav"
                               src="static/images/calendar.png">
                          <span class="slide-nav-title">Calendar</span>
                      </a>
                  </div>
</li>
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('plans')">
                          <img ng-if="tab.tab!=='plans'" class="icon-orig-nav"     
                               src="static/images/myplans_deselect.png">
                          <img ng-if="tab.tab==='plans'" class="icon-orig-nav"
                               src="static/images/myplans.png">
                          <span class="slide-nav-title">My Plans</span>
                      </a>
                  </div>
</li>
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('recipes')">
                          <img ng-if="tab.tab!=='recipes'" class="icon-orig-nav"     
                               src="static/images/reciepes_deselect.png">
                          <img ng-if="tab.tab==='recipes'" class="icon-orig-nav"
                               src="static/images/reciepes.png">
                          <span class="slide-nav-title">My Recipes</span>
                      </a>
                  </div>
</li>  
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('ingredients')">
                          <img ng-if="tab.tab!=='ingredients'"
                               class="icon-orig-nav"     
                               src="static/images/myingredients_deselect.png">
                          <img ng-if="tab.tab==='ingredients'"
                               class="icon-orig-nav"
                               src="static/images/myingredients_select.png">
                          <span class="slide-nav-title">My Ingredients</span>
                      </a>
                  </div>
</li>
                <li class="bold">
                    
                  <div class="row">
                      <a ng-click="setTab('searchPlans');redirectToSearchPlan()">
                          <img ng-if="tab.tab!=='searchPlans'" 
                               class="icon-orig-nav"     
                               src="static/images/searchplan_deselect.png">
                          <img ng-if="tab.tab==='searchPlans'"
                               class="icon-orig-nav"
                               src="static/images/searchplan.png">
                          <span class="slide-nav-title">Search Plans</span>
                      </a>
                  </div>
             </li>
            </ul>
    
            <div class="row container hide-on-med-and-up">
                <a href="#" data-activates="dashboard-nav-mobile" class="button-collapse-1 cyan-text left"><i class="material-icons">menu</i></a>
              <a href="#" data-activates="slide-out " class="button-collapse-2 cyan-text right"><i class="material-icons">more_vert</i></a>
            </div>
         </div>
    </nav>
</div>
    
<div id="planPage">
    <div id="dashboard-page" >
        <div class="row">
            <div class="col s12 m2 hide-on-small-only" >
                <div class="card white darken-1 sidemenu_margin">
                    <div class="card-content grey-text">
                        <div class="row">
                            <!-- SUMMARY TAB -->


                            <div class="col s5 m5 l5 icon-img">
                                <a ng-click="setTab('summary')"><img ng-if="tab.tab!=='summary'"
                                class="icon-orig" src="static/images/summary_deselect.png">
                                <img ng-if="tab.tab==='summary'" src=
                                "static/images/summary.png"></a>
                            </div>


                            <div class="col m7 l7 center icon-label icon-label-shrt">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet('summary')}" ng-click=
                                "setTab('summary')">Summary</a>
                            </div>
                        </div>
                        <!-- PROFILE TAB -->


                        <div class="row">
                            <div class="col s5 m5 l5 icon-img">
                                <a ng-click="setTab('profile')"><img ng-if="tab.tab!=='profile'"
                                class="icon-orig" src="static/images/profile_deselect.png">
                                <img ng-if="tab.tab==='profile'" src=
                                "static/images/profile.png"></a>
                            </div>


                            <div class="col m7 l7 center icon-label icon-label-shrt">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet('profile')}" ng-click=
                                "setTab('profile')">Profile</a>
                            </div>
                        </div>
                        <!-- CALENDAR TAB -->


                        <div class="row">
                            <div class="col s5 m5 l5 icon-img">
                                <a ng-click="setTab('calendar')"><img ng-if="tab.tab!=='calendar'"
                                class="icon-orig" src="static/images/calendar_deselect.png">
                                <img ng-if="tab.tab==='calendar'" src=
                                "static/images/calendar.png"></a>
                            </div>


                            <div class="col m7 l7 center icon-label icon-label-shrt">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet('calendar')}" ng-click=
                                "setTab('calendar')">Calendar</a>
                            </div>
                        </div>

<!--

                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab('progress')"><img ng-if="tab.tab!=='progress'"
                                class="icon-orig" src="static/images/progress_deselect.png">
                                <img ng-if="tab.tab==='progress'" src=
                                "static/images/progress.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet('progress')}" ng-click=
                                "setTab('progress')">Progress</a>
                            </div>
                        </div>
-->


                        <div class="row">
                            <div class="col s5 m5 l5 icon-img">
                                <a ng-click="setTab('plans')"><img ng-if="tab.tab!=='plans'"
                                class="icon-orig" src="static/images/myplans_deselect.png">
                                <img ng-if="tab.tab==='plans'" src=
                                "static/images/myplans.png"></a>
                            </div>


                            <div class="col m7 l7 center icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet('plans')}" ng-click="setTab('plans')">My
                                Plans</a>
                            </div>
                        </div>


                        <div class="row hide-on-med-and-down">
                            <div class="col s5 m5 l5 icon-img">
                                <a ng-click="setTab('addPlan');openShortInfoModal()"><img ng-if="tab.tab!=='addPlan'"
                                class="icon-orig" src="static/images/addplan_deselect.png">
                                <img ng-if="tab.tab==='addPlan'" src=
                                "static/images/addplan.png"></a>
                            </div>


                            <div class="col m7 l7 center icon-label">
                                <a ng-click="openShortInfoModal()" class="db_list_text">Create Plan</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 l5 icon-img">
                                <a ng-click="setTab('recipes')"><img ng-if="tab.tab!=='recipes'"
                                class="icon-orig" src="static/images/reciepes_deselect.png">
                                <img ng-if="tab.tab==='recipes'" src=
                                "static/images/reciepes.png"></a>
                            </div>


                            <div class="col m7 l7 center icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet('recipes')}" ng-click="setTab('recipes')">My
                                Recipes</a>
                            </div>
                        </div>


                        <div class="row hide-on-med-and-down">
                            <div class="col s5 m5 l5 icon-img">
                                <a href="recipes/create-recipes" ng-click="setTab('createRecipe')" href="recipes/create-recipes"><img ng-if="tab.tab!=='createRecipe'"
                                class="icon-orig" src="static/images/createrecipe_deselect.png">
                                <img ng-if="tab.tab==='createRecipe'" src=
                                "static/images/createrecipe_select.png"></a>
                            </div>


                            <div class="col m7 l7 center icon-label">
                                <a href="recipes/create-recipes" class="db_list_text" ng-class=
                                "{active:tab.isSet('createRecipe')}" ng-click=
                                "setTab('createRecipe')">Create Recipes</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 l5 icon-img">
                                <a ng-click="setTab('ingredients')"><img ng-if="tab.tab!=='ingredients'"
                                class="icon-orig" src="static/images/myingredients_deselect.png">
                                <img ng-if="tab.tab==='ingredients'" src=
                                "static/images/myingredients_select.png"></a>
                            </div>


                            <div class="col m7 l7 center icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet('ingredients')}" ng-click="setTab('ingredients')">My
                                Ingredients</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 l5 icon-img">
                                <a href="dietplans/search" ng-click="setTab('searchPlans');redirectToSearchPlan()"><img ng-if="tab.tab!=='searchPlans'"
                                class="icon-orig" src="static/images/searchplan_deselect.png">
                                <img ng-if="tab.tab==='searchPlans'" src=
                                "static/images/searchplan.png"></a>
                            </div>


                            <div class="col m7 l7 center icon-label">
                                <a href="#" ng-click="setTab('searchPlans');redirectToSearchPlan()" class="db_list_text">Search Plans</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    
            
            <!--SUMMARY VIEW -->


            <div ng-if="tab.tab==='summary'">
                <div class="col s12 m10">
                        <div ng-include="'static/templates/summary.html'"></div>
                </div>
                
            </div>
            <!-- END OF SUMMARY WINDOW-->
            <!-- PROFILE VIEW -->


            <div ng-if="tab.tab==='profile'" ng-controller="profileController">
                <div class="col s12 m10">
                    <div ng-include="'static/templates/profile.html'"></div>
                </div>
            </div>
            <!-- CALENDAR VIEW -->


            <div ng-if="tab.tab==='calendar'">
                <div class="col s12 m10">
<!--                    <div class="col s10">-->
<!--                        <div class="card top_mar" >-->
                            <div ng-include="'static/templates/calendar.html'" class="calendar"></div>
<!--                        </div>-->
<!--                    </div>-->
<!--
                    <div class="col s10">
                        <div class="card" >
                            <div ng-include="'static/templates/followPlans.html'"></div>
                        </div>
                    </div>
-->
                </div>
                
<!--                <div class="row">-->
                    
<!--                </div>-->
            </div>

            <div ng-if="tab.tab==='plans'">
                <div class="col s12 m10">
                    <div class="top_mar" ng-controller="shortlistedPlansController">
                        <div ng-include="'static/templates/myplans.html'"></div>
                    </div>
                </div>
            </div>

            <div ng-if="tab.tab==='recipes'">
                <div class="col s12 m10">
                    <div class="top_mar" ng-controller="shortlistedRecipesController">
                        <div ng-include="'static/templates/myrecipes.html'" ></div>
                    </div>
                </div>
            </div>

            <div ng-if="tab.tab==='ingredients'">
                <div class="col s12 m10">
                    <div class="top_mar" ng-controller="shortlistedIngredientsController">
                        <div ng-include="'static/templates/myingredients.html'"></div>
                    </div>
                </div>
            </div>
            
             <div ng-if="tab.tab==10">
                <div class="col s12 m10">
                    <div class="top_mar">
                        <div ng-include="'static/templates/myingredients.html'"></div>
                    </div>
                </div>
            </div>
            
<!--
            <div ng-if="tab.tab==1" ng-controller="summaryCtrl">
                <div class="col s4">
                    <div ng-include="'static/templates/summaryGraphs.html'"></div>
                </div>
            </div>
-->
        </div>
    </div>
</div>

<div class="modal" id="create-plan-dash-modal">
    <a class=
    "modal-action modal-close btn-flat right">X</a>

    <div class="modal-content">
        <form ng-submit="createPlan()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name_plan" ng-model="plan.name" type="text"
                        class="validate" pattern=".{8,191}" 
                        required title="Please enter 8 to 75 Characters">
                    <label for="name_plan">Name of Plan</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <input id="duration_plan" ng-model="plan.duration" type=
                    "number" required min="1" max="8" title="Plan must be at most 8 weeks long" class=validate> <label for="duration_plan">Duration (in Weeks)</label>
                </div>
            </div>
            <br>
            <br>


            <div class="row center">
                <div class="col s12">
                    <button class=
                    "center btn largebtn" type=
                    "submit">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
</section>
<script>
    
$(document).ready(function () {
    $('label').addClass('active');
    $('#navbar').hide();
    $(".dropdown-button").dropdown();
    $('.button-collapse-1').sideNav({
      menuWidth: 300, // Default is 240
      closeOnClick: true, 
        edge:'left'
    // Closes side-nav on <a> clicks, useful for Angular/Meteor
        
    });
    
    $('.button-collapse-2').sideNav({
      menuWidth: 300, // Default is 240
      closeOnClick: true ,
        // Closes side-nav on <a> clicks, useful for Angular/Meteor
        edge:'right'
    });
    
  $('.collapsible').collapsible();
});
</script>