<div id="planPage">
    <div id="dashboard-page" ng-controller = "dashboardController">
        <div class="row">
            <div class="col s12 m2">
                <div class="card white darken-1 sidemenu_margin">
                    <div class="card-content grey-text">
                        <div class="row">
                            <!-- SUMMARY TAB -->


                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(1)"><img ng-if="tab.tab!=1"
                                class="icon-orig" src="static/images/summary_deselect.png">
                                <img ng-if="tab.tab==1" class="icon-orig" src=
                                "static/images/summary.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(1)}" ng-click=
                                "setTab(1)">Summary</a>
                            </div>
                        </div>
                        <!-- PROFILE TAB -->


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(2)"><img ng-if="tab.tab!=2"
                                class="icon-orig" src="static/images/profile_deselect.png">
                                <img ng-if="tab.tab==2" src=
                                "static/images/profile.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(2)}" ng-click=
                                "setTab(2)">Profile</a>
                            </div>
                        </div>
                        <!-- CALENDAR TAB -->


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(3)"><img ng-if="tab.tab!=3"
                                class="icon-orig" src="static/images/calendar_deselect.png">
                                <img ng-if="tab.tab==3" src=
                                "static/images/calendar.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(3)}" ng-click=
                                "setTab(3)">Calendar</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(4)"><img ng-if="tab.tab!=4"
                                class="icon-orig" src="static/images/progress_deselect.png">
                                <img ng-if="tab.tab==4" src=
                                "static/images/progress.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(5)}" ng-click=
                                "setTab(4)">Progress</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(5)"><img ng-if="tab.tab!=5"
                                class="icon-orig" src="static/images/myplans_deselect.png">
                                <img ng-if="tab.tab==5" src=
                                "static/images/myplans.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(5)}" ng-click="setTab(5)">My
                                Plans</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(6)"><img ng-if="tab.tab!=6"
                                class="icon-orig" src="static/images/addplan_deselect.png">
                                <img ng-if="tab.tab==6" src=
                                "static/images/addplan.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(6)}" ng-click=
                                "setTab(6)">Create Plans</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(7)"><img ng-if="tab.tab!=7"
                                class="icon-orig" src="static/images/reciepes_deselect.png">
                                <img ng-if="tab.tab==7" src=
                                "static/images/reciepes.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(7)}" ng-click="setTab(7)">My
                                Recipes</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(8)"><img ng-if="tab.tab!=8"
                                class="icon-orig" src="static/images/createrecipe_deselect.png">
                                <img ng-if="tab.tab==8" src=
                                "static/images/createrecipe_select.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(8)}" ng-click=
                                "setTab(8)">Create Recipes</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(9)"><img ng-if="tab.tab!=9"
                                class="icon-orig" src="static/images/myingredients_deselect.png">
                                <img ng-if="tab.tab==9" src=
                                "static/images/myingredients_select.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text" ng-class=
                                "{active:tab.isSet(9)}" ng-click="setTab(9)">My
                                Ingredients</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s5 m5 icon-img">
                                <a ng-click="setTab(10);redirecToSearchPlan()"><img ng-if="tab.tab!=10"
                                class="icon-orig" src="static/images/searchplan_deselect.png">
                                <img ng-if="tab.tab==10" src=
                                "static/images/searchplan.png"></a>
                            </div>


                            <div class="col s7 m7 icon-label">
                                <a class="db_list_text">Search Plans</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SUMMARY VIEW -->


            <div ng-if="tab.tab==1">
                <div class="col s10">
                        <div ng-include="'static/templates/summary.html'"></div>
                </div>
                
            </div>
            <!-- END OF SUMMARY WINDOW-->
            <!-- PROFILE VIEW -->


            <div ng-if="tab.tab==2" ng-controller="profileController">
                <div class="col s10">
                    <div ng-include="'static/templates/profile.html'"></div>
                </div>
            </div>
            <!-- CALENDAR VIEW -->


            <div ng-if="tab.tab==3">
                <div class="col s10">
                    <div class="card top_mar" >
                        <div ng-include="'static/templates/calendar.html'" class="calendar"></div>
                    </div>
                </div>
            </div>

            <div ng-if="tab.tab==7">
                <div class="col s10">
                    <div class="top_mar" ng-controller="shortlistedRecipesController">
                        <div ng-include="'static/templates/myrecipes.html'" ></div>
                    </div>
                </div>
            </div>

            <div ng-if="tab.tab==9">
                <div class="col s10">
                    <div class="top_mar" ng-controller="shortlistedIngredientsController">
                        <div ng-include="'static/templates/myingredients.html'"></div>
                    </div>
                </div>
            </div>
            
             <div ng-if="tab.tab==10">
                <div class="col s10">
                    <div class="top_mar">
                        <div ng-include="'static/templates/myingredients.html'"></div>
                    </div>
                </div>
            </div>
            
<!--
            <div ng-if="tab.tab==1" ng-controller="summaryCtrl">
                <div class="col s4">
                    <div ng-include="'static/templates/summaryGraphs.html'"></div>
                </div>
            </div>
-->
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
         $('label').addClass('active');

});
</script>