<section class="recipe-view" id="create-plan">
    <ul class="dropdown-content d-ul" id="dropdown-create-recipe-sort">
        <li ng-repeat="filter in filts track by $index"><input checked=
        "checked" checklist-model="foodgroup" checklist-value="filter"
        class="filled-in" id="filled-in-box1{{$index}}" type="checkbox">
        <label for="filled-in-box1{{$index}}">{{filter}}</label></li>
    </ul>


    <ul class="dropdown-content filter-ul" id="dropdown-edit-recipe-sort2">
        <li ng-repeat="filter in details.sortlist track by $index">
        <input class="filled-in" id="filledin{{$index}}" name="sortradio"
        ng-click="search(1, sortby)" ng-model="sortby" type="radio" value=
        "{{filter}}"> <label for="filledin{{$index}}">{{filter}}</label></li>
    </ul>


    <div class="row recipe-form-card">
        <div class="col s12 m12">
            <div class="card white create-recipe-content">
                <div class="card-content black-text">
                    <h5 class="center">Edit Recipe</h5>


                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input class="validate" id="recipe_name" required
                                    ng-model="recipe.name" type="text">
                                    <label adjust-placeholder for="recipe_name">Name of
                                    Recipe</label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="input-field col s12">
                                    <input class="validate" id="recipe_desc" required
                                    ng-model="recipe.description" type="text">
                                    <label adjust-placeholder for=
                                    "recipe_desc">Description</label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="input-field col s6">
                                    <input class="validate" id="servings" min=
                                    "1" ng-model="recipe.servings" type=
                                    "number" required> <label adjust-placeholder for="servings">Number of
                                    Servings</label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s7">
                                     <div class="row">
                                        <div class="col s4">
                                            <h5 class="recipe-subheading center">
                                            Ingredients</h5>
                                        </div>


                                        <div class="col s12 m3 pull-m1" ng-if=
                                        "ingredientDisplay != null && ingredientDisplay != undefined && ingredientDisplay.length&gt;0">
                                        <h5 class="recipe-subheading right">Amt</h5>
                                        </div>


                                        <div class="col s12 m2" ng-if=
                                        "ingredientDisplay != null && ingredientDisplay != undefined && ingredientDisplay.length&gt;0">
                                        <h5 class="recipe-subheading left">Unit</h5>
                                        </div>
                                    </div>
                            
                                    <div class="row valign-wrapper" 
                                         ng-repeat="ing in ingredientDisplay track by $index">
                                        <div class="col s4">
                                            <p class="meal-text">
                                            {{ing.ingredient.name}}</p>
                                        </div>

                                        <div class="col s2">
                                            <input id="serving" min="0" ng-model=
                                            "ing.quantity" step=
                                            "0.25" type="number">
                                        </div>


                                        <div class="col s2">
                                            <select material-select ng-model=
                                            "ingredientDisplay[$index].measure"
                                            ng-options=
                                            "unit as unit.description for unit in ingredientDisplay[$index].ingredient.measure track by unit.id"
                                            ng-change="updateIngredientQuantity($index)"
                                            required="">
                                            </select>
                                        </div>
                                        
                                        <div class="col s3 m2">
                                            <p class="meal-text left">
                                            {{ing.quantity * ingredientDisplay[$index].measure.weight/ingredientDisplay[$index].measure.amount | number:0
                                            }} &nbsp;gms
                                            </p>
                                        </div>


                                        <div class="col s12 m1 pull-m1">
                                            <a ng-click="deleteSelectedIngredient($index)"><i class=
                                            "material-icons createbin">delete</i></a>
                                        </div>
                                    </div>   
                                
                                    <div class="row">
                                        <div class="col s12">
                                            <a class="cyan-text add-ing" href="#"
                                            ng-click="addRecipeIngredModal()">Add
                                            Ingredients</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col s5">
                                    <div class="row center">
                                        <h5 class="recipe-subheading">Nutritional Information (per Serving)</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col s6">
                                                <table class="bordered responsive-table">
                                                    

                                                    <tbody>
                                                      <tr>
                                                        <td class="energy">Energy (kCal)</td>
                                                        <td>{{calculateNutritionTotal('energy_kcal') |
                                                number:0}}</td>
                                                      </tr>
                                                        <tr>
                                                        <td>Carbohydrates</td>
                                                        <td>
                                                        {{calculateNutritionTotal('carbohydrate_tot') |number:0}} g</td>
                                                      </tr>
                                                        <tr>
                                                        <td>Proteins</td>
                                                        <td>{{calculateNutritionTotal('protein_tot') |
                                                number:0}} g</td>
                                                      </tr>
                                                        <tr>
                                                        <td>Fats</td>
                                                        <td>{{calculateNutritionTotal('fat_tot') |
                                                number:0}} g</td>
                                                      </tr>
                                                        <tr>
                                                        <td class="fat-subgroup">Monounsaturated Fat</td>
                                                        <td>
                                                        {{calculateAddtnlNutritionTotal('fa_mono_g') |
                                                number:0}} g</td>
                                                      </tr>
                                                        <tr>
                                                        <td class="fat-subgroup">Polyunsaturated Fat</td>
                                                        <td>
                                                        {{calculateAddtnlNutritionTotal('fa_poly_g') |
                                                number:0}} g</td>
                                                      </tr>
                                                        <tr>
                                                        <td>Saturated Fat</td>
                                                        <td>
                                                        {{calculateAddtnlNutritionTotal('fa_sat_g') |
                                                number:0}} g</td>
                                                      </tr>
                                                        <tr>
                                                        <td>Sugar</td>
                                                        <td>{{calculateNutritionTotal('sugar_tot') |
                                                number:0}} g</td>
                                                      </tr>
                                                      <tr>
                                                        <td>Fiber</td>
                                                        <td>{{calculateNutritionTotal('fiber_tot') |
                                                number:0}} g</td>
                                                      </tr>
                                                      <tr>
                                                </tbody>
                                            </table>
                                        </div>
                            
                                        <div class="col s6">
                                            <table class="bordered responsive-table">
                                                
                                                <tbody>
                                                    <td>Cholesterol</td>
                                                    <td>{{calculateAddtnlNutritionTotal('cholestrl_mg') |
                                            number:0}} mg</td>
                                                  <tr>
                                                    <td>Sodium</td>
                                                    <td>{{calculateAddtnlNutritionTotal('sodium_mg') |
                                            number:0}} mg</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Calcium</td>
                                                    <td>{{calculateAddtnlNutritionTotal('calcium_mg') |
                                            number:0}} mg</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Iron</td>
                                                    <td>{{calculateAddtnlNutritionTotal('iron_mg') |
                                            number:0}} mg</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Vitamin A</td>
                                                    <td>{{calculateAddtnlNutritionTotal('vitamin_a_iu') |
                                            number:0}} IU</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Vitamin B12</td>
                                                    <td>{{calculateAddtnlNutritionTotal('vitamin_b12_mcg') |
                                            number:0}} mcg</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Vitamin C</td>
                                                    <td>{{calculateAddtnlNutritionTotal('vitamin_c_mg') |
                                            number:0}} mg</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Vitamin D</td>
                                                    <td>{{calculateAddtnlNutritionTotal('vitamin_d_mcg') |
                                            number:0}} mcg</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Vitamin E</td>
                                                    <td>{{calculateAddtnlNutritionTotal('vitamin_e_mg') |
                                            number:0}} mcg</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
   
            
                            <!-- STEPS TO CREATE RECIPES -->


                            <div class="row">
                                <div class="col s4">
                                    <h5 class="recipe-subheading">
                                    Directions</h5>
                                </div>
                            </div>


                            <div class="row" ng-repeat=
                            "steps in stepsToCreateRecipes track by $index">
                                <div class="input-field col s12">
                                    <textarea class="validate materialize-textarea" id=
                                    "recipe_steps" ng-model=
                                    "stepsToCreateRecipes[$index]"></textarea>
                                    <label for="recipe_steps">Step {{$index+1}}</label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s12">
                                    <a class="cyan-text add-ing" href="#"
                                    ng-click="addMoreSteps(item)">Add Step</a>
                                </div>
                            </div>
                            <br>
                            <!-- TIME TAKEN TO CREATE RECIPES -->


                            <div class="row">
                                <div class="col s6">
                                    <h6 class="meal-text">Preparation Time</h6>
                                </div>


                                <div class="col s6">
                                    <h6 class="meal-text">Cooking Time</h6>
                                </div>
                            </div>

                            <div class="row">
                                <!-- PREPARATION TIME -->
                                <!-- COOKING TIME -->

                                <div class="col s6">
                                    <div class="row">
                                        <div class="input-field col s3">
                                            <input class="validate" id=
                                            "prep_time" max="12" min="0"
                                            ng-model="prepHours" type="number">

                                            <p>Hrs</p>
                                        </div>


                                        <div class="input-field col s3">
                                            <input class="validate" id=
                                            "prep_time" max="59" min="00"
                                            ng-model="prepMins" type="number">

                                            <p>Mins</p>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col s6">
                                        <div class="input-field col s3">
                                            <input class="validate" id=
                                            "prep_time" max="12" min="0"
                                            ng-model="cookHours" type="number">

                                            <p>Hrs</p>
                                        </div>
                                     <div class="input-field col s3">
                                            <input class="validate" id=
                                            "prep_time" max="59" min="00"
                                            ng-model="cookMins" type="number">

                                            <p>Mins</p>

                                </div>
                                </div>
                            </div>
                            <br>

                            <div>
                                <div class="col s12">
                                    <a class="cyan-text add-ing" href="#" ng-click=
                                    "uploadImageModal()">Upload Image</a>
                                </div>
                            </div>

                            
                            <div class="row">
                                <div class="col s12 m12">
                                    <label for="external-url">Link to External Page</label>
                                    <input id="external-url" ng-model="recipe.url" type="url" name='url'>

                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <div class="center-btn">
                    <a class="waves-effect waves-light btn largebtn" ng-click=
                    'finalizeRecipeCreation()'>Save</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
        <!-- ADD RECIPE INGREDIENTS MODAL -->


    <div class="modal" id="add-ingredients-modal">
        <a class=
        "modal-action modal-close waves-effect waves-green btn-flat right">X</a>

        <div class="modal-content">
            <div class="row">
                <div class="col m12">
                    <div class="row">
                        <div class=
                            "col s1 m2">
                                <button class='fa fa-sort-amount-desc search-filter'
                                data-activates='dropdown-edit-recipe-sort2' data-beloworigin=
                                "true" dropdown-button=""></button>
                                
                            </div>
                            
                            <div class="col s12 m5">
                                <div class="card white create-search-box" id=
                                "searchcard">
                                    <!-- SEARCH-BOX -->


                                    <div class="card-content black-text">
                                        <textarea class="form-control" id=
                                        "searchbox" ng-model="query"
                                        placeholder=
                                        "Search Ingredient"></textarea>
                                        <button class=
                                        "fa fa-search search-ingredient"
                                        fire-enter="" ng-click="search(1)"
                                        type="submit"></button>
                                    </div>
                                </div>
                                <!-- END OF SEARCH-BOX -->
                            </div>
                            
                            <div class="col s1 m5" id="add-ing-food-filters">
                                <select material-select multiple watch 
                                    ng-model="foodgroup">
                                    <option value="" selected disabled>Filter Food Groups</option>
                                    <option ng-repeat="filter in filts">{{filter}}</option>    
                                </select>
                            </div>
<!--
                        <div class="col s10 m10">
                            <div class="card white create-search-box" id=
                            "searchcard">
                                     SEARCH-BOX 


                                    <div class="card-content black-text">
                                        <textarea class="form-control" id=
                                        "searchbox" ng-model="query"
                                        placeholder=
                                        "Search Ingredient"></textarea>
                                        <button class=
                                        "fa fa-search search-ingredient"
                                        fire-enter="" ng-click="search(1)"
                                        type="submit"></button>
                                    </div>
                                </div>
-->
                                <!-- END OF SEARCH-BOX -->
<!--
                            </div>
                            
                            <div class=
                            "col s1 m1"
                            ng-show="filts !==undefined && filts.length&gt;0">
                                <button class='fa fa-filter search-filter'
                                data-activates='dropdown2' data-beloworigin=
                                "true" dropdown-button=""></button>
                            </div>


                            <div class=
                            "col s1 m1"
                            ng-show="filts !==undefined && filts.length&gt;0">
                                <button class='fa fa-reorder search-filter'
                                data-activates='dropdown3' data-beloworigin=
                                "true" dropdown-button=""></button>
                            </div>
-->
                    </div>
                </div>
                <br>
            </div>


            <div class="row">
                <div class="col m6 create-modal-half1">
                    <div class="searchresult-create row">
                        <div ng-repeat=
                        "detail in details.results track by $index">
                            <p><input checklist-model="checklistIngs"
                            checklist-value="detail" class="filled-in" id=
                            "filled-in-box{{$index}}" ng-checked=
                            "checkIfSelected(detail.id)" type="checkbox">
                            <label class="ing-text highlight" for=
                            "filled-in-box{{$index}}" id=
                            "check-label">{{detail.name}}</label></p>
                        </div>
                    </div>


                    <div class="row smallpaginate">
                        <paging ng-if="details !== undefined && details !== []"
                            class="small"
                            page="currentPage" 
                            page-size="6" 
                            total="pageSize"
                            hide-if-empty="{{hideIfEmpty}}"
                            ul-class="{{ulClass}}"
                            li-class="lipageclass"
                            active-class="{{activeClass}}"
                            disabled-class="{{disabledClass}}"
                            show-prev-next="true"
                            text-next-class="acti fa fa-chevron-right"
                            text-prev-class="acti fa fa-chevron-left"
                            text-first-class="acti fa fa-backward"
                            text-last-class="acti fa fa-forward"
                            text-title-page="Page {page}"
                            text-title-first="First Page"
                            text-title-last="Last Page"
                            text-title-next="Next Page"
                            text-title-prev="Previous" 
                            paging-action="search(page)">
                        </paging> 
                    </div>
                </div>


                <div class="col m6">
                    <div class="nutsection">
                        <div class="row hline" ng-if="lastChecked">
                            <div class="col m6" ng-if="lastChecked">
                                <p class="a ahead servehead">Serving per 100 grams:</p>
                            </div>

                        </div>


                        <div class="row hline" ng-if="lastChecked">
                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b ahead">Calories (kcal)</p>
                            </div>


                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b">
                                {{lastChecked.energy_kcal}}</p>
                            </div>
                        </div>


                        <div class="row hline"  ng-if="lastChecked">
                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b ahead">Proteins</p>
                            </div>


                            <div class="col m6">
                                <p class="a b" ng-if="lastChecked">
                                {{lastChecked.protein_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if="lastChecked">
                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b ahead">Fats</p>
                            </div>


                            <div class="col m5" ng-if="lastChecked">
                                <p class="a b">{{lastChecked.fat_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if="lastChecked">
                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b ahead">Carbohydrates</p>
                            </div>


                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b">
                                {{lastChecked.carbohydrate_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if="lastChecked">
                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b ahead">Fiber</p>
                            </div>


                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b">
                                {{lastChecked.fiber_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if="lastChecked">
                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b ahead">Water</p>
                            </div>


                            <div class="col m6" ng-if="lastChecked">
                                <p class="a b">{{lastChecked.water}}</p>
                            </div>
                        </div>
                    </div>


                    <p>{{recipe.name}}</p>
                    <br>
                    <br>


                    <div class="row" ng-repeat=
                    "item in checklistIngredients">
                        <div class="col m10 meal-list">
                            <p class="ing-text meal-list" ng-if=
                            "checklistIngredients.length&gt;0">
                            {{item.ingredient.name || item.name}}</p>
                        </div>


                        <div class="col m2 meal-list">
                            <a href="#" ng-click=
                            "removeIngredient(item)"><i class=
                            "material-icons meal-list right dustbin createbin" ng-if=
                            "checklistIngredients.length&gt;0">delete</i></a>
                        </div>
                    </div>


                    
                    <div class="row" ng-repeat="item in checklistIngs">
                        <div class="col m10 meal-list">
                            <p class="ing-text meal-list" ng-if=
                            "checklistIngs.length&gt;0">{{item.name}}</p>
                        </div>


                        <div class="col m2 meal-list">
                            <a href="#" ng-click=
                            "removeIngredient(item)"><i class=
                            "material-icons meal-list right createbin dustbin" ng-if=
                            "checklistIngs.length&gt;0">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="fixed-action-btn" style="bottom: 45px; left:47%">
                <a class="btn-floating btn-large bp_red" ng-click="addContents();calculateTotalInfoForRecipes()">
                  <i class="large material-icons">add</i>
                </a>
          </div>
    </div>

    <div class="modal" id="upload-image-modal">
            <a class=
            "modal-action modal-close waves-effect waves-green btn-flat right">X</a>
            <!-- TODO : handle urls as well -->


            <div class="modal-content">
                <form name="fileForm">
                    
                    <div class="file-field input-field">
                        <div class="col s12 m3 push-m1">
                            <div class="btn">
                            <span>Choose File</span> <input accept=
                            'image/*' image="cropper.fileInput" img-cropper-fileread=""
                            type="file" data-max-size="5120">
                        </div>
                        </div>
                        
                        <div class="col s12 m5 push-m2">
                        
                        <div class="file-path-wrapper">
                            <input class="file-path validate"
                            type="text">
                        </div>
                        </div>

                    </div>
                    

                    <div ng-show="fileSizeError" style="color:red">
                        Please Upload a file less than 5Mb
                    </div>
                    
                       <div class="col s12 m12 center">
                            <p class="center">OR</p>
                        </div>
                    <br>
                    <div class="row">
                        <div class="col s12 m3 push-m1">
                            <br>
                            <button class=
                                "waves-effect waves-light btn"
                                ng-click='validateRecipe()' type=
                                "submit" style="margin-top: 2em !important;">Upload</button> &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        
                        <div class="col s12 m5 push-m2 upload_file">
                            <label for="recipe-url">Recipe URL</label>
                            <input class="upload_file" name="recipe-url" id="recipe-url" type="url" ng-model="cropper.urlInput" ng-change="urlChanged()">
                        </div>
                     
                        

                        <div ng-show="urlCopyrightError" style="color:red">
                            Image is copyright protected.
                        </div>
                    </div>

                </form>

                      

                <div class="center" ng-show="cropper.sourceImage!=null">
                    <canvas crop-height="300" crop-width="400" cropped-image=
                    "cropper.croppedImage" height="300" id="canvas" image=
                    "cropper.sourceImage" image-cropper="" width="500">
                    </canvas>
                </div>


                <div>
                    Cropped Image:
                </div>


                <div class="center" ng-show="cropper.sourceImage!=null">
                    <img ng-src="{{cropper.croppedImage}}">
                </div>
            </div>
        </div>
    
</section>
<script>
    $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>