<div class="row">
                            <div class="col m6">
                                <p ng-repeat="item in nutrientValue">Calories(kcal)</p>
                                <p ng-repeat="item in nutrientValue">Proteins</p>
                                <p ng-repeat="item in nutrientValue">Carbohydrate</p>
                                <p ng-repeat="item in nutrientValue">Fats</p>
                                <p ng-repeat="item in nutrientValue">Fibre</p>
                                <p ng-repeat="item in nutrientValue">Sodium</p>
                                <p ng-repeat="item in nutrientValue">Cholestrol</p>
                            </div>
                            <hr>
                            <div class="col m6">
                                <p ng-repeat="item in nutrientValue">{{item.energy_kcal}}</p>
                                <p ng-repeat="item in nutrientValue">{{item.protein}}</p>
                                <p ng-repeat="item in nutrientValue">{{item.carbohydrate}}</p>
                                <p ng-repeat="item in nutrientValue">{{item.lipid_tot}}</p>
                                <p ng-repeat="item in nutrientValue">{{item.fiber_td}}</p>
                                <p ng-repeat="item in nutrientValue">{{item.sodium}}</p>
                                <p ng-repeat="item in nutrientValue">{{item.cholestrl}}</p>
                            </div>
                            <br>