<footer class="page-ftr">
      <div class="footer-copyright">
            <div class="container">
            <a class="grey-text text-lighten-4 left footer-menu" href="#!">Home</a>
            <a class="grey-text text-lighten-4 left footer-menu" href="#!">|</a>
            <a class="grey-text text-lighten-4 left footer-menu" href="#!">About</a>
            <a class="grey-text text-lighten-4 left footer-menu" href="#!">|</a>
            <a class="grey-text text-lighten-4 left footer-menu" href="#!">Careers</a>
<!--            <a class="grey-text text-lighten-4 center footer-menu" href="#!">&copy; BITEPLANS | All Rights Reserved</a>-->
                <a><i class="fa fa-twitter right social-icon"></i></a>
                <a><i class="fa fa-facebook right social-icon"></i></a>

            </div>
          </div>
  </footer>



<!--
<div class="row">
          <div class="col m3 s12">
            <ul class="footer-options">
                <li><a href="#">About</a></li>  
                <li>|</li>  
                <li><a href="#">Career</a></li>  
                <li>|</li>  
                <li><a href="#">Contacts</a></li> 
            </ul>
          </div>
          <div class="copyright col m6 s12">
            <p>
                &copy; BITEPLANS | All Rights Reserved 
            </p>
          </div>
          <div class="col s12 m3">
              <ul class="social-icon right">
                <li><i class="fa fa-facebook"></i></li>
                  <li><i class="fa fa-twitter"></i></li>
              </ul>
          </div>
      </div>-->