<footer class="page-ftr">
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4 left footer-menu" href=
            "#!">Home</a> <a class="grey-text text-lighten-4 left footer-menu"
            href="#!">|</a> <a class=
            "grey-text text-lighten-4 left footer-menu" href="#!">About</a>
            <a class="grey-text text-lighten-4 left footer-menu" href=
            "#!">|</a> <a class="grey-text text-lighten-4 left footer-menu"
            href="#!">Careers</a> 
            <!--            <a class="grey-text text-lighten-4 center footer-menu" href="#!">&copy; BITEPLANS | All Rights Reserved</a>-->
             <a><i class="fa fa-twitter right social-icon"></i></a>
            <a><i class="fa fa-facebook right social-icon"></i></a>
        </div>
    </div>
</footer>