<h1>Register here!</h1>


<p class="text-danger" ng-show="registerError">{{ registerError }}</p>


<form ng-submit="register()">
    <input class="form-control" ng-model="registerUsername" placeholder=
    "Username" type="text"> <input class="form-control" ng-model=
    "registerPassword" placeholder="Password" type="password"> <input class=
    "form-control" ng-model="confirmPassword" placeholder="Password" type=
    "password"> <input class="form-control" ng-model="email" placeholder=
    "email" type="email"> <input class="btn btn-default" type="submit" value=
    "Submit">
</form>


<h1>Search here</h1>


<form ng-submit="search()">
    <input class="form-control" ng-model="query" placeholder="search" type=
    "text"> <input class="btn btn-default" type="submit" value="Submit">
</form>


<h1>Search Recipes here</h1>


<form ng-submit="search_recipe()">
    <input class="form-control" ng-model="query_recipe" placeholder=
    "search recipe" type="text"> <input class="btn btn-default" type="submit"
    value="Submit">
</form>
<button ng-click="Auth('google')">Login with Facebook</button>