<!-- VIDEO BANNER -->

<div class="containerBackground">
    <div id="index-banner">
        <div class="section no-pad-bot">
            <div class="container">
            <br><br>
            <video class="col s12" id="wrapper" autoplay loop poster="static/images/bigLogo.png">
                <source src="static/images/landingVideo.mov" type="video/mp4">
            </video>
            <div class="overlay">
                <h1 class="header center"><img class="responsive-img" src="static/images/bigLogo.png"></h1>
                <div class="row center">
                    <ul class="pagination col s12" id="landingMenu">
                        <li class="waves-effect">
                            <a href="#!">
                                <i class="material-icons">
                                    chevron_left
                                </i>
                            </a>
                        </li>
                    <li class="waves-effect">
                        <a href="#!">Search</a>
                    </li>
                    <li class="waves-effect">
                        <a href="#!">&#9679;</a>
                    </li>
                    <li class="waves-effect">
                        <a href="#!">Create</a>
                    </li>
                   <li class="waves-effect">
                        <a href="#!">&#9679;</a>
                    </li>
                    <li class="waves-effect">
                        <a href="#!">Follow</a>
                    </li>
                    <li class="waves-effect">
                        <a href="#!"><i class="material-icons">chevron_right</i></a>
                    </li>
                  </ul>
                </div>
                <br>
            <div class="row center">
              <h4 class="header col s12 dark">Search for nutritional plans that suit your fitness goals</h5>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
          </div>
      </div>
    </div>
        <br>
</div> <!-- END OF CONTAINER BACKGROUND -->
    
    
    <!-- FEATURED PLANS SECTION -->
    
<div class="container" id="featuredPlan">
    <div class="section">
        <h3 class="center">Featured Plans</h3>
        <br><br>
           <div class="row">
              <div class="col s12 m6">
                  <img class="center-block" src="static/images/vegLogo.png">
                  <h4 class="center">Vegetarian Plans</h4>
                  <br>
                  <div class="row">
                      <div class="col s12 m6">
                          <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Weight Loss</a>
                          </div>
                      </div>
                      <div class="col s12 m6">
                       <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Weight Gain</a>
                          </div>
                      </div>
                      <br><br><br>
                      <div class="col s12 m6">
                      <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Muscle Gain</a>
                          </div>
                      </div>
                      <div class="col s12 m6">
                       <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Fat Loss</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col s12 m6">
                  <img class="center-block" src="static/images/nonVegLogo.png">
                  <h4 class="center">Non Vegetarian Plans</h4>
                  <br>
                    <div class="row">
                      <div class="col s12 m6">
                       <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Weight Loss</a>
                          </div>
                      </div>
                      <div class="col s12 m6">
                      <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Weight Gain</a>
                          </div>
                      </div>
                      <br><br><br>
                      <div class="col s12 m6">
                       <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Muscle Gain</a>
                          </div>
                      </div>
                      <div class="col s12 m6">
                        <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">  Fat Loss  </a>
                          </div>
                      </div>
                  </div>
              </div>
           </div>
    </div>
</div> <!--END OF FEATURED PLAN -->
    
    
    <!-- ARTICES SECTION -->

<div class="container" id="articleSection">
    <div class="section">
        <h3 class="center">Articles</h3>
        <br><br>
        <div class="row">
            <div class="col s12 m6">
                <div class="card white">
                    <img class="center-block" src="static/images/nutritionLogo.png">
                    <h4 class="center">Nutrition</h4>
                    <div class="row">
                        <div class="col s12 m12">
                            <a href="#">
                                <p class="center">How to gain weight naturally ?</p>
                            </a>
                        </div>
                        <div class="col s12 m12">
                            <a href="#">
                                <p class="center">How to gain weight naturally ?</p>
                            </a>
                        </div>
                    </div>
                </div>
           </div>
        <div class="col s12 m6">
            <div class="card white">
                <img class="center-block" src="static/images/exerciseLogo.png">
                <h4 class="center">Exercise</h4>
                <div class="row">
                    <div class="col s12 m12">
                        <a href="#">
                            <p class="center">How to gain weight naturally ?</p>
                        </a>
                    </div>
                    <div class="col s12 m12">
                        <a href="#">
                            <p class="center">How to gain weight naturally ?</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
     </div>
   </div>
</div> <!-- END OF ARTICLE SECTION -->


