<!-- VIDEO BANNER -->

    <div id="index-banner" class="full-length">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center"><img class="responsive-img big-logo" src="static/images/logo.png"></h1>
                <br>
                <div class="row center">
                    <ul class="pagination col s12 m12" id="landingMenu">
<!--
                            <a href="#!">
                                <i class="material-icons">
                                    chevron_left
                                </i>
                            </a>
-->
                    <li class="waves-effect">
                        <a>Search</a>
                    </li>
                    <li class="waves-effect">
                        <a>&#9679;</a>
                    </li>
                    <li class="waves-effect">
                        <a>Create</a>
                    </li>
                   <li class="waves-effect">
                        <a>&#9679;</a>
                    </li>
                    <li class="waves-effect">
                        <a>Follow</a>
                    </li>
                                          </ul>

<!--                        <a><i class="material-icons">chevron_right</i></a>-->
                </div>
            <div class="row center">
              <h4 class="header col s12 dark tagline">Search for nutritional plans that suit your fitness goals</h5>
            </div>
      </div>
    </div>
</div> <!-- END OF CONTAINER BACKGROUND -->
    
    
    <!-- FEATURED PLANS SECTION -->
<div class="container" id="featuredPlan">
    <div class="section">
        <h3 class="center">Featured Plans</h3>
        <br><br>
           <div class="row">
              <div class="col s12 m6">
                  <img class="center-block" src="static/images/carrot.png">
                  <h4 class="center">Vegetarian Plans</h4>
                  <br>
                  <div class="row">
                      <div class="col s12 m6">
                          <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Weight Loss</a>
                          </div>
                      </div>
                      <div class="col s12 m6">
                       <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Weight Gain</a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12 m6">
                      <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Muscle Gain</a>
                          </div>
                      </div>
                      <div class="col s12 m6">
                       <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Fat Loss</a>
                          </div>
                      </div>
                  </div>
                </div>
              <div class="col s12 m6 non-veg-card">
                  <img class="center-block" src="static/images/chicken.png">
                  <h4 class="center">Non Vegetarian Plans</h4>
                  <br>
                    <div class="row">
                      <div class="col s12 m6">
                       <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Weight Loss</a>
                          </div>
                      </div>
                      <div class="col s12 m6">
                      <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Weight Gain</a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12 m6">
                       <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Muscle Gain</a>
                          </div>
                      </div>
                      <div class="col s12 m6">
                        <div class="center-btn">
                             <a class="waves-effect waves-light btn center-btn">Fat Loss</a>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
    </div>
</div> <!--END OF FEATURED PLAN -->
    
    
    <!-- ARTICES SECTION -->

<div class="container" id="articleSection">
    <div class="section">
        <h3 class="center">Articles</h3>
        <br><br>
        <div class="row">
            <div class="col s12 m6">
                <div class="card white">
                    <img class="center-block" src="static/images/nutrition.png">
                    <h4 class="center">Nutrition</h4>
                    <div class="row">
                        <div class="col s12 m12">
                            <a href="#">
                                <p class="center cyan-text">How to gain weight naturally ?</p>
                            </a>
                        </div>
                        <div class="col s12 m12">
                            <a href="#">
                                <p class="center cyan-text">How to gain weight naturally ?</p>
                            </a>
                        </div>
                    </div>
                </div>
           </div>
        <div class="col s12 m6">
            <div class="card white">
                <img class="center-block" src="static/images/exercise.png">
                <h4 class="center">Exercise</h4>
                <div class="row">
                    <div class="col s12 m12">
                        <a href="#">
                            <p class="center cyan-text">How to gain weight naturally ?</p>
                        </a>
                    </div>
                    <div class="col s12 m12">
                        <a href="#">
                            <p class="center cyan-text">How to gain weight naturally ?</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
     </div>
   </div>
</div> <!-- END OF ARTICLE SECTION -->