<div class="full-length" id="index-banner">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center"><img class="responsive-img big-logo" src=
            "static/images/logo.png">
            </h1>
            <br>


            <div class="row center">
                <ul class="pagination col s12 m12" id="landingMenu">
                    <!--
                            <a href="#!">
                                <i class="material-icons">
                                    chevron_left
                                </i>
                            </a>
-->


                    <li class="waves-effect">
                        <a>Search</a>
                    </li>


                    <li class="waves-effect">
                        <a>&#9679;</a>
                    </li>


                    <li class="waves-effect">
                        <a>Create</a>
                    </li>


                    <li class="waves-effect">
                        <a>&#9679;</a>
                    </li>


                    <li class="waves-effect">
                        <a>Follow</a>
                    </li>
                </ul>
                <!--                        <a><i class="material-icons">chevron_right</i></a>-->
            </div>


            <div class="row center">
                <h4 class="header col s12 dark tagline">Search for nutritional
                plans that suit your fitness goals</h4>
            </div>
        </div>
    </div>
</div>
<!-- END OF CONTAINER BACKGROUND -->
<!-- FEATURED PLANS SECTION -->

<div class="row">
    
        <div class="col s12 m6">
<div class="container" id="featuredPlan">
    <div class="section">
        <h3 class="center">Featured Plans</h3>
        <br>
        <br>


        <div class="row">
            <div class="col s12 m5">
                <div class="card white landing_card">
                <img class="center-block round_icon" src="static/images/carrot.png">

                <p class="center veg_head">Vegetarian</p>
                <br>

                <div class="row v">
                    <div class="col s6 m6">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">Weight
                            Loss</a>
                        </div>
                    </div>


                    <div class="col s6 m6">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">Weight
                            Gain</a>
                        </div>
                    </div>
                </div>


                <div class="row v">
                    <div class="col s6 m6">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">Muscle
                            Gain</a>
                        </div>
                    </div>


                    <div class="col s6 m6">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">Fat
                            Loss</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>


            <div class="col s12 m5 push-m2 non-veg-card">
                <div class="card white landing_card card2">
                <img class="center-block round_icon" src="static/images/chicken.png">

                <p class="veg_head center">Non Vegetarian</p>
                <br>

                <div class="row v">
                    <div class="col s6 m6">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">Weight 
                            Loss</a>
                        </div>
                    </div>


                    <div class="col s6 m6">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">Weight
                            Gain</a>
                        </div>
                    </div>
                </div>


                <div class="row v">
                    <div class="col s6 m6">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">Muscle
                            Gain</a>
                        </div>
                    </div>


                    <div class="col s6 m6">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">Fat
                            Loss</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
    </div>
    
     <div class="col s12 m12 l6">
<div class="container" id="aricleSection">
    <div class="section">
        <h3 class="center">Articles</h3>
        <br>
        <br>


        <div class="row">
            <div class="col s12 m5">
                <div class="card white landing_card">
                <img class="center-block round_icon" src="static/images/nutrition.png">

                <p class="center veg_head">Nutrition</p>

                <div class="row w">
                    <div class="col s12 m12">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">How to gain weight
                            naturally</a>
                        </div>
                    </div>
                </div>
                    
                       <div class="row w">
                    <div class="col s12 m12">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">How to gain weight
                            naturally</a>
                        </div>
                    </div>
                </div>


            </div>
            </div>


            <div class="col s12 m5 push-m2 non-veg-card">
                <div class="card white landing_card card2">
                <img class="center-block round_icon" src="static/images/exercise.png">

                <p class="veg_head center">Exercise</p>

            <div class="row w">
                    <div class="col s12 m12">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">How to gain weight
                            naturally</a>
                        </div>
                    </div>
                </div>
                    
                    <div class="row w">
                    <div class="col s12 m12">
                        <div class="center-btn">
                            <a class=
                            "cyan-text center-btn">How to gain weight
                            naturally</a>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>
