<div class="full-length" id="result-list">
    <div ng-if="myIngredients != null && myIngredients != undefined && myIngredients.length != 0">
        <div class="row">
            <div class="col s12 m4" ng-repeat="detail in myIngredients track by $index " ng-click="openIngredientsModal($index)">
                <div class="card white big mying-card" id=
                "ingredient-result-card">
                    <div class="card-content grey-text">
                        <div class="row">
                            <div class="col s12">
                                <h5 class="cyan-text center ingredient-title">
                                {{detail.ingredient.name | limitTo: 20}}...</h5>
                            </div>
                        </div>


                        <div >
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Protien</h6>
                                </div>


                                <div class="col s6 m6">
                                    <p class="meal-text">{{detail.ingredient.protein_tot}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Carbohydrates</h6>
                                </div>


                                <div class="col s6 m6">
                                    <p class="meal-text">{{detail.ingredient.carbohydrate_tot}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Fats</h6>
                                </div>


                                <div class="col s6 m6">
                                    <p class="meal-text">{{detail.ingredient.fat_tot}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Calories</h6>
                                </div>


                                <div class="col s6 m6">
                                    <p class="meal-text">{{detail.ingredient.energy_kcal}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <!-- MODAL DESCRIPTION FOR EVERY INGREDIENT CARD -->

        <div class="row">
    <div class="col s12 m6 push-m5">
    <paging
                class="small"
                page="currentPage" 
                page-size="6" 
                total="pageSize"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                li-class="lipageclass"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="true"
                show-first-last="true"
                text-next-class="acti fa fa-chevron-right"
                text-prev-class="acti fa fa-chevron-left"
                text-first-class="acti fa fa-backward"
                text-last-class="acti fa fa-forward"
  text-title-page="Page {page}"
  text-title-first="First Page"
  text-title-last="Last Page"
  text-title-next="Next Page"
  text-title-prev="Previous" 
  paging-action="getMyIngredients(page)" 
  >
            </paging> 
                
    </div>

</div>


        <div class="modal" id="modal6">
            <a class=
            " modal-action modal-close waves-effect waves-green btn-flat right"

        >X</a>

            <div class="modal-content">
                <h4 class="cyan-text ingredient-title">
                {{myIngredients[selected].ingredient.name}}</h4>
                <br>


                <div class="row">
                    <div class="col s12 m12">
                        <div class="row">
                            <div class="col s12 m4 push-m4">
                                <select ng-if="selected!==undefined && myIngredients[selected].ingredient.measure.length>0" material-select ng-options="measure as measure.description for measure in myIngredients[selected].ingredient.measure" ng-model="openModal.measure" class="center"></select>
                            </div>
                        </div>
                                
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m12">
                        <h6 class="nutri">Nutritional Information (&nbsp;{{openModal.measure.description}} {{openModal.measure.weight | number}} gm&nbsp;)</h6>
                    </div>
                </div>


                <div class="row" ng-if="selected!==undefined && openModal.measure!==undefined">
 <div class="col s12 m6">
                <table class="bordered responsive-table">
                    <tbody>
                      <tr>
                        <td>Calories</td>
                        <td>{{calculateIngredientInfo('energy_kcal') |
                            number:0 }} kcal</td>
                      </tr>
                        <tr>
                        <td>Carbohydrates</td>
                        <td>{{calculateIngredientInfo('carbohydrate_tot') |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Proteins</td>
                        <td>{{calculateIngredientInfo('protein_tot') |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Fats</td>
                        <td>{{calculateIngredientInfo('fat_tot') |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Monounsaturated Fat</td>
                        <td>{{calculateIngredientInfo('fa_mono_g', true) |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Polyunsaturated Fat</td>
                        <td>{{calculateIngredientInfo('fa_poly_g', true) |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Saturated Fat</td>
                        <td>{{calculateIngredientInfo('fa_sat_g', true) |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Sugar</td>
                        <td>{{calculateIngredientInfo('sugar_tot') |
                            number:0 }} g</td>
                      </tr>
                      </tr>
                        <tr>
                        <td>Fiber</td>
                        <td>{{calculateIngredientInfo('fiber_tot') |
                            number:0 }} g</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col s12 m6">
                    <table class="bordered responsive-table">
                    <tbody>
                      <tr>
                        <td>Cholesterol</td>
                        <td>{{calculateIngredientInfo('cholestrl_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Sodium</td>
                        <td>{{calculateIngredientInfo('sodium_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Calcium</td>
                        <td>{{calculateIngredientInfo('calcium_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Iron</td>
                        <td>{{calculateIngredientInfo('iron_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Vitamin A</td>
                        <td>{{calculateIngredientInfo('vitamin_a_iu',
                                        true) | number:0}} IU</td>
                      </tr>
                      <tr>
                        <td>Vitamin B12</td>
                        <td>{{calculateIngredientInfo('vitamin_b12_mcg',
                                        true) | number:0}} mcg</td>
                      </tr>
                      <tr>
                        <td>Vitamin C</td>
                        <td>{{calculateIngredientInfo('vitamin_c_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Vitamin D</td>
                        <td>{{calculateIngredientInfo('vitamin_d_mcg',
                                        true) | number:0}} mcg</td>
                      </tr>
                      <tr>
                        <td>Vitamin E</td>
                        <td>{{calculateIngredientInfo('vitamin_e_mg',
                                        true) | number:0}} mcg</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
    </div>
</div>
<br>
<!-- When the user has not entered anything for search -->



<!-- When the user has entered incorrect entry in search -->


<div ng-if="myIngredients.length==0">
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text center">
                    <p>Sorry!! Nothing found</p>
                </div>
            </div>
        </div>
    </div>
</div>
