

<div id="result-list">
    <div ng-if="createdPlans!=null && createdPlans!=undefined && createdPlans.length!=0">
    <b>Plans Created:</b>
    <div class="row center">
                <div class="col s12 m6 l5 push-l1" ng-repeat=
                "plan in createdPlans track by $index" current-page="currentPageCreatedPlans" > 
                    <div class="card white" >
                        <div class="card-content search-plan-card black-text">
                            <div class="row">
                               

                                <div class="col s12 m12 center">
                                    <h5 class="truncate"><a class="cyan-text txt-overflow" href="/dietplans/view-diet-plan/{{plan.id}}">
                                        {{plan.name}}
                                    </a></h5>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s12 m2 l1">
                                    <p>Goal:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                </div>
                                <div class="col s12 m10 l11">
                                    <p class="meal-text">{{plan.goal}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s3 m3">
                                    <p>Duration:
                                    </p>
                                </div>
                                <div class="col s3 m3">
                                    <p class="meal-text left">{{plan.duration }} Week</p>
                                </div>
                                <div class="col s3 m3">
                                    <p>Gender:
                                    </p>
                                </div>
                                <div class="col s3 m3">
                                    <p class="meal-text left">{{plan.gender }}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                 <div class="col s4 m4">
                                    <p>BMR Range:
                                    </p>
                                </div>
                                <div class="col s8 m8">
                                    <p class="meal-text left">{{plan.lower_bmr | number:0}} - {{plan.upper_bmr | number:0}} KCal</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                
                                <div class="col s5 m4">
                                    <p>Activity Level:
                                    </p>
                                    
                                </div>
                                <div class="col s7 m8">
                                    <p class="meal-text left" tooltipped data-position="bottom" data-delay="50" data-tooltip="{{activityDescriptions[plan.activity_level]}}">{{plan.activity_level }}</p>
                                </div>
                            </div>

                            <div class="row showcustom">
                                <div class="col s12 m12 l4">
                                    <p>Ratings</p>
                                </div>
                                <div class="col s7 m7 l5">
                                    <div back-color="white" class="" id=
                                    "plan-{{plan.id}}" ng-click=
                                    "setPlanRating(plan, rating)"
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getPlanRating(plan)}}" sel-color="gold"
                                    star-radius="10" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col s5 m5 l3 pull-l1 rating_val">
                                    <span ng-bind="stars | number:1"></span>/
                                    5.0
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4 m4 center progress-wrapper">
                                    <div class="round-progress-title ng-cloak" ng-style="getStyle()">PROTEINS <p>{{getPlanNutrientPercent(plan,
                                    'protein_tot') | number:0}} %</p></div>
                                    <round-progress
                                        animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#6639B6" current=
                                    "getPlanNutrientPercent(plan, 'protein_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="true"
                                    rounded="true" semi="false" stroke="4"></round-progress>
                                </div>


                                <div class="col s4 m4 center progress-wrapper">
                                     <div class="round-progress-title ng-cloak" ng-style="getStyle()">CARBS <p>{{getPlanNutrientPercent(plan,
                                    'carbohydrate_tot') | number:0}} %</p></div>
                                    <round-progress
                                        animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FE6433" current=
                                    "getPlanNutrientPercent(plan, 'carbohydrate_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="true"
                                    rounded="true" semi="false" stroke="4"></round-progress>
                                </div>


                                <div class="col s4 m4 center progress-wrapper">

                                     <div class="round-progress-title ng-cloak" ng-style="getStyle()">FATS <p>{{getPlanNutrientPercent(plan,
                                    'fat_tot') | number:0}} %</p></div>
                                    <round-progress
                                        animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FDC106" current=
                                    "getPlanNutrientPercent(plan, 'fat_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="true"
                                    rounded="true" semi="false" stroke="4"></round-progress>
                                    
                                </div>
                            </div>
                        </div>


                        
              <div class="card-action search-plancard-action">

                  <div class="row valign-wrapper card-action-align">
                      <div class="col s6 valign left-align hide-on-med-and-down">
                      <a class="cyan-text hide-on-med-and-down"
                         ng-href="/dietplans/create/overview/{{plan.id}}">EDIT</a>
                          </div>
                      <div class="col s6 valign right-align">
                    <a class="cyan-text datepicker_btn" 
                       href="#" ng-click="followPlan(plan)"> 
                        FOLLOW
                    </a>
                      </div>
                  </div>
                               
              </div>
                        
                  
                    </div>
                </div>
            </div>

                <div class="row center">
    <div class="col s12">
        <paging
            class="small"
            page="currentPageCreatedPlans" 
            page-size="3" 
            total="pageSizeCreatedPlan"
            hide-if-empty="{{hideIfEmpty}}"
            ul-class="{{ulClass}}"
            li-class="lipageclass"
            active-class="{{activeClass}}"
            disabled-class="{{disabledClass}}"
            show-prev-next="true"
            show-first-last="true"
            text-next-class="acti fa fa-chevron-right"
            text-prev-class="acti fa fa-chevron-left"
            text-first-class="acti fa fa-backward"
            text-last-class="acti fa fa-forward"
            text-title-page="Page {page}"
            text-title-first="First Page"
            text-title-last="Last Page"
            text-title-next="Next Page"
            text-title-prev="Previous" 
            paging-action="getPlansMadeByMe(page)" 
            >
        </paging>
    </div>
    
    </div>

</div>





<div id="result-list">
    <div ng-if=
    "myPlans!=null && myPlans!=undefined && myPlans.length!=0">
    <b>Plans Saved:</b>

                <div class="row center">
                     <div class="col s12 m6 l5 push-l1"  ng-repeat=
                "plan in myPlans track by $index" current-page="currentPageSavedPlans" > 
                    <div class="card white" >
                        <div class="card-content search-plan-card black-text">
                            <div class="row">
                               

                                <div class="col s12 m12 center">
                                    <h5 class="truncate"><a class="cyan-text txt-overflow" href="/dietplans/view-diet-plan/{{plan.dietplan.id}}">
                                        {{plan.dietplan.name}}
                                    </a></h5>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s12 m2 l1">
                                    <p>Goal:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                </div>
                                <div class="col s12 m10 l11">
                                    <p class="meal-text">{{plan.dietplan.goal}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4 m4 l2">
                                    <p>Duration:
                                    </p>
                                </div>
                                <div class="col s8 m8 l8 pull-l2">
                                    <p class="meal-text">{{plan.dietplan.duration }} Week</p>
                                </div>
                            </div>


                            <div class="row showcustom">
                                <div class="col s4 m4 l2">
                                    <p>Ratings</p>
                                </div>
                                <div class="col s5 m5 l6">
                                    <div back-color="white" class="" id=
                                    "savedplan-{{plan.id}}" ng-click=
                                    "setPlanRating(plan, rating)"
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{plan.dietplan.average_rating * 20}}" sel-color="gold"
                                    star-radius="10" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col s3 m3 pull-m1 pull-s1 l3 pull-l1 rating_val">
                                    <span ng-bind="stars | number:1"></span>/
                                    5.0
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4 m4 center progress-wrapper">
<!--
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#6639B6" current=
                                    "getPlanNutrientPercent(plan.dietplan, 'protein_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">PROTEINS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan.dietplan,
                                    'protein_tot') | number:0}} %</p>
-->
                                    
                                    <div class="round-progress-title ng-cloak" ng-style="getStyle()">PROTEINS <p>{{getPlanNutrientPercent(plan.dietplan,
                                    'protein_tot') | number:0}} %</p></div>
                                    <round-progress
                                        animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#6639B6" current=
                                    "getPlanNutrientPercent(plan.dietplan, 'protein_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="true"
                                    rounded="true" semi="false" stroke="4"></round-progress>
                                </div>


                                <div class="col s4 m4 center progress-wrapper">
<!--
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FE6433" current=
                                    "getPlanNutrientPercent(plan, 'carbohydrate_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">CARBS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan.dietplan,
                                    'carbohydrate_tot') | number:0}} %</p>
-->
                                    <div class="round-progress-title ng-cloak" ng-style="getStyle()">CARBS <p>{{getPlanNutrientPercent(plan.dietplan,
                                    'carbohydrate_tot') | number:0}} %</p></div>
                                    <round-progress
                                        animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FE6433" current=
                                    "getPlanNutrientPercent(plan.dietplan, 'carbohydrate_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="true"
                                    rounded="true" semi="false" stroke="4"></round-progress>


                                </div>


                                <div class="col s4 m4 center progress-wrapper">
<!--
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FDC106" current=
                                    "getPlanNutrientPercent(plan, 'fat_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">FATS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan.dietplan, 'fat_tot') |
                                    number:0}}%</p>
-->
                                    <div class="round-progress-title ng-cloak" ng-style="getStyle()">FATS <p>{{getPlanNutrientPercent(plan.dietplan,
                                    'fat_tot') | number:0}} %</p></div>
                                    <round-progress
                                        animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FDC106" current=
                                    "getPlanNutrientPercent(plan.dietplan, 'fat_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="true"
                                    rounded="true" semi="false" stroke="4"></round-progress>
                                </div>
                            </div>
                        </div>


                        
              <div class="card-action search-plancard-action">
                    <a
                    id="remove-plan-button" ng-click=
                    "removePlan(plan.id)"><i class=
                    "material-icons plan-heart-c createbin">
                    delete</i></a>

                     <a class="read-more right cyan-text datepicker_btn" 
                       href="#" ng-click="followPlan(plan)"> 
                        FOLLOW
                    </a>                               
              </div>
                        
                  
                    </div>
                </div>
            </div>
    

                <div class="row center">
    <div class="col s12">
    <paging
        class="small"
        page="currentPageSavedPlans" 
        page-size="3" 
        total="pageSizeSavedPlan"
        hide-if-empty="{{hideIfEmpty}}"
        ul-class="{{ulClass}}"
        li-class="lipageclass"
        active-class="{{activeClass}}"
        disabled-class="{{disabledClass}}"
        show-prev-next="true"
        show-first-last="true"
        text-next-class="acti fa fa-chevron-right"
        text-prev-class="acti fa fa-chevron-left"
        text-first-class="acti fa fa-backward"
        text-last-class="acti fa fa-forward"
        text-title-page="Page {page}"
        text-title-first="First Page"
        text-title-last="Last Page"
        text-title-next="Next Page"
        text-title-prev="Previous" 
        paging-action="getMyPlans(page)" 
        >
    </paging>
     
            </div>
        </div>
