

<div id="result-list">
    <div ng-if="createdPlans!=null && createdPlans!=undefined && createdPlans.length!=0">
    <b>You created:</b>
    <div class="row">
        <div class="col s12 m4" ng-repeat=
                "plan in createdPlans track by $index">
                    <div class="card">
                        <div class="card-content myplan-content">
                            <div class="row">
                                <!--
                                <div class="col s2"><img class=
                                "circle responsive-img" src=
                                "static/images/tiger.jpg">
                                </div>
-->


                                <div class="col s12 center">
                                    <h5 class="cyan-text">
                                    {{plan.name}}</h5>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s6 m5">
                                    <p class="meal-text">Goals:</p>
                                </div>
                                <div class="col s6 m7 pull-m1">
                                    <p class="meal-text">{{ plan.goal
                                    }}</p>
                                </div>
                            </div>


                            <div class="row">
                                 <div class="col s6 m5">
                                    <p class="meal-text">Duration:</p>
                                </div>
                                <div class="col s6 m7 pull-m1">
                                    <p class="meal-text">{{
                                    plan.duration }} Week</p>
                                </div>
                            </div>


                            <div class="row center showcustom">
                                <div class="col s1">
                                    <p class="meal-text">Ratings</p>
                                </div>
                                <div class="col s7 push-s1">
                                    <div back-color="white" class="right" id=
                                    "plan-{{plan.id}}" ng-click=
                                    "setPlanRating(plan, rating)"
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getPlanRating(plan)}}" sel-color="gold"
                                    star-radius="10" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col s4 left">
                                    <span ng-bind="stars | number:1"></span> /
                                    5.0
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4 m4 center myplan_graph_prot">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#6639B6" current=
                                    "getPlanNutrientPercent(plan, 'protein_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center mygraph-text">PROTEINS</p>


                                    <p class="center mygraph-value">
                                    {{getPlanNutrientPercent(plan,
                                    'protein_tot') | number:0}} %</p>
                                    <!--
                                            <p class="ing-text nutgraph_val">
                                            g</p>
-->
                                </div>


                                <div class="col s4 m4 center myplan_graph_carbs">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FE6433" current=
                                    "getPlanNutrientPercent(plan, 'carbohydrate_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center mygraph-text">CARBS</p>


                                    <p class="center mygraph-value">
                                    {{getPlanNutrientPercent(plan,
                                    'carbohydrate_tot') | number:0}} %</p>


                                    <p class="ing-text nutgraph_val">
                                    </p>
                                </div>


                                <div class="col s4 m4 center myplan_graph_fat">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FDC106" current=
                                    "getPlanNutrientPercent(plan, 'fat_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center mygraph-text">FATS</p>


                                    <p class="center mygraph-value">
                                    {{getPlanNutrientPercent(plan, 'fat_tot') |
                                    number:0}}%</p>
                                </div>
                            </div>
                        </div>


                        <div class="card-action">
<!--
                            <a class="datepicker_btn btn-flat cyan-text read-more" href=
                            "#" ng-click="followPlan(plan.id)">FOLLOW</a>
-->
                            <a class="btn-flat cyan-text save-more3 right" href="#" ng-click=
                            "addPlanToShortlist(plan.id)">SHORTLIST</a>
                        </div>
                    </div>
                </div>
            </div>
                   


                <div class="row">
    <div class="col s12 m6 push-m5">
    <paging
                class="small"
                page="currentPagePlan" 
                page-size="3" 
                total="pageSizePlan"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                li-class="lipageclass"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="true"
                show-first-last="true"
                text-next-class="acti fa fa-chevron-right"
                text-prev-class="acti fa fa-chevron-left"
                text-first-class="acti fa fa-backward"
                text-last-class="acti fa fa-forward"
  text-title-page="Page {page}"
  text-title-first="First Page"
  text-title-last="Last Page"
  text-title-next="Next Page"
  text-title-prev="Previous" 
  paging-action="getPlansMadeByMe(page)" 
  >
            </paging>
     
            </div>
    
        </div>

    </div>





<div id="result-list">
    <div ng-if=
    "myPlans!=null && myPlans!=undefined && myPlans.length!=0">
    <b>You shortlisted:</b>

                <div class="row">
                <div class="col s4 m4" ng-repeat=
                "plan in myPlans track by $index">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <!--
                                <div class="col s2"><img class=
                                "circle responsive-img" src=
                                "static/images/tiger.jpg">
                                </div>
-->


                                <div class="col s12 center">
                                    <h5 class="cyan-text">Name:
                                    {{plan.name}}</h5>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s12">
                                    <p class="grey-text">Goal: {{ plan.goal
                                    }}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s12">
                                    <p class="grey-text">Duration: {{
                                    plan.duration }} Week</p>
                                </div>
                            </div>


                            <div class="row center showcustom">
                                <div class="col s8">
                                    <div back-color="white" class="right" id=
                                    "plan-{{plan.id}}" ng-click=
                                    "setPlanRating(plan, rating)"
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getPlanRating(plan)}}" sel-color="gold"
                                    star-radius="10" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col s3 left">
                                    <span ng-bind="stars | number:1"></span> /
                                    5.0
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4 m4 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#6639B6" current=
                                    "getPlanNutrientPercent(plan, 'protein_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">PROTEINS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan,
                                    'protein_tot') | number:0}} %</p>
                                    <!--
                                            <p class="ing-text nutgraph_val">
                                            g</p>
-->
                                </div>


                                <div class="col s4 m4 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FE6433" current=
                                    "getPlanNutrientPercent(plan, 'carbohydrate_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">CARBS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan,
                                    'carbohydrate_tot') | number:0}} %</p>


                                    <p class="ing-text nutgraph_val">
                                    </p>
                                </div>


                                <div class="col s4 m4 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FDC106" current=
                                    "getPlanNutrientPercent(plan, 'fat_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">FATS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan, 'fat_tot') |
                                    number:0}}%</p>
                                </div>
                            </div>
                        </div>


                        <div class="card-action">
                            <a class="datepicker_btn btn-flat cyan-text" href=
                            "#" ng-click="followPlan(plan.id)">FOLLOW</a>
                            <a class="btn-flat cyan-text" href="#" ng-click=
                            "addPlanToShortlist(plan.id)">SHORTLIST</a>
                        </div>
                    </div>
                </div>
            </div>
    

                <div class="row">
    <div class="col s12 m6 push-m5">
    <paging
                class="small"
                page="currentPage" 
                page-size="3" 
                total="pageSize"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                li-class="lipageclass"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="true"
                show-first-last="true"
                text-next-class="acti fa fa-chevron-right"
                text-prev-class="acti fa fa-chevron-left"
                text-first-class="acti fa fa-backward"
                text-last-class="acti fa fa-forward"
  text-title-page="Page {page}"
  text-title-first="First Page"
  text-title-last="Last Page"
  text-title-next="Next Page"
  text-title-prev="Previous" 
  paging-action="getMyPlans(page)" 
  >
            </paging>
     
            </div>
        </div>
