

<div id="result-list">
    <div ng-if="createdRecipes!=null && createdRecipes!=undefined && createdRecipes.length!=0">
    <b>You created:<b>
    <div class="row">
            <div class="col s12 m4 carousel-item" current-page="currentPage" ng-repeat="recipe in createdRecipes track by $index">
                      <div class="card myrecipe_card">
                        <div class="card-image recipe-im">
                          <img class="recipe_img" ng-src="{{recipe.myRecipesImage}}">
                        </div>
                        <div class="card-content recipe-content">
                           <div class="row">
                            <div class="col s12">
                                <h5 class="cyan-text center ingredient-title">
                                {{recipe.name | addSpace}}</h5>
                            </div>
                        </div>

                            <div class="row raise">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Description</h6>
                                </div>
                                <br>
                            </div>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <p class="meal-text">
                                    {{recipe.description |
                                    limitTo:20}}...</p>
                                </div>
                            </div>
                            <br>
                            <br>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Source</h6>
                                </div>
                            </div>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <a ng-href="{{recipe.url}}" target="_blank" class="recipe-card-info cyan-text">{{recipe.url |
                                    limitTo:50}}</a>
                                </div>
                            </div>
                            
                             
                            
                        </div>
                          <div class="card-action">
                                  <a href="#" class="cyan-text read-more" ng-href="recipes/edit-recipe/{{recipe.id}}">EDIT</a>
                                  <a href="#" class="cyan-text save-more2" ng-href="recipes/view-recipe/{{recipe.id}}">VIEW</a>
                             </div>
                
                      </div>

                    </div>
                   
                </div>


                <div class="row">
    <div class="col s12 m6 push-m5">
    <paging
                class="small"
                page="currentPageRecipe" 
                page-size="3" 
                total="pageSizeRecipe"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                li-class="lipageclass"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="true"
                show-first-last="true"
                text-next-class="acti fa fa-chevron-right"
                text-prev-class="acti fa fa-chevron-left"
                text-first-class="acti fa fa-backward"
                text-last-class="acti fa fa-forward"
  text-title-page="Page {page}"
  text-title-first="First Page"
  text-title-last="Last Page"
  text-title-next="Next Page"
  text-title-prev="Previous" 
  paging-action="getRecipesMadeByMe(page)" 
  >
            </paging>
     
            </div>
    
        </div>





<div id="result-list">
    <div ng-if=
    "myRecipes!=null && myRecipes!=undefined && myRecipes.length!=0">
    <b>You shortlisted:<b>
    <div class="row">
             
            <div class="col s12 m4" current-page="currentPage" ng-repeat=
            "recipe in myRecipes track by $index">
                      <div class="card myrecipe_card">
                        <div class="card-image recipe-im">
                          <img class="recipe_img" ng-src="{{recipe.myRecipesImage}}">
                        </div>
                        <div class="card-content recipe-content">
                           <div class="row">
                            <div class="col s12">
                                <h5 class="cyan-text center ingredient-title">
                                {{recipe.recipe.name | addSpace}}</h5>
                            </div>
                        </div>

                            <div class="row raise">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Description</h6>
                                </div>
                                <br>
                            </div>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <p class="recipe-card-info">
                                    {{recipe.recipe.description |
                                    limitTo:50}}</p>
                                </div>
                            </div>
                            <br>
                            <br>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Source</h6>
                                </div>
                            </div>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <p class="recipe-card-info cyan-text">{{myRecipeUrl |
                                    limitTo:50}}</p>
                                </div>
                            </div>
                            
<!--
                            <div class="row raise">
                                <div class="col s12">
                                     <a class="read-more right cyan-text" ng-href="viewRecipe/{{recipe.meal_recipe.id}}">READ MORE</a>
                                    <a class="read-more right cyan-text">View</a>
                                </div>
                            </div>
-->
                        </div>
                          
                          <div class="card-action">
                                <a class="right cyan-text" ng-href="recipes/view-recipe/{{recipe.meal_recipe.id}}">READ MORE</a>
                                <a class="cmenu cyan-text" ng-href="recipes/edit-recipe/{{recipe.meal_recipe.id}}">View</a>
                          </div>
                        
                
                      </div>

                    </div>
                   
                </div>

                <div class="row">
    <div class="col s12 m6 push-m5">
    <paging
                class="small"
                page="currentPage" 
                page-size="3" 
                total="pageSize"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                li-class="lipageclass"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="true"
                show-first-last="true"
                text-next-class="acti fa fa-chevron-right"
                text-prev-class="acti fa fa-chevron-left"
                text-first-class="acti fa fa-backward"
                text-last-class="acti fa fa-forward"
  text-title-page="Page {page}"
  text-title-first="First Page"
  text-title-last="Last Page"
  text-title-next="Next Page"
  text-title-prev="Previous" 
  paging-action="getMyRecipes(page)" 
  >
            </paging>
     
            </div>
        </div>
