

<div id="result-list">
    <div ng-if="createdRecipes!=null && createdRecipes!=undefined && createdRecipes.length!=0">
        <b>Recipes Created:</b>
        <div class="row">
            <div class="col s12 m4" current-page="currentPageRecipe" ng-repeat="recipe in createdRecipes track by $index">
                 <div class="card large">
                        <div class="card-image">
                          <img ng-click="openRecipeDetails(recipe.id)" ng-src="{{recipe.myRecipesImage}}">
                        </div>
                        <div class="card-content">
                           
                               <span class="card-title activator grey-text text-darken-4        ingredient-title">      {{recipe.name | addSpace}}
                                   <i class="material-icons right">more_vert</i></span>
                            
                            
                            <div class="row valign-wrapper hide-on-small-only">
                                <div class="col m3 left-align">
                                    <p>Ratings</p>
                                </div>
                                <div class="col m5 center-align">
                                    <div back-color="white" class="" id=
                                    "recipe-{{recipe.id}}" 
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getRecipeRating(recipe)}}" sel-color="gold"
                                    star-radius="7.75" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col m4 right-align">
                                    <span ng-bind="stars | number:1"></span>/
                                    5.0
                                </div>
                            </div>
                            
                            <div class="row hide-on-med-and-up">
                                <div class="col s12">
                                    <p>Ratings</p>
                                </div>
                                <div class="col 8">
                                    <div back-color="white" class="" id=
                                    "recipe-{{recipe.id}}" ng-click=
                                    "setRecipeRating(recipe, rating)"
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getRecipeRating(recipe)}}" sel-color="gold"
                                    star-radius="10" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col s4 ">
                                    <span ng-bind="stars | number:1"></span>/
                                    5.0
                                </div>
                                
                                <div class="row">
                                    <div class="col s12">
                                        <p>Source</p>
                                    </div>
                                    <div class="col s12" ng-if="recipe.url">
                                        <a href="{{recipe.url}}" class="cyan-text truncate">{{recipe.url}}</a>
                                    </div>

                                    <div class="col s6">
                                        <h6>Time to Make</h6>
                                    </div>
                                    <div class="col s6">
                                        <h6 class="meal-text">{{getTotalDuration(recipe)}}</h6>
                                    </div>

                                </div>
                            </div>
                            
                            
                            <div class="row hide-on-small-only">
                                <div class="col m3">
                                    <p>Source</p>
                                </div>
                                <div class="col m9" ng-if="recipe.url">
                                    <a href="{{recipe.url}}" class="cyan-text truncate">{{recipe.url}}</a>
                                </div>
                            </div>
                            
                            <div class="row hide-on-small-only">
                                <div class="col m6">
                                    <h6>Time to Make</h6>
                                </div>
                                <div class="col m6">
                                    <h6 class="meal-text">{{getTotalDuration(recipe)}}</h6>
                                </div>
                                
                            </div>
                            
                          </div>
                          
                          <div class="card-reveal">
                               <span class="card-title activator grey-text text-darken-4        ingredient-title">      {{recipe.name | addSpace}}
                                   <i class="material-icons right">close</i></span>
                            <div class="row">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Description</h6>
                                </div>
                                <div class="col s12 m12">
                                    <p class="block-with-text">
                                    {{recipe.description}}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Servings</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.servings}}</h6>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Calories</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.energy_kcal | number:0}} kcal</h6>
                                </div>
                            </div>
                              
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Carbs</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.carbohydrate_tot | number:0}} g</h6>
                                </div>
                                
                            </div>
                        
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Proteins</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.protein_tot | number:0}} g</h6>
                                </div>
                            </div>
                              
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Fats</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.fat_tot | number:0}} g</h6>
                                </div>
                            </div>
                        </div>
                          
                          <div class="card-action">
<!--
                                  <a class="heart-c right" ng-if=
                                       "!checkMyRecipes(recipe.id)"
                                       ng-click="shortlistRecipe(recipe.id)">
                                        <i class="material-icons">favorite</i></a>
                                    <a class="heart-ok right" ng-if=
                                       "checkMyRecipes(recipe.id)"
                                       ng-click="shortlistRecipe(recipe.id)">
                                        <i class="material-icons">favorite</i></a>
                                  <a class="save-more cyan-text">
                                         SAVE
                                    </a>
-->
                              <a class="cyan-text left hide-on-med-and-down" ng-href="/recipes/edit-recipe/{{recipe.id}}">
                                         EDIT
                                </a>
                                <a class="right cyan-text" ng-href="/recipes/view-recipe/{{recipe.id}}">
                                         VIEW
                                </a>
                               
                          </div>
                
                      </div>

            </div>
        </div>
        

        <div class="row center">
            <div class="col s12">
                <paging
                    class="small"
                    page="currentPageRecipe" 
                    page-size="3" 
                    total="pageSizeRecipe"
                    hide-if-empty="{{hideIfEmpty}}"
                    ul-class="{{ulClass}}"
                    li-class="lipageclass"
                    active-class="{{activeClass}}"
                    disabled-class="{{disabledClass}}"
                    show-prev-next="true"
                    show-first-last="true"
                    text-next-class="acti fa fa-chevron-right"
                    text-prev-class="acti fa fa-chevron-left"
                    text-first-class="acti fa fa-backward"
                    text-last-class="acti fa fa-forward"
                    text-title-page="Page {page}"
                    text-title-first="First Page"
                    text-title-last="Last Page"
                    text-title-next="Next Page"
                    text-title-prev="Previous" 
                    paging-action="getRecipesMadeByMe(page)" 
                    >
                </paging>
            </div>
        </div>
    </div>
</div>



<div id="result-list">
    <div ng-if=
    "myRecipes!=null && myRecipes!=undefined && myRecipes.length!=0">
    <b>Recipes Saved:<b>
    <div class="row">
             
            <div class="col s12 m4" current-page="currentPage" ng-repeat=
            "recipe in myRecipes track by $index">

                    <div class="card large">
                        <div class="card-image">
                          <img ng-click="openRecipeDetails(recipe.id)" ng-src="{{recipe.myRecipesImage}}">
                        </div>
                        <div class="card-content">
                           
                               <span class="card-title activator grey-text text-darken-4        ingredient-title">      {{recipe.recipe.name | addSpace}}
                                   <i class="material-icons right">more_vert</i></span>
                            
                            
                            <div class="row valign-wrapper hide-on-small-only">
                                <div class="col m3 left-align">
                                    <p>Ratings</p>
                                </div>
                                <div class="col m5 center-align">
                                    <div back-color="white" class="" id=
                                    "recipe-{{recipe.id}}" 
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getRecipeRating(recipe.recipe)}}" sel-color="gold"
                                    star-radius="7.75" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col m4 right-align">
                                    <span ng-bind="stars | number:1"></span>/
                                    5.0
                                </div>
                            </div>
                            
                            <div class="row hide-on-med-and-up">
                                <div class="col s12">
                                    <p>Ratings</p>
                                </div>
                                <div class="col 8">
                                    <div back-color="white" class="" id=
                                    "recipe-{{recipe.id}}" ng-click=
                                    "setRecipeRating(recipe, rating)"
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getRecipeRating(recipe.recipe)}}" sel-color="gold"
                                    star-radius="10" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col s4 ">
                                    <span ng-bind="stars | number:1"></span>/
                                    5.0
                                </div>
                                
                                <div class="row">
                                    <div class="col s12">
                                        <p>Source</p>
                                    </div>
                                    <div class="col s12" ng-if="recipe.url">
                                        <a href="{{recipe.url}}" class="cyan-text truncate">{{recipe.recipe.url}}</a>
                                    </div>

                                    <div class="col s6">
                                        <h6>Time to Make</h6>
                                    </div>
                                    <div class="col s6">
                                        <h6 class="meal-text">{{getTotalDuration(recipe.recipe)}}</h6>
                                    </div>

                                </div>
                            </div>
                            
                            
                            <div class="row hide-on-small-only">
                                <div class="col m3">
                                    <p>Source</p>
                                </div>
                                <div class="col m9" ng-if="recipe.url">
                                    <a href="{{recipe.url}}" class="cyan-text truncate">{{recipe.recipe.url}}</a>
                                </div>
                            </div>
                            
                            <div class="row hide-on-small-only">
                                <div class="col m6">
                                    <h6>Time to Make</h6>
                                </div>
                                <div class="col m6">
                                    <h6 class="meal-text">{{getTotalDuration(recipe.recipe)}}</h6>
                                </div>
                                
                            </div>
                            
                          </div>
                          
                          <div class="card-reveal">
                               <span class="card-title activator grey-text text-darken-4        ingredient-title">      {{recipe.recipe.name | addSpace}}
                                   <i class="material-icons right">close</i></span>
                            <div class="row">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Description</h6>
                                </div>
                                <div class="col s12 m12">
                                    <p class="block-with-text">
                                    {{recipe.recipe.description}}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Servings</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.recipe.servings}}</h6>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Calories</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.recipe.energy_kcal | number:0}} kcal</h6>
                                </div>
                            </div>
                              
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Carbs</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.recipe.carbohydrate_tot | number:0}} g</h6>
                                </div>
                                
                            </div>
                        
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Proteins</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.recipe.protein_tot | number:0}} g</h6>
                                </div>
                            </div>
                              
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Fats</h6>
                                </div>
                                <div class="col s6 m6">
                                    <h6 class="meal-text">{{recipe.recipe.fat_tot | number:0}} g</h6>
                                </div>
                            </div>
                        </div>
                          
                          <div class="card-action">
<!--
                                  <a class="heart-c right" ng-if=
                                       "!checkMyRecipes(recipe.id)"
                                       ng-click="shortlistRecipe(recipe.id)">
                                        <i class="material-icons">favorite</i></a>
-->
                                    <a class="heart-ok right" ng-if=
                                       "!checkMyRecipes(recipe.id)"
                                       ng-click="removeRecipe(recipe.id)">
                                        <i class="material-icons heart-c createbin">delete</i></a>
                                      
                                <a class="read-more right cyan-text" 
                                        ng-href="recipes/view-recipe/{{recipe.id}}">
                                         VIEW
                                    </a>
                               
                          </div>
                
                      </div>

                    </div>
                   
                </div>

                <div class="row center">
    <div class="col s12">
    <paging
        class="small"
        page="currentPage" 
        page-size="3" 
        total="pageSize"
        hide-if-empty="{{hideIfEmpty}}"
        ul-class="{{ulClass}}"
        li-class="lipageclass"
        active-class="{{activeClass}}"
        disabled-class="{{disabledClass}}"
        show-prev-next="true"
        show-first-last="true"
        text-next-class="acti fa fa-chevron-right"
        text-prev-class="acti fa fa-chevron-left"
        text-first-class="acti fa fa-backward"
        text-last-class="acti fa fa-forward"
        text-title-page="Page {page}"
        text-title-first="First Page"
        text-title-last="Last Page"
        text-title-next="Next Page"
        text-title-prev="Previous" 
        paging-action="getMyRecipes(page)" 
        >
    </paging>
     
            </div>
        </div>
