<div class="ng-cloak" ng-cloak="" ng-controller="navbarController">
    <ul class="dropdown-content" id="dropdown1">
        <li>
            <a class="cyan-text" href="/dashboard">Dashboard</a>
        </li>


        <li>
            <a class="cyan-text" ng-click="logout()">Logout</a>
        </li>
    </ul>

    <nav class="navbar" role="navigation">
        <div class="nav-wrapper">
            <a class="brand-logo" href="/" id="logo-container" ng-class=
            '{"inactive":toggle==0}' ng-click='toggle=0'><img class=
            "responsive-img small" id="smallLogo" src=
            "static/images/Logo-new.png"></a>

            <ul class="right hide-on-med-and-down" id="main_menu">
                <li ng-class='{"active":toggle==1}' ng-click='toggle=1'>
                    <a href="/plans">Plans</a>
                </li>


                <li ng-class='{"active":toggle==2}' ng-click='toggle=2'>
                    <a href="/ingredients">Ingredients</a>
                </li>


                <li ng-class='{"active":toggle==3}' ng-click='toggle=3'>
                    <a href="/recipes">Recipes</a>
                </li>


                <li ng-class='{"active":toggle==4}' ng-click='toggle=4'>
                    <a href="#">Articles</a>
                </li>


                <li>
                    <button class="login-btn" href="#modal1" ng-show="!isLoggedIn" 
                            ng-click="openModal()" >
                        LOGIN
                    </button>
                    <button ng-show="isLoggedIn" 
                            class='circle dropdown-button btn-thumb'
                            data-activates='dropdown1' data-beloworigin="true">
                
                        <img class="responsive-img small circle"
                            id="small_logo" ng-src="{{user_thum}}">
                    </button>
                </li>
            </ul>


                   
                
                
                
                <!-- MOBILE VIEW NAVIGATION -->
                <!--Mobile View-->


                        <ul id="nav-mobile" class="side-nav">  
                            
                            <li>
                                <img class="mobile_dp" ng-src="{{user_thum}}">
                            </li>
                        
                        <li>
                            <a class="cyan-text" href="/plans">Plans</a>
                        </li>


                        <li>
                            <a class="cyan-text" href=
                            "/ingredients">Ingredients</a>
                        </li>


                        <li>
                            <a class="cyan-text" href="/recipes">Recipes</a>
                        </li>


                        <li>
                            <a class="cyan-text" href="#">Articles</a>
                        </li>
                        <!--function to open modal openModal()-->


                        <li>
                            <a class="cyan-text" href="#modal1" ng-click=
                            "openModal()" ng-if="!isLoggedIn">Log in</a>
                            <a class="cyan-text" ng-click="logout()" ng-if=
                            "isLoggedIn">Log out</a>
                        </li>
                    </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        </div>
    </nav>
    
    <!-- LOGIN & SIGNUP MODAL -->


    <div class="modal col s12 m6" id="modal1">
        <a class=
        " modal-action modal-close waves-effect waves-green btn-flat right" >X</a>

        <div class="modal-content">
            <div ng-if='modal1 && !modal2 && !modal3 && !modal4'>
                <h5 class="center">Welcome</h5>
                <br>
                <!-- LOGIN VIA SOCIAL MEDIA -->


                <div class="center-btn">
                    <a class="waves-effect waves-light btn largebtn fbicon" ng-click=
                    "closeModal();Auth('facebook')" ><i class="fa fa-facebook fblogo"></i>Log In with FACEBOOK</a><br>
                </div>
                <br>


                <div class="center-btn">
                    <a class="waves-effect waves-light btn largebtn googleicon" id=
                    "googlebtn" ng-click="closeModal();Auth('google')"><i class="fa fa-google googlelogo"></i>Log In with
                    GOOGLE</a>
                </div>


                <p class="center-align">OR</p>


                <div class="row">
                    <!-- LOGIN FOR EMPTY FIELDS -->


                    <div class="col s12">
                        <p class="text-danger" ng-show="loginError">{{
                        loginError }}</p>
                    </div>
                </div>


                <form id="myForm" name="myForm">
                    <div class="input-field">
                        <!-- USERNAME -->
                        <input class="form-control validate" id="first_name"
                        ng-model="login.username" type="email"> <label for=
                        "first_name">Email</label>
                    </div>


                    <div class="input-field">
                        <!-- PASSWORD-->
                        <input class="form-control validate" id="password"
                        ng-model="login.password" type="password"> <label for=
                        "first_name">Password</label>
                    </div>


                    <div class="center-btn">
                        <!-- SUBMIT BUTTON -->
                        <a class=
                        "waves-effect waves-light btn btn-default largebtn"
                        ng-click="login()" type="submit">Login</a>
                    </div>
                    <br>
                    <a class="cyan-text" href="#" ng-click=
                    "switchToModal(4)">Forgot your password or username?</a>
                </form>


                <p class="cyan-text">Don't have an account? <a class=
                "cyan-text" ng-click="switchToModal(2)">Sign Up Now</a></p>
            </div>
            <!-- END OF LOGIN CONTENT -->
            <!-- SIGNUP CONTENT -->


            <div ng-if='!modal1 && modal2 && !modal3 && !modal4'>
                <h5 class="center-align">Welcome</h5>
                <br>


                <div class="center-btn">
                    <a class="waves-effect waves-light btn largebtn" ng-click=
                    "closeModal();Auth('facebook')">Sign Up with FACEBOOK</a>
                </div>
                <br>


                <div class="center-btn">
                    <a class="waves-effect waves-light btn largebtn" id=
                    "googlebtn" ng-click="closeModal();Auth('google')">Sign Up with
                    GOOGLE</a>
                </div>


                <p class="center-align">OR</p>


                <form id="myForm" name="myForm" ng-submit="register()">
                    <div class="row">
                        <!-- WARNINGS FOR EMPTY FIELD-->


                        <div class="col s12">
                            <p class="text-danger" ng-show="registerError">{{
                            registerError }}</p>
                        </div>
                    </div>


                    <div class="row">
                        <!-- WARNINGS FOR EMPTY FIELD-->


                        <div class="col s12">
                            <p class="text-success" ng-show="registerSuccess">
                            {{ registerSuccess }}</p>
                        </div>
                    </div>
                    <!-- USERNAME -->


                    <div class="row">
                        <div class="input-field col m12">
                            <input class="validate" id="input_name" length=
                            "100" ng-model="signup.username" required="" type=
                            "text"> <label data-error="Atmost 10 characters"
                            for="input_name">Username</label>
                        </div>
                    </div>
                    <!-- EMAIL -->


                    <div class="row">
                        <div class="input-field col m12">
                            <input class="form-control validate" id="email"
                            name="emailId" ng-model="signup.email" required=""
                            type="email"> <label data-error="Invalid Email Id"
                            for="email">Email</label>
                        </div>
                    </div>
                    <!-- PASSWORD -->


                    <div class="row">
                        <div class="input-field col m12">
                            <label for="registerPassword">Password</label>
                            <input id="registerPassword" name=
                            "registerPassword" ng-maxlength="20" ng-minlength=
                            "8" ng-model="signup.registerPassword" required=""
                            type="password"><br>
                        </div>
                    </div>
                    <!-- CONFIRM PASSWORD -->


                    <div class="row">
                        <div class="input-field col m12">
                            <label for="confirmPassword" ng-if=
                            "signup.registerPassword == signup.confirmPassword">
                            Confirm Password</label> <input id=
                            "confirmPassword" name="confirmPassword" ng-class=
                            "{invalid:signup.registerPassword != signup.confirmPassword}"
                            ng-model="signup.confirmPassword" required="" type=
                            "password"> <label class="active" data-error=
                            "Passwords do not match" for="confirmPassword"
                            ng-if=
                            "signup.registerPassword != signup.confirmPassword">
                            Confirm Password</label><br>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- CONTINUE BUTTON -->


                    <div class="center-btn">
                        <button class="btn btn-default largebtn" id=
                        "continueToForm2" type="submit">SignUp</button>
                    </div>
                </form>
            </div>
            <!-- FORGOT PASSWORD CONTENT -->


            <div ng-if="!modal1 && !modal2 && !modal3 && modal4">
                <h5 class="center">Forgot your password</h5>
                <br>
                <br>


                <p>Enter your email or username below and we will send you a
                link to reset your password</p>
                <span class="teal">{{Message}}</span>

                <form id="myForm" name="myForm" ng-submit="resetPassword()">
                    <div class="row">
                        <div class="input-field col m12">
                            <input class="form-control validate" id="email"
                            name="emailId" ng-model="forgot.email" required=""
                            type="email"> <label data-error="Invalid Email Id"
                            for="email">Email</label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- CONTINUE BUTTON -->


                    <div class="center-btn">
                        <button class="btn btn-default largebtn" id=
                        "continueToForm2" type="submit">ResetPassword</button>
                    </div>
                </form>
            </div>
            <!-- ENTER OTHER DETAILS OF THE USER -->


            <div ng-if='!modal1 && !modal2 && modal3 && !modal4'>
                <h5 class="center">Tell us about yourself</h5>
                <br>


                <p class="text-danger" ng-show="registerError">{{ registerError
                }}</p>


                <form ng-submit="register()">
                    <!-- WEIGHT -->


                    <div class="input-field">
                        <input class="form-control validate" id="weight" min=
                        "1" ng-model="registerWeight" required="" type=
                        "number"> <label for="weight">Current Weight (in
                        kgs)</label>
                    </div>
                    <!-- HEIGHT -->


                    <div class="input-field">
                        <label for="height">Height (in cms)</label>
                        <input class="form-control validate" data-error="Error"
                        id="height" ng-model="registerHeight" required="" type=
                        "number">
                    </div>
                    <!-- GOAL WEIGHT -->


                    <div class="input-field">
                        <input class="form-control validate" id="weight"
                        ng-model="registerWeight" required="" type="number">
                        <label for="weight">Goal Weight (in kgs)</label>
                    </div>
                    <!-- GENDER -->


                    <div class="input-field">
                        <label>Gender</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input checked class="with-gap" id="test5" name=
                        "group3" type="radio"> <label for=
                        "test5">Male</label>&nbsp;&nbsp; <input class=
                        "with-gap" id="test4" name="group3" type="radio">
                        <label for="test4">Female</label>
                    </div>
                    <!-- DATE OF BIRTH -->


                    <div class="input-field">
                        <input class="datepicker" id="dob" required="" type=
                        "date">
                    </div>
                    <!-- SAVE AND CONTINUE BUTTON -->


                    <div class="center-btn">
                        <a class="modal-trigger" href=
                        "/dashboard"><input class="btn btn-default" type=
                        "submit" value="Save and Continue"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
     $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
    $(".dropdown-button").dropdown();

  // Initialize collapse button
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  $('.collapsible').collapsible();
});
 
</script>