<div class="ng-cloak" ng-cloak="" ng-controller="navbarController">
<!--    ng-controller="navbarController">-->
    <ul class="dropdown-content" id="dropdown1">
        <li>
            <a class="cyan-text" ng-click="logout()">Logout</a>
        </li>
    </ul>
    
    <ul id="dropdown-search" class="dropdown-content">
      <li><a href="/dietplans/search">Plans</a></li>
      <li><a href="/recipes/search">Recipes</a></li>
      <li><a href="/ingredients/search">Ingredients</a></li>
    </ul>
    
    <ul id="dropdown-create" class="dropdown-content">
      <li> <a class="cyan-text" ng-click="openCreatePlanModal()">Diet Plan</a></li>
      <li><a ng-click="goToCreateRecipe()" href="#">Recipe</a></li>
    </ul>

    <nav class="navbar" role="navigation" id="navbar">
        <div class="nav-wrapper">
            <a class="brand-logo" href="/" id="logo-container" ng-class=
            '{"inactive":toggle==0}' ng-click='toggle=0'><img class=
            "responsive-img small" id="smallLogo" src=
            "static/images/Logo-new.png"></a>

            <ul class="right hide-on-med-and-down" id="main_menu">
                
                <li>
                    <a class='dropdown-button' data-activates='dropdown-search'
                       data-beloworigin="true">
                        Search
                        <i class="material-icons right navbar-dropdown-icon">arrow_drop_down</i>
                    </a>
                </li>
                
                <li>
                    <a class='dropdown-button' data-activates='dropdown-create'
                       data-beloworigin="true">
                        Create
                        <i class="material-icons right navbar-dropdown-icon">arrow_drop_down</i>
                    </a>
                </li>
                
                 <li ng-class='{"active":toggle==4}' ng-click='toggle=4'>
                    <a href="http://blog.biteplans.com/">Blog</a>
                </li>
                
                <li ng-class='{"active":toggle==5}' ng-click='goToDashboard()'>
                    <a class="cyan-text" href="#">Dashboard</a>
                </li>

                <li>
                    <button class="login-btn" href="#modal1" ng-show="!isLoggedIn" 
                            ng-click="openModal()" >
                        LOGIN
                    </button>
                    <button ng-show="isLoggedIn" 
                            class='circle dropdown-button btn-thumb'
                            data-activates='dropdown1' data-beloworigin="true">
                
                        <img class="responsive-img small circle"
                            id="small_logo" ng-src="{{user_thum}}">
                    </button>
                </li>
            </ul>

            <!-- MOBILE VIEW NAVIGATION -->
            <!--Mobile View-->

            <ul id="nav-mobile" class="side-nav">  

                <li>
                    <img class="mobile_dp" ng-src="{{user_thum}}">
                </li>

                <li>
                    <a href="/dashboard" class="cyan-text" ng-if="isLoggedIn">Dashboard</a>
                </li>

                <li>
                    <a class="cyan-text" href="/dietplans/search">Plans</a>
                </li>


                <li>
                    <a class="cyan-text" href=
                    "/ingredients/search">Ingredients</a>
                </li>


                <li>
                    <a class="cyan-text" href="/recipes/search">Recipes</a>
                </li>


                <li>
                    <a class="cyan-text" href="http://blog.biteplans.com">Blog</a>
                </li>

                <!--function to open modal openModal()-->

                <li>
                    <a class="cyan-text" href="#modal1" ng-click=
                    "openModal()" ng-if="!isLoggedIn">Log in</a>
                    <a class="cyan-text" ng-click="logout()" ng-if=
                    "isLoggedIn">Log out</a>
                </li>
            </ul>
            
            <ul ng-show="isLoggedIn" id="slide-out" class="side-nav">
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('summary')">
                          <img ng-if="tab.tab!=='summary'" class="icon-orig-nav"     
                               src="static/images/summary_deselect.png">
                          <img ng-if="tab.tab==='summary'" class="icon-orig-nav"
                               src="static/images/summary.png">

                          <span class="slide-nav-title">Summary</span>
                      </a>
                  </div>
                </li>
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('profile')">
                          <img ng-if="tab.tab!=='profile'" class="icon-orig-nav"     
                               src="static/images/profile_deselect.png">
                          <img ng-if="tab.tab==='profile'" class="icon-orig-nav"
                               src="static/images/profile.png">
                          <span class="slide-nav-title">Profile</span>
                      </a>
                  </div>
                </li>
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('calendar')">
                          <img ng-if="tab.tab!=='calendar'" class="icon-orig-nav"     
                               src="static/images/calendar_deselect.png">
                          <img ng-if="tab.tab==='calendar'" class="icon-orig-nav"
                               src="static/images/calendar.png">
                          <span class="slide-nav-title">Calendar</span>
                      </a>
                  </div>
                </li>
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('plans')">
                          <img ng-if="tab.tab!=='plans'" class="icon-orig-nav"     
                               src="static/images/myplans_deselect.png">
                          <img ng-if="tab.tab==='plans'" class="icon-orig-nav"
                               src="static/images/myplans.png">
                          <span class="slide-nav-title">My Plans</span>
                      </a>
                  </div>
                </li>
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('recipes')">
                          <img ng-if="tab.tab!=='recipes'" class="icon-orig-nav"     
                               src="static/images/reciepes_deselect.png">
                          <img ng-if="tab.tab==='recipes'" class="icon-orig-nav"
                               src="static/images/reciepes.png">
                          <span class="slide-nav-title">My Recipes</span>
                      </a>
                  </div>
                </li>  
                <li class="bold">
                  <div class="row">
                      <a ng-click="setTab('ingredients')">
                          <img ng-if="tab.tab!=='ingredients'"
                               class="icon-orig-nav"     
                               src="static/images/myingredients_deselect.png">
                          <img ng-if="tab.tab==='ingredients'"
                               class="icon-orig-nav"
                               src="static/images/myingredients_select.png">
                          <span class="slide-nav-title">My Ingredients</span>
                      </a>
                  </div>
                </li>
                <li class="bold">
                    
                  <div class="row">
                      <a ng-click="setTab('searchPlans');redirectToSearchPlan()">
                          <img ng-if="tab.tab!=='searchPlans'" 
                               class="icon-orig-nav"     
                               src="static/images/searchplan_deselect.png">
                          <img ng-if="tab.tab==='searchPlans'"
                               class="icon-orig-nav"
                               src="static/images/searchplan.png">
                          <span class="slide-nav-title">Search Plans</span>
                      </a>
                  </div>
             </li>
            </ul>
            
            <div class="row container hide-on-med-and-up">
                <a data-activates="nav-mobile" class="button-collapse cyan-text left"><i class="material-icons">menu</i></a>
              <a ng-show="isLoggedIn" data-activates="slide-out" class="button-collapse-2 cyan-text right"><i class="material-icons">more_vert</i></a>
            </div>

        </div>
    </nav>
    
    <!-- LOGIN & SIGNUP MODAL -->


    <div class="modal col s12 m6" id="modal1">
        <a class=
        " modal-action modal-close waves-effect waves-green btn-flat right" >X</a>

        <div class="modal-content">
            <div ng-if='modal1 && !modal2 && !modal3 && !modal4'>
                <h5 class="center">Welcome</h5>
                <br>
                <!-- LOGIN VIA SOCIAL MEDIA -->

                <div class="row center">
                    <div class="col s12 m6">
                        <a class="waves-effect waves-light btn fbicon" ng-click=
                        "closeModal();Auth('facebook')" ><i class="fa fa-facebook fblogo"></i>Log In</a>
                    </div>
                    
                    <div class="hide-on-med-and-up">
                        <br><br>
                    </div>
                    
                    <div class="col s12 m6">
                        <a class="waves-effect waves-light btn googleicon" id=
                            "googlebtn" ng-click="closeModal();Auth('google')"><i class="fa fa-google googlelogo"></i>Log In </a>
                    </div>
                    
                </div>
                <p class="center-align">OR</p>


                <div class="row" ng-show="loginError">
                    <!-- LOGIN FOR EMPTY FIELDS -->


                    <div class="col s12 center">
                        <p class="text-danger">{{
                        loginError }}</p>
                    </div>
                </div>


                <form id="myForm" name="myForm">
                    <div class="input-field ">
                        <!-- USERNAME -->
                        <input class="form-control validate" id="first_name"
                        ng-model="login.username" type="email"> <label for=
                        "first_name">Email</label>
                    </div>


                    <div class="input-field ">
                        <!-- PASSWORD-->
                        <input class="form-control validate" id="password"
                        ng-model="login.password" type="password"> <label for=
                        "first_name">Password</label>
                    </div>


                    <div class="center">
                        <!-- SUBMIT BUTTON -->
                        <a class=
                        "waves-effect waves-light btn btn-default"
                        ng-click="login()" type="submit">Login</a>
                    </div>
                    <br>
                    <a class="cyan-text" href="#" ng-click=
                    "switchToModal(4)">Forgot your password or username?</a>
                </form>


                <p class="cyan-text">Don't have an account? <a class=
                "cyan-text" ng-click="switchToModal(2)">Sign Up Now</a></p>
            </div>
            <!-- END OF LOGIN CONTENT -->
            <!-- SIGNUP CONTENT -->


            <div ng-if='!modal1 && modal2 && !modal3 && !modal4'>
                <h5 class="center-align">Welcome</h5>
                <br>


                <div class="row center">
                    <div class="col s12 m6">
                        <a class="waves-effect waves-light btn fbicon" ng-click=
                            "closeModal();Auth('facebook')"><i class="fa fa-facebook fblogo"></i>Sign Up </a><br>
                    </div>
                    
                    <div class="hide-on-med-and-up">
                        <br><br>
                    </div>
                    
                    <div class="col s12 m6">
                        <a class="waves-effect waves-light btn  googleicon" id=
                            "googlebtn" ng-click="closeModal();Auth('google')"><i class="fa fa-google googlelogo"></i>Sign Up</a>
                    </div>
                </div>

                <p class="center-align">OR</p>


                <form id="myForm" name="myForm" ng-submit="register()">
                    <div class="row" ng-show="registerError || registerSuccess">
                        <!-- WARNINGS FOR EMPTY FIELD-->


                        <div class="col s12" >
                            <p class="text-danger" ng-show="registerError">
                                {{registerError}}</p>
                            
                            <p class="text-success" ng-show="registerSuccess">
                            {{ registerSuccess }}</p>
                        </div>
                    </div>


<!--                    <div class="row">-->
                        <!-- WARNINGS FOR EMPTY FIELD-->

                    <!-- USERNAME -->


                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input class="validate" id="input_name" length=
                            "50" ng-model="signup.username" required="" type=
                            "text"> <label data-error="Atmost 50 characters"
                            for="input_name">Username</label>
                        </div>
<!--                    </div>-->
                    <!-- EMAIL -->


<!--                    <div class="row">-->
                        <div class="input-field col s12 m6">
                            <input class="form-control validate" id="email"
                            name="emailId" ng-model="signup.email" required=""
                            type="email"> <label data-error="Invalid Email Id"
                            for="email">Email</label>
                        </div>
                    </div>
                    <!-- PASSWORD -->


                    <div class="row">
                        <div class="input-field col s12 m6">
                            <label for="registerPassword">Password</label>
                            <input id="registerPassword" name=
                            "registerPassword" ng-maxlength="20" ng-minlength=
                            "8" ng-model="signup.registerPassword" required=""
                            type="password">
                        </div>
<!--                    </div>-->
                    <!-- CONFIRM PASSWORD -->


<!--                    <div class="row">-->
                        <div class="input-field col s12 m6">
                            <label for="confirmPassword" ng-if=
                            "signup.registerPassword == signup.confirmPassword">
                            Confirm Password</label> <input id=
                            "confirmPassword" name="confirmPassword" ng-class=
                            "{invalid:signup.registerPassword != signup.confirmPassword}"
                            ng-model="signup.confirmPassword" required="" type=
                            "password"> <label class="active" data-error=
                            "Passwords do not match" for="confirmPassword"
                            ng-if=
                            "signup.registerPassword != signup.confirmPassword">
                            Confirm Password</label>
                        </div>
                    </div>
                    
                    <!-- CONTINUE BUTTON -->


                    <div class="center">
                        <button class="btn btn-default" id=
                        "continueToForm2" type="submit">SignUp</button>
                    </div>
                </form>
            </div>
            <!-- FORGOT PASSWORD CONTENT -->


            <div ng-if="!modal1 && !modal2 && !modal3 && modal4">
                <h5 class="center">Forgot your password</h5>
                <br>
                <br>


                <p>Enter your email or username below and we will send you a
                link to reset your password</p>
                <span class="teal">{{Message}}</span>

                <form id="myForm" name="myForm" ng-submit="resetPassword()">
                    <div class="row">
                        <div class="input-field col m12">
                            <input class="form-control validate" id="email"
                            name="emailId" ng-model="forgot.email" required=""
                            type="email"> <label data-error="Invalid Email Id"
                            for="email">Email</label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!-- CONTINUE BUTTON -->


                    <div class="center-btn">
                        <button class="btn btn-default largebtn" id=
                        "continueToForm2" type="submit">ResetPassword</button>
                    </div>
                </form>
            </div>
            
            <!-- ENTER OTHER DETAILS OF THE USER -->

        </div>
    </div>
    
    <div class="modal col s12 m6" id="user_info_modal">
        <div class="row" ng-if='!modal1 && !modal2 && modal3 && !modal4'>
                <h5 class="center">Tell us about yourself</h5>
                
                <p class="text-danger" ng-show="registerError">{{ registerError
                }}</p>


                <form ng-submit="updateProfileInfo()">
                    <div class="row">
                        <div class="input-field col s8 m6 push-m3 push-s2">
                            <label adjust-placeholder for="weight">Current Weight (in kgs)</label>
                            <input ng-class="validate" min="0" max="650" id="weight"         step="0.1" ng-model="profileInfo.weight" required title="Please enter your weight" type="number">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s8 m6 push-m3 push-s2">
                            <input ng-class="validate" id="height" step="0.1"
                                   min="0" max="300" required
                                   ng-model="profileInfo.height" type="number"
                                   required title="Please enter your height">
                            <label adjust-placeholder for="height">Height (in cms)</label>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="input-field col s10 m7 offset-m1 push-m2 push-s1">
                            <label for="activity_level" adjust-placeholder>Activity Level</label>
                            <select class="" ng-model="profileInfo.activity_level" material-select watch id="activity_level">
                                <option ng-repeat="value in activityLevelChoices">{{value}}</option>
                            </select>
                        </div>
                    </div>
                    
                    
                    <!-- GENDER -->

                    <div class="row">
                        <div class="input-field col s8 m6 push-m3 push-s2">
                            <label>Gender</label>
                            <br>
                            <input checked class="with-gap" id="test5"
                            name="group3" ng-model=
                            'profileInfo.gender' type="radio" value="M" required>
                            <label for="test5">Male</label>&nbsp;&nbsp;
                            <input class="with-gap" id="test4" 
                                   name="group3" ng-model='profileInfo.gender' 
                                   type="radio" value="F" required>
                            <label for="test4">Female</label>
                        </div>
                    </div>
                    <!-- DATE OF BIRTH -->

                    
                    <div class="row">
                        
                        <div class="input-field col s8 m6 push-m3 push-s2" style="margin-top:60px">
                            <label for="dob_field_nav" adjust-placeholder>Date of Birth</label>
                            <input class="datepicker_btn" ng-click="updateDOB()" id="dob_field_nav" required
                            ng-model="placeHolderDOB" type=
                            "text" required title="Please enter your Date of Birth">
                        </div>
                    </div>
                    <!-- SAVE AND CONTINUE BUTTON -->


                    <div class="center-btn">
                         <button class="btn" type="submit">Next</button>
                    </div>
                </form>
            </div>
    </div>
    
    <div class="modal" id="create-plan-nav-modal">
        <a class=
        "modal-action modal-close btn-flat right">X</a>

        <div class="modal-content">
            <form ng-submit="createPlan()">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name_plan" ng-model="plan.name" type="text"
                            class="validate" pattern=".{8,191}" 
                            required title="Please enter 8 to 75 Characters">
                        <label for="name_plan">Name of Plan</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <input id="duration_plan" ng-model="plan.duration" type=
                        "number" required min="1" max="8" title="Plan must be at most 8 weeks long" class=validate> <label for="duration_plan">Duration (in Weeks)</label>
                    </div>
                </div>
                <br>
                <br>


                <div class="row center">
                    <div class="col s12">
                        <button class=
                        "center btn largebtn" type=
                        "submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
     $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
    $(".dropdown-button").dropdown();
    
    $('.button-collapse-2').sideNav({
      menuWidth: 300, // Default is 240
      closeOnClick: true ,
        // Closes side-nav on <a> clicks, useful for Angular/Meteor
        edge:'right'
    });

  // Initialize collapse button
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
//  $('.collapsible').collapsible();
});
 
</script>
