<!-- NAVBAR -->
<div ng-controller="navbarController">
<nav role="navigation" class="navbar" >
    <div class="nav-wrapper">
        <a ng-class='{"inactive":toggle==0}' ng-click='toggle=0' id="logo-container" href="/" class="brand-logo">
            <img class="responsive-img small" src="static/images/Logo-new.png">
        </a>
        
        <ul class="right hide-on-med-and-down">
            <li ng-class='{"active":toggle==1}' ng-click='toggle=1'>
                <a href="/plans">Plans</a>
            </li>            
            <li ng-class='{"active":toggle==2}' ng-click='toggle=2'>
                <a href="/ingredients">Ingredients</a>
            </li> 
            <li ng-class='{"active":toggle==3}' ng-click='toggle=3'>
                <a href="/recipes">Recipes</a>
            </li> 
             <li ng-class='{"active":toggle==4}' ng-click='toggle=4'>
                 <a href="#">Articles</a>
            </li> 
            <!--function to open modal openModal()-->
            <li>
                <a href="#modal1" ng-click="openModal()" ng-if="!isLoggedIn">Log in</a>
                <a href="/" ng-click="logout()" ng-if="isLoggedIn" class="cyan-text">Log out</a>
            </li>
        </ul>
        
        <!-- MOBILE VIEW NAVIGATION -->
        <!--Mobile View-->
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/plans" class="cyan-text">Plans</a></li>
            <li><a href="/ingredients" class="cyan-text">Ingredients</a></li>
            <li><a href="/recipes" class="cyan-text">Recipes</a></li>
            <li><a href="#" class="cyan-text">Articles</a></li>
            <!--function to open modal openModal()-->
            <li>
                <a href="#modal1" ng-click="openModal()" ng-if="!isLoggedIn" class="cyan-text">Log in</a>
                <a ng-click="logout()" ng-if="isLoggedIn" class="cyan-text">Log out</a>
            </li> 
          </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse" id="loginModal">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>
<!-- LOGIN & SIGNUP MODAL -->

<div id="modal1" class="modal col s12 m6">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat right">X</a> 
    <div class="modal-content">
            <div ng-if='modal1 && !modal2 && !modal3 && !modal4'>
            <h5 class="center">Welcome</h5>
            <br>
            
            <!-- LOGIN VIA SOCIAL MEDIA -->
            
            <div class="center-btn">
                <a class="waves-effect waves-light btn largebtn" ng-click="Auth('facebook')">Log In with FACEBOOK</a>
                <br>
            </div>
                <br>
            <div class="center-btn">
                <a class="waves-effect waves-light btn largebtn" id="googlebtn" ng-click="Auth('google')">Log In with GOOGLE</a>
            </div>

            <p class="center-align">OR</p>
        
            <div class="row"> <!-- LOGIN FOR EMPTY FIELDS -->
                <div class="col s12">
                    <p class="text-danger" ng-show="loginError">{{ loginError }}</p>
                </div>
            </div>
    
            <form name="myForm">
                <div class="input-field"> <!-- USERNAME -->
                    <input id="first_name" type="email" class="form-control validate" ng-model="login.username" >
                    <label for="first_name">Email</label>
                </div>
                
                <div class="input-field"> <!-- PASSWORD-->
                    <input id="password" type="password" class="form-control validate" ng-model="login.password" >
                    <label for="first_name">Password</label>
                </div>
                
                <div class="center-btn"> <!-- SUBMIT BUTTON -->
                    <a type="submit" ng-click="login()"class="waves-effect waves-light btn btn-default largebtn">Login</a>
                </div>
                <br>
                <a href="#" ng-click="switchToModal(4)" class="cyan-text">Forgot your password or username?</a>
            </form>
          <p class="cyan-text">Don't have an account? <a ng-click="switchToModal(2)" class="cyan-text">Sign Up Now</a></p>

        </div>   <!-- END OF LOGIN CONTENT -->


    <!-- SIGNUP CONTENT -->
    
    <div ng-if='!modal1 && modal2 && !modal3 && !modal4'>
        <h5 class="center-align">Welcome</h5>
            <br>
        <div class="center-btn">
            <a class="waves-effect waves-light btn largebtn" ng-click="Auth('facebook')">Sign Up with FACEBOOK</a>
        </div>
            <br>
        <div class="center-btn">
            <a class="waves-effect waves-light btn largebtn" id="googlebtn" ng-click="Auth('google')">Sign Up with GOOGLE</a>
        </div>
        
        <p class="center-align">OR</p>

        <form ng-submit="register()" name="myForm">
            <div class="row"> <!-- WARNINGS FOR EMPTY FIELD-->
                <div class="col s12">
                 <p class="text-danger" ng-show="registerError">{{ registerError }}</p> 
                </div>
            </div>
            
            <!-- USERNAME -->
            
             <div class="row">
              <div class="input-field col m12">
                <input class="validate" id="input_name" type="text" ng-model="signup.username" length="100" required />
                <label for="input_name" data-error="Atmost 10 characters">Username</label>
              </div>
            </div>
            
            
            <!-- EMAIL -->
            
            <div class="row">
                <div class="input-field col m12">
                  <input name="emailId" id="email" type="email" class="form-control validate" ng-model="signup.email" required /> 
                <label for="email" data-error="Invalid Email Id">Email</label>
                </div>
            </div>
            
            <!-- PASSWORD -->
            
             <div class="row">
              <div class="input-field col m12">
                <label for="registerPassword">Password</label>
                <input type="password" id="registerPassword" name="registerPassword" ng-model="signup.registerPassword" ng-minlength="8" ng-maxlength="20" required  />
                <br>
              </div>
            </div>
                
            <!-- CONFIRM PASSWORD -->
               
             <div class="row">
                 <div class="input-field col m12">
                 <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" ng-model="signup.confirmPassword" required  />
                <br>

                </div>
            </div>

            <br>
            
            <!-- CONTINUE BUTTON -->
            
            <div class="center-btn">
                <button id="continueToForm2" type="submit" class="btn btn-default largebtn" >SignUp</button>
            </div>
        </form>
    </div>
        
          
        <!-- FORGOT PASSWORD CONTENT -->

       
        <div ng-if="!modal1 && !modal2 && !modal3 && modal4">
            <h5 class="center">Forgot your password</h5>
            <br><br>
            <p>Enter your email or username below and we will send you a link to reset your password</p>
            <span class="teal">{{Message}}</span>
            <form ng-submit="resetPassword()" name="myForm"> 
           <div class="row">
              <div class="input-field col m12">
                 <input name="emailId" id="email" type="email" class="form-control validate" ng-model="forgot.email" required /> 
                <label for="email" data-error="Invalid Email Id">Email</label>
              </div>
            </div>
                 
                <br>

            <br>
            
            <!-- CONTINUE BUTTON -->
            
            <div class="center-btn">
                <button id="continueToForm2" type="submit" class="btn btn-default largebtn" >ResetPassword</button>
            </div>
        </form>
        </div>
        

        <!-- ENTER OTHER DETAILS OF THE USER -->
    
    <div ng-if='!modal1 && !modal2 && modal3 && !modal4'>
      <h5 class="center">Tell us about yourself</h5>
        <br>
        <p class="text-danger" ng-show="registerError">{{ registerError }}</p> 
        <form ng-submit="register()">
            
            <!-- WEIGHT -->
            
            <div class="input-field">
                 <input id="weight" type="number" class="form-control validate" ng-model="registerWeight" min="1" required>
                 <label for="weight">Current Weight (in kgs)</label>
            </div>
            
            <!-- HEIGHT -->
            
            <div class="input-field">
              <label for="height">Height (in cms)</label>
              <input id="height" type="number" class="form-control validate" ng-model="registerHeight" data-error="Error" required>
            </div>
            
            <!-- GOAL WEIGHT -->
            
            <div class="input-field">
              <input id="weight" type="number" class="form-control validate" ng-model="registerWeight" required>
              <label for="weight">Goal Weight (in kgs)</label>
            </div>
            
            <!-- GENDER -->
            
            <div class="input-field"><label>Gender</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="test5" class="with-gap" name="group3" type="radio" checked />
                <label for="test5">Male</label>&nbsp;&nbsp;
                <input id="test4" class="with-gap" name="group3" type="radio" />
                <label for="test4">Female</label>
            </div>
            
            <!-- DATE OF BIRTH -->
            
            <div class="input-field">
                <input type="date" class="datepicker" id="dob" required>
            </div>
            
            <!-- SAVE AND CONTINUE BUTTON -->
            
            <div class="center-btn">
            <a class="modal-trigger" href="/dashboard"><input type="submit" class="btn btn-default" value="Save and Continue"></a>
            </div>
        </form>
      </div>
    </div>
 </div>
</div>

<script>

 // Initialize collapse button
  $(".button-collapse").sideNav({
       menuWidth: 200, 
      closeOnClick: true 
  });
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  $('.collapsible').collapsible();
</script>