<div class="row">
    <div class="col s12 m12">
<div class="card white">
    <div class="card-content cyan-text">
        <a class="cyan-text" ng-click="editIt=!editIt">
            <i class="material-icons">
                mode_edit
            </i>
            <span id="edit_content_db">
                EDIT PROFILE
            </span>
        </a>

        <div class="row">
            <form>
                <div class="row">
                    <div class="col s12 m12 center">
                        <img class="responsive-img circle" ng-src=
                            "{{user_thum}}">                         
                        
                    </div>
                    <div class="col s12 m12 center">
                        <br><br>
                        <button class="btn-flat cyan-text" ng-show="editIt" ng-click=
                        "uploadImageModal()">Upload</button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col s12 m4">
                        <label for="dob_field" adjust-placeholder>Date of Birth</label>
                        <input class="datepicker_btn" ng-click="updateDOB()" id="dob_field"
                        ng-disabled="!editIt" ng-model="placeHolderDOB" type=
                        "text">
                         
                    </div>
                    
                    <div class="col s12 m4">
                        <label for="activity_level" adjust-placeholder>Activity Level</label>
                        <select class="" ng-model="profileInfo.activity_level" material-select watch id="activity_level">
                            <option ng-repeat="value in activityLevelChoices">{{value}}</option>
                        </select>
                    </div>

                    <div class="col s12 m4">
                        <label>Gender</label>
                        <br>
                        <input checked class="with-gap" id="test5"
                        name="group3" ng-model=
                        'profileInfo.gender' type="radio" value="M">
                        <label for="test5">Male</label>&nbsp;&nbsp;
                        <input class="with-gap" id="test4" name=
                        "group3" ng-disabled="!editIt" ng-model=
                        'profileInfo.gender' type="radio" value="F">
                        <label for="test4">Female</label>
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <label adjust-placeholder for="weight">Current Weight (in kgs)</label>
                        <input ng-class="{'validate':editIt}" min="0" max="650" id="weight"         step="0.1"  ng-disabled="!editIt" ng-model="profileInfo.weight" 
                               type="number">
                    </div>
                    
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="height" step="0.1"
                               min="0" max="300"
                               ng-model="profileInfo.height" type="number">
                        <label adjust-placeholder for="height">Height (in cms)</label>
                    </div>
                </div>
                <!-- WE ARE NOT STORING THIS IN THE DATABASE YET-->
                <!--
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input class="validate" disabled
                                            id="disabled" ng-if="!editIt"
                                            readonly type="number">
                                            <input class="validate" id="goal"
                                            ng-if="editIt" type="text">
                                            <label for="goal">Goal Weight (in
                                            kgs)</label>
                                        </div>
                                    </div>
-->


                <div class="row">
                    <div class="input-field col s12 m6">
                        <label adjust-placeholder for="body_fat">Body Fat (%)</label>
                        <input ng-class="{'validate':editIt}" id="body_fat" step="0.1" 
                               ng-disabled="!editIt" ng-model="profileInfo.body_fat_percent" min="0" max="100" type="number">
                    </div>
                    
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="waist" step="0.1" 
                               ng-disabled="!editIt" ng-model="profileInfo.waist" type="number">
                        <label adjust-placeholder for="waist">Waist (in cms)</label>
                    </div>
                </div>
                
                
                 <div class="row">
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="chest" step="0.1"
                               ng-disabled="!editIt" ng-model="profileInfo.chest" type="number">
                        <label adjust-placeholder for="height">Chest (in cms)</label>
                    </div>
                    
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="shoulder" step="0.1"
                               ng-disabled="!editIt" ng-model="profileInfo.shoulder" type="number">
                        <label adjust-placeholder for="shoulder">Shoulder (in cms)</label>
                    </div>
                </div>
                
                
                 <div class="row">
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="bicep" step="0.1"
                               ng-disabled="!editIt" ng-model="profileInfo.bicep" type="number">
                        <label adjust-placeholder for="bicep">Bicep (in cms)</label>
                    </div>
                    
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="forearm" step="0.1"
                               ng-disabled="!editIt" ng-model="profileInfo.forearm" type="number">
                        <label adjust-placeholder for="height">Forearm (in cms)</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="neck" step="0.1"
                               ng-disabled="!editIt" ng-model="profileInfo.neck" type="number">
                        <label adjust-placeholder for="neck">Neck (in cms)</label>
                    </div>
                    
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="hip" step="0.1"
                               ng-disabled="!editIt" ng-model="profileInfo.hip" type="number">
                        <label adjust-placeholder for="hip">Hip (in cms)</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="thigh" step="0.1"
                               ng-disabled="!editIt" ng-model="profileInfo.thigh" type="number">
                        <label adjust-placeholder for="thigh">Thigh (in cms)</label>
                    </div>
                    
                    <div class="input-field col s12 m6">
                        <input ng-class="{'validate':editIt}" id="calf" step="0.1"
                               ng-disabled="!editIt" ng-model="profileInfo.calf" type="number">
                        <label adjust-placeholder for="calf">Calf (in cms)</label>
                    </div>
                </div>


                <div class="row center">
                    <div class="input-field col s12">
                        <button class="btn" ng-click=
                        "updateProfileInfo()" ng-disabled="!editIt" ng-if=
                        "editIt">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    </div>
</div>

<div class="modal" id="upload-image-modal">
    <a class=
    "modal-action modal-close waves-effect waves-green btn-flat right" ng-click="saveProfileImage()">X</a>
    <!-- TODO : handle urls as well -->


    <div class="modal-content">
        <form name="fileForm">

            <div class="file-field input-field">
                <div class="btn">
                    <span>Choose File</span> <input accept=
                    'image/*' image="cropper.sourceImage" img-cropper-fileread=""
                    type="file" data-max-size="5120">
                </div>

                <div class="file-path-wrapper">
                    <input class="file-path validate"
                    type="text">
                </div>
            </div>

            <div ng-show="fileSizeError" style="color:red">
                Please Upload a file less than 5Mb
            </div>

            <div class="center" ng-show="cropper.sourceImage!=null">
                <canvas crop-height="150" crop-width="150" cropped-image=
                "cropper.croppedImage" height="300" id="canvas" image=
                "cropper.sourceImage" image-cropper="" width="500">
                </canvas>
            </div>


            <div>
                Cropped Image:
            </div>


            <div class="center" ng-show="cropper.sourceImage!=null">
                <img ng-src="{{cropper.croppedImage}}">
            </div>
            
            <div class="row">
                <div class="col s12">
                    <div class="center-btn">
                        <button class=
                        "waves-effect waves-light btn largebtn"
                        ng-click='saveProfileImage()' type=
                        "submit">Save</button> &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>