<div id="result-list">
    <div ng-if=
    "recipeDetails!=null && recipeDetails!=undefined && recipeDetails.results.length!=0">
    <div class="row">

            
            <div class="col s12 m4" current-page="currentPage" ng-repeat=
            "recipe in recipeDetails.results track by $index">
                      <div class="card">
                        <div class="card-image">
                          <img class="recipe_img" ng-src="{{recipeImage}}">
                        </div>
                        <div class="card-content">
                           <div class="row">
                            <div class="col s12">
                                <h5 class="cyan-text center ingredient-title">
                                {{recipe.name | addSpace}}</h5>
                            </div>
                        </div>

                            <div class="row raise">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Description</h6>
                                </div>
                                <br>
                            </div>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <p class="recipe-card-info">
                                    {{recipe.description |
                                    limitTo:50}}</p>
                                </div>
                            </div>
                            <br>
                            <br>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Source</h6>
                                </div>
                            </div>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <p class="recipe-card-info">{{recipe.url |
                                    limitTo:50}}</p>
                                </div>
                            </div>
                            
                            <div class="row raise">
                                <div class="col s6">
                                    <a class="heart-c right" ng-if=
                                       "!checkMyRecipes(recipe.id)"
                                       ng-click="shortlistRecipe(recipe.id)">
                                        <i class="material-icons">favorite</i></a>
                                    <a class="heart-ok right" ng-if=
                                       "checkMyRecipes(recipe.id)"
                                       ng-click="shortlistRecipe(recipe.id)">
                                        <i class="material-icons">favorite</i></a>
                                </div>
                                <div class="col s6">
                                     <a class="read-more right cyan-text" 
                                        ng-href="recipes/view-recipe/{{recipe.id}}">
                                         READ MORE
                                    </a>
                                    
                                </div>
                            </div>
                            
                        </div>
                
                      </div>

                    </div>
                   
                </div>
            </div>
        </div>
        
<!-- When the user has not entered anything for search -->

<!--

<div ng-if="recipeDetails==null || recipeDetails==undefined">
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text center">
                    <p>Please enter recipe</p>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- When the user has entered incorrect entry in search -->


<div ng-if="recipeDetails.length==0">
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text center">
                    <p>Sorry!! Nothing found</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
          $('.modal-trigger').leanModal();  
});
</script>