<div class="section full-length" id="planPage">
         <div class="row">
             <div class="col s12 m3 hide-on-small-only" id="checklist">
                 <div class="card white">
                     <div class="card-content black-text">
                         <form action="#" class="planform">  <!-- SEARCH INGREDIENTS CHECKLIST -->
                             <div class="center-btn">
                                 <p>
                                     <input type="checkbox" class="filled-in" id="filled-in-box1" checked="checked" />
                                     <label for="filled-in-box1">Vegetarian</label>
                                 </p>
                                 <p>
                                     <input type="checkbox" class="filled-in" id="filled-in-box2" />
                                     <label for="filled-in-box2">Non Vegetarian</label>
                                 </p>
                                 <p>
                                     <input type="checkbox" class="filled-in" id="filled-in-box3" checked="checked" />
                                     <label for="filled-in-box3">Dairy</label>
                                 </p>
                                 <p>
                                     <input type="checkbox" class="filled-in" id="filled-in-box4" checked="checked" />
                                 <label for="filled-in-box4">Non Dairy</label>
                                 </p>
                                 <p>
                                     <input type="checkbox" class="filled-in" id="filled-in-box5" checked="checked" />
                                     <label for="filled-in-box5">Protien Rich</label>
                                 </p>
                                 <p>
                                     <input type="checkbox" class="filled-in" id="filled-in-box6" checked="checked" />
                                     <label for="filled-in-box6">Fruits</label>
                                 </p>
                                 <p>
                                     <input type="checkbox" class="filled-in" id="filled-in-box7" checked="checked" />
                                     <label for="filled-in-box7">Vegetables</label>
                                 </p>
                                 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                             </div>
                         </form>
                     </div>
                 </div>
             </div> <!-- END OF CHECKLIST -->
             
         <div class="col s12 m9 smallmid">
             <div class="row">
                 <div class="col s12 m12"> 
                     <div class="card white" id="searchcard"> <!-- SEARCH-BOX -->
                         <div class="card-content black-text">
                             <form>
                             <textarea id="searchbox" placeholder="Search people & places"  ng-model="query_recipe" class="form-control"></textarea>
                             <button class="fa fa-search search-ingredient" href="#" ng-click="search_recipe()" type="submit"></button>
                             </form>
                        </div> <!-- END OF SEARCH-BOX -->
                     </div>
                 </div>
             </div>
             <div class="row" >
                 <div class="col s12 m12">
                     <div ng-include="'static/templates/recipeSearch.html'"></div>
                 </div>
             </div>
            
             </div>
            </div> 
              <div class="row">
                  <div class="col s12">
                    <div class="section-button center">
                       <a href="/create" class="waves-effect waves-light btn largebtn">CREATE A PLAN</a>
                    </div>
                  </div>
                </div>
        </div>

<script>
$(document).ready(function() {
    $("textarea#searchbox").keypress(function (e) { // fire search results on pressing enter key
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('button[type=submit].search-ingredient').click();
            return false;
        } else {
            return true;
        }
    });
});
</script>
   