<div id="result-list">
    <div ng-if=
    "recipeDetails!==null && recipeDetails!==undefined && recipeDetails.results.length!=0">
        <div class="row">
            
            <div class="col s12 m4" current-page="currentPage" ng-repeat=
            "recipe in recipeDetails.results track by $index">
                      <div class="card recipe_search_card">
                        <div class="card-image recipe_img_container">
                          <img class="recipe_img" ng-src="{{recipe.image}}">
                        </div>
                        <div class="card-content recipe_search_content">
                           <div class="row">
                                <div class="col s12">
                                    <h5 class="cyan-text center ingredient-title txt-overflow" 
                                        ng-click="openRecipeDetails(recipe.id)">
                                    {{recipe.name | addSpace}}</h5>
                                </div>
                            </div>

                            <div class="row raise">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Description</h6>
                                </div>
                                <br>
                            </div>


                            <div class="row raise">
                                <div class="col s12 m12">
                                    <p class="recipe-card-info txt-overflow">
                                    {{recipe.description}}</p>
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="row raise">
                                <div class="col s12 m12">
                                    <h6 class="nutri">Source</h6>
                                </div>
                            </div>


                            <div class="row raise">
                                <div class="col s12 m12" ng-if="recipe.url">
                                    <p class="recipe-card-info txt-overflow">{{recipe.url}}</p>
                                </div>
                                <div class="col s12 m12" ng-if="!recipe.url">
                                    <br>
                                </div>
                            </div>
                            
                            <div class="row showcustom">
                                <div class="col s3 m3">
                                    <p>Ratings</p>
                                </div>
                                <div class="col s5 m5">
                                    <div back-color="white" class="" id=
                                    "recipe-{{recipe.id}}" ng-click=
                                    "setRecipeRating(recipe, rating)"
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getRecipeRating(recipe)}}" sel-color="gold"
                                    star-radius="7.5" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col s4 m4">
                                    <span ng-bind="stars | number:1"></span>/
                                    5.0
                                </div>
                            </div>
                                      
                        </div>
                          
                          <div class="card-action">
                                  <a class="heart-c right" ng-if=
                                       "!checkMyRecipes(recipe.id)"
                                       ng-click="shortlistRecipe(recipe.id)">
                                        <i class="material-icons">favorite</i></a>
                                    <a class="heart-ok right" ng-if=
                                       "checkMyRecipes(recipe.id)"
                                       ng-click="shortlistRecipe(recipe.id)">
                                        <i class="material-icons">favorite</i></a>
                                  <a class="save-more cyan-text">
                                         SAVE
                                    </a>
                                <a class="read-more right cyan-text" 
                                        ng-href="recipes/view-recipe/{{recipe.id}}">
                                         VIEW
                                    </a>
                               
                          </div>
                
                      </div>

                    </div>
                   
                </div>
        
        <div class="row" ng-if="recipeDetails.length!==0">
    <div class="col s12 m12 center">
    <paging
        class="small"
        page="currentPage" 
        page-size="6" 
        total="pageSize"
        hide-if-empty="{{hideIfEmpty}}"
        ul-class="{{ulClass}}"
        li-class="lipageclass"
        active-class="{{activeClass}}"
        disabled-class="{{disabledClass}}"
        show-prev-next="true"
        show-first-last="true"
        text-next-class="acti fa fa-chevron-right"
        text-prev-class="acti fa fa-chevron-left"
        text-first-class="acti fa fa-backward"
        text-last-class="acti fa fa-forward"
        text-title-page="Page {page}"
        text-title-first="First Page"
        text-title-last="Last Page"
        text-title-next="Next Page"
        text-title-prev="Previous" 
        paging-action="search_recipes(page, sortby)">
    </paging>       
    </div>
</div>
            </div>
        </div>
        
<!-- When the user has not entered anything for search -->

<!--

<div ng-if="recipeDetails==null || recipeDetails==undefined">
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text center">
                    <p>Please enter recipe</p>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<!-- When the user has entered incorrect entry in search -->

<div ng-if="query && recipeDetails.length==0">
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text center">
                    <p>Sorry!! Nothing found</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
          $('.modal-trigger').leanModal();  
});
</script>