<div class="contfyt container">
    <br>
    <br>


    <h3>Reset your password here!</h3>


    <p class="text-danger">{{ content }}</p>


    <p class="text-success">{{ success }}</p>


    <form ng-submit="init()">
        <input class="form-control" ng-model="password" placeholder="Password"
        type="password"> <input class="form-control" ng-model="confirmP"
        placeholder="Confirm Password" type="password"><br>
        <br>
        <br>
        <input class="btn btn-default" type="submit" value="Submit">
    </form>
</div>