<div class="full-length" id="result-list">
    <div ng-if=
    "details.results!=null && details.results!=undefined && details.results.length!=0">
        <div class="row">
            <div class="col s12 m6" ng-repeat=
            "detail in details.results track by $index">
                <div class="card">
                    <div class="card-content grey-text" ng-click=
                    "openIngredientsModal(detail)">
                        <div class="row">
                            <div class="col s12">
                                <h5 class="cyan-text center ingredient-title txt-overflow">
                                {{detail.name| addSpace}}....</h5>
                            </div>
                        </div>

                        <div>
                            <div class="row center">
                                <span class="meal-head"> Nutritional Information (per 100g)</span>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <h6 class="nutri">Calories</h6>
                                        </div>
                                        
                                        <div class="col s12 m6">
                                            <p class="meal-text">{{detail.energy_kcal | number:0}} kcal</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <h6 class="nutri">Fats</h6>
                                        </div>
                                        
                                        <div class="col s12 m6">
                                            <p class="meal-text">{{detail.fat_tot | number:0}} g</p>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <h6 class="nutri">Carbs</h6>
                                        </div>
                                        
                                        <div class="col s12 m6">
                                            <p class="meal-text">{{detail.carbohydrate_tot | number:0}} g</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <h6 class="nutri">Sugar</h6>
                                        </div>
                                        
                                        <div class="col s12 m6">
                                            <p class="meal-text">{{detail.sugar_tot | number:0}} g</p>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <h6 class="nutri">Proteins</h6>
                                        </div>
                                        
                                        <div class="col s12 m6">
                                            <p class="meal-text">{{detail.protein_tot | number:0}} g</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <h6 class="nutri">Fiber</h6>
                                        </div>
                                        
                                        <div class="col s12 m6">
                                            <p class="meal-text">{{detail.fiber_tot | number:0}} g</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
 
                        </div>
                    </div>


                    <div class="card-action ing-card-action">
                        <btn class="ingredient-heart-c" ng-if=
                           "!checkMyIngredients(detail.id)"
                           ng-click="shortlistIngredient(detail.id)">
                            <i class="material-icons plan-heart-c">favorite</i>
                        </btn>
                        <btn class="ingredient-heart-ok" ng-if=
                           "checkMyIngredients(detail.id)"
                           ng-click="shortlistIngredient(detail.id)">
                            <i class="material-icons plan-heart-ok">favorite</i>
                        </btn>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- MODAL DESCRIPTION FOR EVERY INGREDIENT CARD -->


<div class="modal" id="modal6">
    <a class=
    "modal-action modal-close waves-effect waves-green btn-flat right"
       >X</a>

    <div class="modal-content">
        <h4 class="cyan-text ingredient-title">
        {{details.results[selected].name}}</h4>
    <br>
        <div class="row">
            <div class="col s12 m4">
                <h6 class="nutri">Nutritional Information </h6>
            </div>
            <div class="col s12 m8 valign-wrapper">
                <div class="col s5 m3">
                    Serving Size
                </div>
                <div class="col s1 pull-s1 m1 pull-m1">
                    {{ingredientSelected.selectedMeasure.amount | number:0}}
                </div>
                <div class="col s3 push-s1 m4" ng-if=
                        "selected!==undefined && ingredientSelected.measure.length&gt;0">
                    <select class="ing-modal-drop" id="modal-dropdown" material-select="" 
                        ng-model="ingredientSelected.selectedMeasure" ng-options=
                        "measure as measure.description for measure in ingredientSelected.measure track by measure.id">
                    </select>
                </div>
                <div class="col s5 m4">
                    (&nbsp;
                    {{ingredientSelected.selectedMeasure.weight | number}} gm&nbsp;)
                </div>
            </div>
        </div>

        <div class="row" ng-if=
        "selected!==undefined && ingredientSelected.measure!==undefined">
            <div class="col s12 m6">
                <table class="bordered responsive-table">
                    <tbody>
                      <tr>
                        <td>Calories</td>
                        <td>{{calculateIngredientInfo('energy_kcal') |
                            number:0 }} kcal</td>
                      </tr>
                        <tr>
                        <td>Carbohydrates</td>
                        <td>{{calculateIngredientInfo('carbohydrate_tot') |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Proteins</td>
                        <td>{{calculateIngredientInfo('protein_tot') |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Fats</td>
                        <td>{{calculateIngredientInfo('fat_tot') |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Monounsaturated Fat</td>
                        <td>{{calculateIngredientInfo('fa_mono_g', true) |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Polyunsaturated Fat</td>
                        <td>{{calculateIngredientInfo('fa_poly_g', true) |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Saturated Fat</td>
                        <td>{{calculateIngredientInfo('fa_sat_g', true) |
                            number:0 }} g</td>
                      </tr>
                        <tr>
                        <td>Sugar</td>
                        <td>{{calculateIngredientInfo('sugar_tot') |
                            number:0 }} g</td>
                      </tr>
                      </tr>
                        <tr>
                        <td>Fiber</td>
                        <td>{{calculateIngredientInfo('fiber_tot') |
                            number:0 }} g</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col s12 m6">
                    <table class="bordered responsive-table">
                    <tbody>
                      <tr>
                        <td>Cholesterol</td>
                        <td>{{calculateIngredientInfo('cholestrl_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Sodium</td>
                        <td>{{calculateIngredientInfo('sodium_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Calcium</td>
                        <td>{{calculateIngredientInfo('calcium_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Iron</td>
                        <td>{{calculateIngredientInfo('iron_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Vitamin A</td>
                        <td>{{calculateIngredientInfo('vitamin_a_iu',
                                        true) | number:0}} IU</td>
                      </tr>
                      <tr>
                        <td>Vitamin B12</td>
                        <td>{{calculateIngredientInfo('vitamin_b12_mcg',
                                        true) | number:0}} mcg</td>
                      </tr>
                      <tr>
                        <td>Vitamin C</td>
                        <td>{{calculateIngredientInfo('vitamin_c_mg',
                                        true) | number:0}} mg</td>
                      </tr>
                      <tr>
                        <td>Vitamin D</td>
                        <td>{{calculateIngredientInfo('vitamin_d_mcg',
                                        true) | number:0}} mcg</td>
                      </tr>
                      <tr>
                        <td>Vitamin E</td>
                        <td>{{calculateIngredientInfo('vitamin_e_mg',
                                        true) | number:0}} mcg</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

        <div class="center-btn">
            
            <button class="btn largebtn center"
                ng-if="!checkMyIngredients(details.results[selected].id)"
            ng-click=
            "shortlistIngredient(details.results[selected].id)">Add
            to My Ingredients</button>
        </div>
    </div>
</div>
<br>
<!-- When the user has not entered anything for search -->


<div ng-if="details==null || details==undefined">
    <!--    <p>Please enter ingredient</p>-->
</div>
<!-- When the user has entered incorrect entry in search -->


<div ng-if="details.length==0">
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text center">
                    <p>Sorry!! Nothing found</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.modal-trigger').leanModal();  
    });
</script>