<div class="section" id="planPage">
    <div class="row">
        <div class="col s12 m3 hide-on-small-only" ng-if="filts.length>0" id="checklist">
            <div class="card white">
                <div class="card-content black-text">
                    <form action="#" class="planform">
                        <!-- SEARCH INGREDIENTS CHECKLIST -->


                        <div class="center-btn">
                            <div><b class="pull-left">Filters</b> <i class="fa fa-filter pull right"></i></div>
                            <br>
                            <br>

                            <p ng-repeat="filter in filts track by $index"><input checked="checked" class="filled-in" id=
                            "filled-in-box1{{$index}}" type="checkbox" checklist-model="foodgroup"
                            checklist-value="filter['0']"> <label class="meal-text" for=
                            "filled-in-box1{{$index}}">{{filter['0']}}</label></p>
                            <br>
                            <br>
                            <div><b class="pull-left">Sortby</b> <i class="fa fa-reorder pull right"></i></div>
                            <br>
                            <br>
                            <p ng-repeat="filter in details.sortlist track by $index"><input id=
                            "filled-in-rad{{$index}}"  class="with-gap" name="sortradio" value="{{filter}}" type="radio" ng-model="sortby" ng-click="search(1, sortby)"><label class="meal-text" 
                            for="filled-in-rad{{$index}}">{{filter.split('_', 1)[0]}}</label></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END OF CHECKLIST -->


        <div class="smallmid" ng-class="{'col s12 m9':filts!==undefined&&filts.length>0, 'col s12 m12':filts===undefined||filts===null}">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card white" id="searchcard">
                        <!-- SEARCH-BOX -->


                        <div class="card-content black-text">
                            <form>
                                <textarea class="form-control" id="searchbox"
                                ng-model="query" placeholder=
                                "Search Food Ingredient"></textarea>
                                <button class="fa fa-search search-ingredient"
                                href="#" ng-click="search(1)" type=
                                "submit"></button>
                            </form>
                        </div>
                        <!-- END OF SEARCH-BOX -->
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col s12 m12">
                    <div ng-include=
                    "'static/templates/searchIngredientsResults.html'">
                    </div>
                </div>

            </div>
             
        </div>
    </div>

<div class="row">
    <div class="col s12 m6 push-m5">
        <paging
            class="small"
            page="currentPage" 
            page-size="6" 
            total="pageSize"
            hide-if-empty="{{hideIfEmpty}}"
            ul-class="{{ulClass}}"
            li-class="lipageclass"
            active-class="{{activeClass}}"
            disabled-class="{{disabledClass}}"
            show-prev-next="true"
            show-first-last="true"
            text-next-class="acti fa fa-chevron-right"
            text-prev-class="acti fa fa-chevron-left"
            text-first-class="acti fa fa-backward"
            text-last-class="acti fa fa-forward"
            text-title-page="Page {page}"
            text-title-first="First Page"
            text-title-last="Last Page"
            text-title-next="Next Page"
            text-title-prev="Previous" 
            paging-action="search(page)">
        </paging> 
                
    </div>

</div>
</div>


<script>
$(document).ready(function() {
    $("textarea#searchbox").keypress(function (e) { // fire search results on pressing enter key
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('button[type=submit].search-ingredient').click();
            return false;
        } else {
            return true;
        }
    });
});


</script>