<div class="section" id="planPage">
    <div class="row">
        <div class="col s12 m3 hide-on-small-only" ng-if="plans.sortlist.length>0" id="checklist">
            <div class="card white recipeCheckCard">
                <div class="card-content black-text">
                    <form action="#" class="planform">
                        <!-- SEARCH INGREDIENTS CHECKLIST -->


                        <div class="center-btn">
                           
                            <div><b class="pull-left">Sortby</b> <i class="fa fa-reorder pull right"></i></div>
                            <br>
                            <br>
                            <p ng-repeat="filter in plans.sortlist track by $index">
                                <input id="filled-in-rad{{$index}}" class="with-gap"
                                       name="sortradio" 
                                    value="{{filter}}" type="radio" ng-model="sortby"                                             ng-click="search_plan(1, sortby)">
                                <label for="filled-in-rad{{$index}}">
                                    {{filter.split('_', 1)[0]}}
                                </label>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="smallmid" ng-class="{'col s12 m9': plans.sortlist!==undefined&&plans.sortlist.length>0, 'col s12 m12':plans.sortlist===undefined||plans.sortlist===null}">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card white" id="searchcard">
                        <!-- SEARCH-BOX -->


                        <div class="card-content black-text">
                            <form>
                                <textarea class="form-control" id="searchbox"
                                ng-model="query_plan" placeholder=
                                "Search Plans"></textarea> <button class=
                                "fa fa-search search-plan" fire-enter=""
                                ng-click="search_plan(1)" type=
                                "submit"></button>
                            </form>
                        </div>
                        <!-- END OF SEARCH-BOX -->
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col s12 m6" ng-repeat=
                "plan in plans.results | limitTo:4">
                    <div class="card white">
                        <div class="card-content search-plan-card black-text">
                            <div class="row">
                                <!--
                                <div class="col s2"><img class=
                                "circle responsive-img" src=
                                "static/images/tiger.jpg">
                                </div>
-->


                                <div class="col s12 m12 center">
                                    <h5 class="cyan-text">
                                    {{plan.name}}</h5>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4 m4">
                                    <p>Goal:</p>
                                </div>
                                <div class="col s8 m8">
                                    <p class="grey-text">{{plan.goal}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4 m4">
                                    <p>Duration:
                                    </p>
                                </div>
                                <div class="col s8 m8">
                                    <p class="grey-text">{{plan.duration }} Week</p>
                                </div>
                            </div>


                            <div class="row showcustom">
                                <div class="col s4 m4">
                                    <p>Ratings</p>
                                </div>
                                <div class="col s5 m5">
                                    <div back-color="white" class="" id=
                                    "plan-{{plan.id}}" ng-click=
                                    "setPlanRating(plan, rating)"
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getPlanRating(plan)}}" sel-color="gold"
                                    star-radius="10" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col s3 m3 pull-m1 pull-s1">
                                    <span ng-bind="stars | number:1"></span>/
                                    5.0
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4 m4 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#6639B6" current=
                                    "getPlanNutrientPercent(plan, 'protein_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">PROTEINS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan,
                                    'protein_tot') | number:0}} %</p>
                                    <!--
                                            <p class="ing-text nutgraph_val">
                                            g</p>
-->
                                </div>


                                <div class="col s4 m4 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FE6433" current=
                                    "getPlanNutrientPercent(plan, 'carbohydrate_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">CARBS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan,
                                    'carbohydrate_tot') | number:0}} %</p>


                                    <p class="ing-text nutgraph_val">
                                    </p>
                                </div>


                                <div class="col s4 m4 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FDC106" current=
                                    "getPlanNutrientPercent(plan, 'fat_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">FATS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan, 'fat_tot') |
                                    number:0}}%</p>
                                </div>
                            </div>
                        </div>


                        <div class="card-action search-plancard-action">
                            <btn class="plan-heart-c" ng-if=
                               "!checkMyPlans(plan.id)"
                               ng-click="shortlistPlan(plan.id)">
                                <i class="material-icons plan-heart-c">favorite</i>
                            </btn>
                            <btn class="plan-heart-ok" ng-if=
                               "checkMyPlans(plan.id)"
                               ng-click="shortlistPlan(plan.id)">
                                <i class="material-icons plan-heart-ok">favorite</i>
                            </btn>
                            
                            <a class="datepicker_btn btn-flat cyan-text right follow-btn" href=
                            "#" ng-click="followPlan(plan.id)">FOLLOW</a>
                            
<!--
                            <a class="btn-flat cyan-text" href="#" ng-click=
                            "shortlistPlan(plan.id)">SHORTLIST</a>
-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- CUSTOM DIRECTIVE CALLED FOR PAGE LIST -->

            <div class="row">
    <div class="col s12 m6 push-m5">
    <paging
                class="small"
                page="currentPage" 
                page-size="6" 
                total="pageSize"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                li-class="lipageclass"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="true"
                show-first-last="true"
                text-next-class="acti fa fa-chevron-right"
                text-prev-class="acti fa fa-chevron-left"
                text-first-class="acti fa fa-backward"
                text-last-class="acti fa fa-forward"
  text-title-page="Page {page}"
  text-title-first="First Page"
  text-title-last="Last Page"
  text-title-next="Next Page"
  text-title-prev="Previous" 
  paging-action="search_plan(page, sortby)" 
  >
            </paging> 
                
    </div>

</div>


            <div class="row">
                <div class="col s12">
                    <div class="center-btn" ng-if="isAuth.status" >
                        <btn class="waves-effect waves-light btn largebtn"
                        ng-click="openShortInfoModal()" >
                            CREATE A PLAN
                        </btn>
                    </div>
                    <div class="center-btn" ng-if="!isAuth.status" >
                        <btn class="waves-effect waves-light btn largebtn disabled"
                        ng-click="">
                            CREATE A PLAN
                        </btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF PLANPAGE -->


<div class="modal" id="small-modal">
    <a class=
    "modal-action modal-close waves-effect waves-green btn-flat right">X</a>

    <div class="modal-content">
        <form ng-submit="createPlan()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name_plan" ng-model="plan.name" type="text">
                    <label for="name_plan">Name of Plan</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <input id="duration_plan" ng-model="plan.duration" type=
                    "number"> <label for="duration_plan">Duration (in
                    Weeks)</label>
                </div>
            </div>
            <br>
            <br>


            <div class="row center">
                <div class="col s12">
                    <button class=
                    "center waves-effect waves-light btn largebtn" type=
                    "submit">Done</button>
                </div>
            </div>
        </form>
    </div>
</div>