<div class="section" id="planPage">
    <div class="row">
        <!--
        <div class="col s12 m3" id="checklist">
            <div class="card white">
                <div class="card-content black-text">
                    <form action="#" class="planform">
                         SEARCH PLAN CHECKLIST 


                        <div class="center-btn">
                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box1" type="checkbox"> <label for=
                            "filled-in-box1">All Plans</label></p>
                            <br>


                            <p><input class="filled-in" id="filled-in-box2"
                            type="checkbox"> <label class="bold" for=
                            "filled-in-box2">Refine</label></p>
                            <br>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box3" type="checkbox"> <label for=
                            "filled-in-box3">Weight Loss</label></p>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box4" type="checkbox"> <label for=
                            "filled-in-box4">Weight Gain</label></p>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box5" type="checkbox"> <label for=
                            "filled-in-box5">Fat Loss</label></p>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box6" type="checkbox"> <label for=
                            "filled-in-box6">Vegetarian</label></p>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box7" type="checkbox"> <label for=
                            "filled-in-box7">Non - Vegetarian</label></p>


                            <p><input checked="checked" class="filled-in"
                            hidden="hidden" id="filled-in-box8" type=
                            "checkbox"> <label for="filled-in-box8">Most
                            Followed</label></p>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box9" type="checkbox"> <label for=
                            "filled-in-box9">Latest</label></p>
                            <br>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box10" type="checkbox"> <label class=
                            "bold" for="filled-in-box10">Allergies</label></p>
                            <br>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box11" type="checkbox"> <label for=
                            "filled-in-box11">Eggs</label></p>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box12" type="checkbox"> <label for=
                            "filled-in-box12">Dairy</label></p>


                            <p><input checked="checked" class="filled-in" id=
                            "filled-in-box13" type="checkbox"> <label for=
                            "filled-in-box13">Peas</label></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        -->
        <!-- END OF CHECKLIST -->


        <div class="col s12 m12">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card white" id="searchcard">
                        <!-- SEARCH-BOX -->


                        <div class="card-content black-text">
                            <form>
                                <textarea class="form-control" id="searchbox"
                                ng-model="query_plan" placeholder=
                                "Search Plans"></textarea> <button class=
                                "fa fa-search search-plan" fire-enter=""
                                ng-click="search_plan()" type=
                                "submit"></button>
                            </form>
                        </div>
                        <!-- END OF SEARCH-BOX -->
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col s4 m4" ng-repeat=
                "plan in plans.results | limitTo:4">
                    <div class="card white">
                        <div class="card-content black-text">
                            <div class="row">
                                <!--
                                <div class="col s2"><img class=
                                "circle responsive-img" src=
                                "static/images/tiger.jpg">
                                </div>
-->


                                <div class="col s12 center">
                                    <h5 class="cyan-text">Name:
                                    {{plan.name}}</h5>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4">
                                    <p>Goal:</p>
                                </div>
                                <div class="col s8">
                                    <p class="grey-text">{{plan.goal}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4">
                                    <p>Duration:
                                    </p>
                                </div>
                                <div class="col s8">
                                    <p class="grey-text">{{plan.duration }} Week</p>
                                </div>
                            </div>


                            <div class="row center showcustom">
                                <div class="col s1">
                                    <p>Ratings</p>
                                </div>
                                <div class="col s7">
                                    <div back-color="white" class="right" id=
                                    "plan-{{plan.id}}" ng-click=
                                    "setPlanRating(plan, rating)"
                                    outer-percent="rating"
                                    outer-star-selection="stars" rating-define=
                                    "stars" rating-percent=
                                    "{{getPlanRating(plan)}}" sel-color="gold"
                                    star-radius="10" star-rating="" stars="5">
                                    </div>
                                </div>


                                <div class="col s3 left">
                                    <span ng-bind="stars | number:1"></span> /
                                    5.0
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s4 m4 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#6639B6" current=
                                    "getPlanNutrientPercent(plan, 'protein_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">PROTEINS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan,
                                    'protein_tot') | number:0}} %</p>
                                    <!--
                                            <p class="ing-text nutgraph_val">
                                            g</p>
-->
                                </div>


                                <div class="col s4 m4 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FE6433" current=
                                    "getPlanNutrientPercent(plan, 'carbohydrate_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">CARBS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan,
                                    'carbohydrate_tot') | number:0}} %</p>


                                    <p class="ing-text nutgraph_val">
                                    </p>
                                </div>


                                <div class="col s4 m4 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FDC106" current=
                                    "getPlanNutrientPercent(plan, 'fat_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">FATS</p>


                                    <p class="center graph-value">
                                    {{getPlanNutrientPercent(plan, 'fat_tot') |
                                    number:0}}%</p>
                                </div>
                            </div>
                        </div>


                        <div class="card-action">
                            <btn class="plan-heart-c" ng-if=
                               "!checkMyPlans(plan.id)"
                               ng-click="shortlistPlan(plan.id)">
                                <i class="material-icons plan-heart-c">favorite</i>
                            </btn>
                            <btn class="plan-heart-ok" ng-if=
                               "checkMyPlans(plan.id)"
                               ng-click="shortlistPlan(plan.id)">
                                <i class="material-icons plan-heart-ok">favorite</i>
                            </btn>
                            
                            <a class="datepicker_btn btn-flat cyan-text right follow-btn" href=
                            "#" ng-click="followPlan(plan.id)">FOLLOW</a>
                            
<!--
                            <a class="btn-flat cyan-text" href="#" ng-click=
                            "shortlistPlan(plan.id)">SHORTLIST</a>
-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- CUSTOM DIRECTIVE CALLED FOR PAGE LIST -->


            <div class="row">
                <div class="col s12">
                    <div class="center-btn">
                        <a class="waves-effect waves-light btn largebtn"
                        ng-click="openShortInfoModal()">CREATE A PLAN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF PLANPAGE -->


<div class="modal" id="small-modal">
    <a class=
    "modal-action modal-close waves-effect waves-green btn-flat right">X</a>

    <div class="modal-content">
        <form ng-submit="createPlan()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name_plan" ng-model="plan.name" type="text">
                    <label for="name_plan">Name of Plan</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <input id="duration_plan" ng-model="plan.duration" type=
                    "number"> <label for="duration_plan">Duration (in
                    Weeks)</label>
                </div>
            </div>
            <br>
            <br>


            <div class="row center">
                <div class="col s12">
                    <button class=
                    "center waves-effect waves-light btn largebtn" type=
                    "submit">Done</button>
                </div>
            </div>
        </form>
    </div>
</div>