<div class="full-length" id="result-list">
    <div ng-if="details.results!=null && details.results!=undefined && details.results.length!=0">
        <div class="row">
            <div class="col s12 m6" ng-repeat="detail in details.results track by $index " ng-click="openIngredientsModal($index)">
                <div class="card white big result-card" id=
                "ingredient-result-card">
                    <div class="card-content grey-text">
                        <div class="row">
                            <div class="col s12">
                                <h5 class="cyan-text center ingredient-title">
                                {{detail.name| addSpace}}</h5>
                            </div>
                        </div>


                        <div >
                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Protien</h6>
                                </div>


                                <div class="col s6 m6">
                                    <p>{{detail.protein_tot}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Carbohydrates</h6>
                                </div>


                                <div class="col s6 m6">
                                    <p>{{detail.carbohydrate_tot}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Fats</h6>
                                </div>


                                <div class="col s6 m6">
                                    <p>{{detail.fat_tot}}</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col s6 m6">
                                    <h6 class="nutri">Calories</h6>
                                </div>


                                <div class="col s6 m6">
                                    <p>{{detail.energy_kcal}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL DESCRIPTION FOR EVERY INGREDIENT CARD -->


        <div class="modal" id="modal6">
            <a class=
            " modal-action modal-close waves-effect waves-green btn-flat right"

        >X</a>

            <div class="modal-content">
                <h4 class="cyan-text ingredient-title">
                {{details.results[selected].name}}</h4>
                <br>


                <div class="row">
                    <div class="col s12 m12">
                        <div class="row">
                            <div class="col s12 m4">
                                <select ng-if="selected!==undefined && details.results[selected].measure.length>0" material-select ng-options="measure as measure.description for measure in details.results[selected].measure" ng-model="openModal.measure"></select>
                            </div>
                        </div>
                                
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m12">
                        <h6 class="nutri">Nutritional Information ({{openModal.measure.description}} {{openModal.measure.weight | number}} gm)</h6>
                    </div>
                </div>


                <div class="row" ng-if="selected!==undefined && openModal.measure!==undefined">
                    <div class="col s12 m6">
                        <p class="grey-text">Macronutrients</p>


                        <div class="row">
                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">Carbohydrates</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">
                                {{calculateIngredientInfo('carbohydrate_tot') | number}}</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">Proteins</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">
                                {{calculateIngredientInfo('protein_tot') | number}}</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">Fats</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">
                                {{calculateIngredientInfo('fat_tot') | number}}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col s12 m6">
                        <p class="grey-text">Micronutrients</p>


                        <div class="row">
                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">Fiber</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">
                                {{calculateIngredientInfo('fat_tot') | number}}</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">Water</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">
                                {{calculateIngredientInfo('water') | number}}</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">sugar</p>
                            </div>


                            <div class="col s6 m6 nutrient-table-line">
                                <p class="grey-text">
                                {{calculateIngredientInfo('sugar_tot') | number}}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="center-btn">
                    <button class=
                    "waves-effect waves-light btn largebtn center" ng-click="searchService.shortlistIngredients(details.results[selected].id)">Add to My
                    Ingredients</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
    </div>
</div>
<br>
<!-- When the user has not entered anything for search -->


<div ng-if="details==null || details==undefined">
    <p>Please enter ingredient</p>
</div>
<!-- When the user has entered incorrect entry in search -->


<div ng-if="details.length==0">
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text center">
                    <p>Sorry!! Nothing found</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.modal-trigger').leanModal();  
    });
</script>