<div class="card-content" ng-controller='summaryCtrl'>
    <span class="card-title center-align"></span>

    <div class="row">
        <span class="card-title center-align"></span>

        <div class="col s12 m12">
            <span class="card-title center-align"></span>

            <ul class="day-list">
                <li><span class="card-title center-align">
                    <a href="#" ng-click="getNextDay(-1)">
                        <i class= "fa fa-chevron-left cyan-text" >
                        </i>
                    </a></span>
                </li>


                <li><span class="card-title center-align">{{navTitles.prev}}</span>
                </li>


                <li><span class="card-title center-align">
                    <i class="cyan-text">{{navTitles.current}}</i>
                    </span>
                </li>


                <li><span class="card-title center-align">{{navTitles.next}}</span>
                </li>


                <li><span class="card-title center-align">
                    <a href="#" ng-click="getNextDay(1)">
                        <i class= "fa fa-chevron-right cyan-text" >
                        </i>
                    </a></span>
                </li>


                <li><span class="card-title center-align"><i class=
                "material-icons silver-text">date_range</i></span>
                </li>
            </ul>
        </div>


        <div class="col s12 m12">
            <span class="card-title center-align"></span>

            <h5 class="center-align"><span class=
            "card-title center-align">Weight Loss in 2 weeks</span>
            </h5>
        </div>
        <!--POPULATE DASHBOARD WITH RANDOM DATA-->


        <div >
            <span class="card-title center-align"></span>

            <div ng-repeat="meal in plan_data">
                <span class="card-title center-align"></span>

                <h5 class='left-align'><span class=
                "card-title center-align">{{meal.name}}</span>
                </h5>


                <div ng-repeat='ingredient in meal.followingMealPlanIngredient'>
                    <span class="card-title center-align"></span>

                    <div class="row">
                        <span class="card-title center-align"></span>

                        <div class="col s3 m3">
                            <span class="card-title center-align"></span>

                            <h6><span class="center-align">
                                {{ingredient.meal_ingredient.ingredient.name}}
                                </span>
                            </h6>
                        </div>


                        <div class="col s2">
                            <span class="center-align"><input class=
                            "validate" id="servings" type="text" value=
                            "{{ingredient.quantity}}"></span>
                        </div>

                        <div class="col s4">
                            <h6><span class="center-align">
                                {{ingredient.unit_desc.description}}
                                </span>
                            </h6>
                        </div>
                        <span class="card-title center-align"></span>

                        <div class="col s2 m1">
                            <span class=
                            "card-title center-align"><input checked="checked"
                            class="filled-in" id="filled-in-box1" type=
                            "checkbox"> <label for=
                            "filled-in-box1"></label></span>
                        </div>
                        <span class="card-title center-align"></span>

                        <div class="col m1 center">
                            <span class="card-title center-align"><a ng-click=
                            "removeIngredientsFromSavedMeal(value)"><i class=
                            "material-icons b">delete</i></a></span>
                        </div>
                        <span class="card-title center-align"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>