<div ng-controller="summaryCtrl">
   <div class="row">
        <div class="col s12 m12">
          <div class="card white">
            <div class="card-content black-text">
              
                             <div class="row" id="graph-area">
                            <div class="col s12 m8 progress-div">
                                <div ng-repeat="ng-repeat= meal in plan_data track by $index">
                                    <div class="row progress_label">
                                        <div class="col s12 m12">
                                            <p class="prog-text">{{meal.name}}</p>
                                        </div>
                                        
                                        <div class="col s6">
                                            <div class="progress progress-spacing">
                                                <div class="determinate" style="width: {{(calcMealNutrientVal($index, 'energy_kcal') / calcDayNutrientVal('energy_kcal', false) )*100}}%">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col s3 m4">
                                            <p class="prog-text linear_val">{{calcMealNutrientVal($index, 'carbohydrate_tot') | number}} Calories</p>
                                        </div>
                                    </div>    
                                </div>
                                
                            </div>
                            

    
<!--                             ROUND PROGRESSBARS -->
                            <div class="col s12 m12">
                                <div clas="row">
                                    <div class="col s4 m4">
                                        <div
                                        round-progress
                                        max="100"
                                        current="((calcDayNutrientVal('protein_tot')*4)/calcDayNutrientVal('energy_kcal'))*100"
                                        color="#6639b6"
                                        bgcolor="#eaeaea"
                                        radius="50"
                                        stroke="4"
                                        semi="false"
                                        rounded="true"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"></div>
                                        <p class="center graph-text">PROTEINS</p>
                                       <p class="center graph-value">{{calcMealNutrientVal($index, 'carbohydrate_tot')}}%</p>
                                        <p class="ing-text nutgraph_val">{{calcMealNutrientVal($index, 'carbohydrate_tot') | number}}g</p>
                                    </div>
                                    
                                    <div class="col s4 m4">
                                        <div
                                        round-progress
                                        max="100"
                                        current="((calcDayNutrientVal('carbohydrate_tot')*4)/calcDayNutrientVal('energy_kcal'))*100"
                                        color="#fe6433"
                                        bgcolor="#eaeaea"
                                        radius="50"
                                        stroke="4"
                                        semi="false"
                                        rounded="true"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"></div>
                                         <p class="center graph-text">CARBS</p>
                                        <p class="center graph-value">{{((calcDayNutrientVal('carbohydrate_tot')*4)/calcDayNutrientVal('energy_kcal', false))*100 |number }}%</p>
                                         <p class="ing-text nutgraph_val">{{calcDayNutrientVal('carbohydrate_tot', false) | number}} g</p>
                                    </div>
     
                                    <div class="col s4 m4">
                                        <div
                                        round-progress
                                        max="100"
                                        current="((calcDayNutrientVal('fat_tot', false)*9)/calcDayNutrientVal('energy_kcal', false))*100"
                                        color="#fdc106"
                                        bgcolor="#eaeaea"
                                        radius="50"
                                        stroke="4"
                                        semi="false"
                                        rounded="true"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"></div>
                                        <p class="center graph-text">FATS</p>
                                        <p class="center graph-value">{{((calcDayNutrientVal('fat_tot', false)*9)/calcDayNutrientVal('energy_kcal', false))*100 |number }} %</p> 
                                        <p class="ing-text nutgraph_val">{{calcDayNutrientVal('fat_tot', false) | number}} g</p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            </div>
       </div>
    </div>
</div>