<section ng-controller='summaryCtrl'>
    <ul class="dropdown-content" id="dropdown2">
        <li ng-repeat="filter in filts track by $index"><input checked="checked"
        checklist-model="foodgroup" checklist-value="filter" class="filled-in"
        id="filled-in-box1{{$index}}" type="checkbox"> <label for=
        "filled-in-box1{{$index}}">{{filter}}</label></li>
    </ul>


    <ul class="dropdown-content" id="dropdown3">
        <li ng-repeat="filter in details.sortlist track by $index"><input class=
        "filled-in" id="filledin{{$index}}" name="sortradio" ng-click=
        "search(1, sortby)" ng-model="sortby" type="radio" value="{{filter}}">
        <label for="filledin{{$index}}">{{filter}}</label></li>
    </ul>
    
    <div class="row">
        <div class="col s12 m8">
            <div class="card white">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m10 push-m1">
                            <div class="row valign-wrapper center">
                                <div class="col s1 m1">
                                    <span class=
                                    "card-title center-align"><a ng-click="getNextDay(-1)">
                                    <i class=
                                    "fa fa-chevron-left cyan-text"></i></a></span>
                                </div>


                                <div class="col s10 m10">
                                    <ul class="day-list center">
                                        <li><span class=
                                        "day_list center-align">{{navTitles.prev}}</span>
                                        </li>


                                        <li><span class=
                                        "day_list center-align"><i class=
                                        "cyan-text" style=
                                        "font-style:bold">{{navTitles.current}}</i></span>
                                        </li>


                                        <li><span class=
                                        "day_list center-align">{{navTitles.next}}</span>
                                        </li>
                                    </ul>
                                </div>


                                <div class="col s1 m1">
                                    <span class=
                                    "card-title center-align"><a ng-click="getNextDay(1)">
                                    <i class=
                                    "fa fa-chevron-right cyan-text"></i></a></span>
                                </div>
                            </div>
                        </div>


                        <div class="col s12 m1 shift_right">
                            <span class=
                            "card-title center-align meal-text date_change"><a ng-click="calendar()" class="cal_icon">
                            <i class="material-icons">date_range</i></a></span>
                        </div>            
                    </div>

                    <!--POPULATE DASHBOARD WITH RANDOM DATA-->


                    <div class="row">
                        
                        <div class="col s12 m12">
                            <h5 class="center-align txt-overflow">{{plan_summary.dietplan.name}}
                            </h5>
                        </div>
                        
                        <div class="col s12">
                            <div class="hor-line" ng-repeat="(index1, meal) in plan_data">
                                <div class="row">
                                    <div class="col s1">
                                        
                                        <a
                                        id="add-meal-button" ng-click=
                                        "clearMeal(index1)"><i class=
                                        "material-icons createbin">
                                        delete</i></a>
                                    </div>


                                    <div class="col s5 push-s1 m3">
                                        <p class="ing-text">{{meal.name}}</p>
                                    </div>


                                    <div class="col s1 push-s3 m1">
                                        <p class="ing-text">{{meal.time}}</p>
                                    </div>
                                </div>

                                <div ng-if="meal.followingMealPlanRecipe != undefined && meal.followingMealPlanRecipe.length>0" >

                                <p class="ing-text meal_category" style="margin-left:11px !important">Recipes</p>

                                <br><br>
                                <div class="row">
                                        <div class="col s5 m5 center">
                                            <p class="meal-head">
                                            Name</p>
                                        </div>

                                        <div class="col s3 m2">
                                           <p class="meal-head center">Servings</p>
                                        </div>

                                    </div>

                                </div>
                                <br>
                                
                                <div class="meal_lst" ng-repeat=
                                '(index3, recipe) in meal.followingMealPlanRecipe'>
                                <div class="row">
                                        <div class="col s5 m5">
                                            <a href="/recipes/view-recipe/{{recipe.meal_recipe.id}}/"
                                               class="name-a meal-text">
                                            <p class="meal-text">
                                            {{recipe.meal_recipe.name}}
                                            </p>
                                            </a>
                                        </div>


                                        <div class="col s3 m2">
                                            <input class="serving" id=
                                            "dash_servings" min="0" ng-blur=
                                            "updateMealRecipe(recipe)"
                                            ng-model="recipe.no_of_servings"
                                            ng-pattern=
                                            "/^[0-9]+(\.[0-9]{1,2})?$/" step=
                                            "0.25" type="number">
                                        </div>


                                        <div class="col s2 m1 push-m2">
                                            <span class=
                                            "center-align"><input 
                                            checklist-model="checklistRecipes"
                                            checklist-value="recipe" class=
                                            "filled-in" id=
                                            "rec-filled-in-box-{{index1}}-{{index3}}"
                                            ng-change=
                                            "updateMealRecipe(recipe)"
                                            type="checkbox"> <label class=
                                            "ing-text highlight" for=
                                            "rec-filled-in-box-{{index1}}-{{index3}}"
                                            id="check-label"></label></span>
                                        </div>


                                        <div class="col s2 m1 push-m3 bin">
                                            <span class=
                                            "card-title center-align"><a ng-click="removeRecipeFromSavedMeal(index1,index3)">
                                            <i class=
                                            "material-icons createbin">delete</i></a></span>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="meal.followingMealPlanIngredient != undefined && meal.followingMealPlanIngredient.length>0" >

                                <p class="ing-text meal_category" style="margin-left:16px !important">Ingredients</p><br>
                                <div class="row">
                                        <div class="col s7 m2 push-m1 center">
                                             <p class="meal-head">Name</p>
                                        </div>


                                        <div class="col s3 m2 push-m1">
                                           <p class="meal-head right">Quantity</p>
                                        </div>


                                        <div class="col s2 m1 push-m1">
                                            
                                             <p class="meal-head">Weight</p>
                                        </div>


                                        <div class="col s4 m2 push-m2 center hide-on-small-only">
                                            <p class="meal-head center">Unit</p>
                                        </div>

                                    </div>

                                </div>
                                <br>
                                <div class="meal_lst" ng-repeat=
                                '(index2, ingredient) in meal.followingMealPlanIngredient '>
                                    <div class="row valign-wrapper hide-on-small-only">
                                        <div class="col s12 m6 valign-wrapper">
                                            <div class="col s7">
                                                <p class="meal-text">
                                                {{ingredient.meal_ingredient.name}}
                                                </p>
                                            </div>


                                            <div class="col s3">
                                                <input class="dash_serving" min="0" ng-blur=
                                                "updateMealIngredientQuantity(ingredient)"
                                                ng-model="ingredient.quantity"
                                                ng-pattern=
                                                "/^[0-9]+(\.[0-9]{1,2})?$/" step=
                                                "0.25" type="number">
                                            </div>


                                            <div class="col s2">
                                                <p class="meal-text">
                                                {{((ingredient.unit_desc.weight)* (ingredient.quantity)/ingredient.unit_desc.amount |
                                                number:0)  +
                                                '&nbsp;' + 'gms'}}</p>
                                            </div>
                                        </div>

                                        <div class="col s12 m6 valign-wrapper">
                                            <div class="col s6 push-s1">
                                                <select 
                                                ng-model=
                                                "ingredient.unit_desc"
                                                ng-options=
                                                "meas as meas.description for meas in ingredient.meal_ingredient.measure track by meas.id" 
                                                ng-change=
                                                        "updateQuantity(index1, index2); updateMealIngredientMeasure(ingredient);"ng-if="ingredient.unit_desc"
                                                 material-select watch>
                                                </select>

                                            </div>


                                            <div class="col s2">

                                                <span class=
                                                "center-align"><input 
                                                checklist-model="checklistIngredients"
                                                checklist-value="ingredient" class=
                                                "filled-in" id=
                                                "filled-in-box-{{index1}}-{{index2}}"
                                                ng-change=
                                                "updateMealIngredientCheck(ingredient)"
                                                type="checkbox"> <label for=
                                                "filled-in-box-{{index1}}-{{index2}}"
                                                id="summary-check-label"></label></span>
                                            </div>


                                            <div class="col s2 push-s1">
                                                <span class=
                                                "card-title center-align"><a ng-click="removeIngredientsFromSavedMeal(index1,index2)">
                                                <i class=
                                                "material-icons createbin">delete</i></a></span>
                                            </div>

                                        </div>

                                    </div>
                                    
                                    <div class="row hide-on-med-and-up ">
                                        <div class="col s12 valign-wrapper">
                                            <div class="col s7 left-align">
                                                <p class="meal-text">
                                                {{ingredient.meal_ingredient.name}}
                                                </p>
                                            </div>


                                            <div class="col s3 center-align">
                                                <input class="dash_serving" min="0" ng-blur=
                                                "updateMealIngredientQuantity(ingredient)"
                                                ng-model="ingredient.quantity"
                                                ng-pattern=
                                                "/^[0-9]+(\.[0-9]{1,2})?$/" step=
                                                "0.25" type="number">
                                            </div>


                                            <div class="col s2 right-align">
                                                <p class="meal-text">
                                                {{((ingredient.unit_desc.weight)* (ingredient.quantity)/ingredient.unit_desc.amount |
                                                number:0)  +
                                                '&nbsp;' + 'gms'}}</p>
                                            </div>
                                        </div>

                                        <div class="col s12 valign-wrapper">
                                            <div class="col s7">
                                                <select material-select 
                                                ng-model=
                                                "ingredient.unit_desc"
                                                ng-options=
                                                "meas as meas.description for meas in ingredient.meal_ingredient.measure track by meas.id" 
                                                ng-change=
                                                        "updateQuantity(index1, index2); updateMealIngredientMeasure(ingredient);"ng-if="ingredient.unit_desc">
                                                </select>

                                            </div>


                                            <div class="col s2">

                                                <span class=
                                                "center-align"><input 
                                                checklist-model="checklistIngredients"
                                                checklist-value="ingredient" class=
                                                "filled-in" id=
                                                "filled-in-box-{{index1}}-{{index2}}"
                                                ng-change=
                                                "updateMealIngredientCheck(ingredient)"
                                                type="checkbox"> <label for=
                                                "filled-in-box-{{index1}}-{{index2}}"
                                                id="summary-check-label"></label></span>
                                            </div>


                                            <div class="col s2 push-s1">
                                                <span class=
                                                "card-title center-align"><a ng-click="removeIngredientsFromSavedMeal(index1,index2)">
                                                <i class=
                                                "material-icons createbin">delete</i></a></span>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col s12">
                                            <span id="shortcut-menu">
                                            <a class="cyan-text" ng-click=
                                            "openQuickToolsModal(index1)">Quick
                                            Tools</a>&nbsp;&nbsp; <span class=
                                            "cyan-text">|</span>&nbsp;&nbsp;
                                            <a class="cyan-text" ng-click=
                                            "openCreatePlanModal(index1)">Add
                                            Food</a></span> 
                                            <span class=
                                            "cyan-text">|</span>&nbsp;&nbsp;
                                            <a class="cyan-text" ng-click=
                                            "openMealInfoModal(index1)"><b>Meal
                                            Info</b></a>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>

                        <div class="col s12 m12">
                            <div class="row valign-wrapper">
                                <div class="col s1 left-align">
                                    <a class=
                                    "btn-floating btn-small add-meal-btn"
                                    id="add-meal-button" ng-click=
                                    "addMealModal()"><i class=
                                    "material-icons">add</i></a>
                                </div>


                                <div class="col s11 left-align 
                                            hide-on-med-and-down">
                                    <p class="ing-text">Add new meal</p>
                                </div>
                                
                                <div class="col s10 push-s1 left-align show-on-small hide-on-med-and-up">
                                    <p class="ing-text">Add new meal</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col s12 m4">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card dash_graphcard">
                        <div class="card-content black-text">
                            <p class="ing-text">Total Calories</p>


                            <div class="progress progress-spacing">
                                <div class="determinate" ng-style=
                                "{width: percentNutrientChecked('energy_kcal')}">

                                </div>
                            </div>


                            <p class="meal-text">
                            {{calcMealPlanValues(-1, 'energy_kcal', false) | number:0}} Kcal</p>
                            <br>
                            <!-- ROUND PROGRESSBARS -->


                            <div clas="row">
                                <div class="col s12 m12 center">
                                    <div class="progress-wrapper">
            
                                        <div animation="easeInOutQuart"
                                        animation-delay="0" bgcolor="#EAEAEA"
                                        clockwise="true" color="#6639B6" 
                                        current="percentNutrientChecked('protein_tot')"
                                        duration="800" max="100" radius="50"
                                        responsive="false" round-progress=""
                                        rounded="true" semi="false" stroke="4">
                                        </div>


                                        <p class="center graph-text">PROTEINS</p>


                                        <p class="center graph-value">
                                            {{percentNutrientChecked('protein_tot') | number:0}} % </p>

                                        <p class="ing-text nutgraph_val">
                                        {{calcCheckedNutrientVal('protein_tot') | number:0}} g / {{calcMealPlanValues(-1, 'protein_tot', false) |
                                        number:0}} g</p>
                                    </div>
                                </div>


                                <div class="col s12 m12 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FE6433" current=
                                    "percentNutrientChecked('carbohydrate_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">CARBS</p>


                                    <p class="center graph-value">
                                   {{percentNutrientChecked('carbohydrate_tot') | number:0}} %
                                    </p>


                                    <p class="ing-text nutgraph_val">
                                    {{calcCheckedNutrientVal('carbohydrate_tot') | number:0}} g / {{calcMealPlanValues(-1, 'carbohydrate_tot', false) |
                                    number:0}} g</p>
                                </div>


                                <div class="col s12 m12 center">
                                    <div animation="easeInOutQuart"
                                    animation-delay="0" bgcolor="#EAEAEA"
                                    clockwise="true" color="#FDC106" current=
                                    "percentNutrientChecked('fat_tot')"
                                    duration="800" max="100" radius="50"
                                    responsive="false" round-progress=""
                                    rounded="true" semi="false" stroke="4">
                                    </div>


                                    <p class="center graph-text">FATS</p>


                                    <p class="center graph-value">
                                    {{percentNutrientChecked('fat_tot') | number:0}} %
                                    </p>


                                    <p class="ing-text nutgraph_val">
                                    {{calcCheckedNutrientVal('fat_tot') | number:0}} g / {{calcMealPlanValues(-1, 'fat_tot', false) | number:0}}
                                    g</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
         <div class="modal nutrition-modal" id="meal-info-modal">
            <div class="modal-content">
                <h5 class="cyan-text center">
                    Nutritional Information: {{plan_data[selected].name}}
                </h5>

                <div class="row">
                    <div class="col s6 m6">
                    <table class="bordered responsive-table">
                        <tbody>
                          <tr>
                            <td>Energy</td>
                            <td>{{calcMealPlanValues(selected, 'energy_kcal') |
                                number:0 }} kcal</td>
                          </tr>
                            <tr>
                            <td>Carbohydrates</td>
                            <td>{{calcMealPlanValues(selected, 'carbohydrate_tot') |
                                number:0 }} g</td>
                          </tr>
                            <tr>
                            <td>Proteins</td>
                            <td>{{calcMealPlanValues(selected, 'protein_tot') |
                                number:0 }} g</td>
                          </tr>
                            <tr>
                            <td>Fats</td>
                            <td>{{calcMealPlanValues(selected, 'fat_tot') |
                                number:0 }} g</td>
                          </tr>
                            <tr>
                            <td>Monounsaturated Fat</td>
                            <td>{{calcMealPlanValues(selected, 'fa_mono_g', true) |
                                number:0 }} g</td>
                          </tr>
                            <tr>
                            <td>Polyunsaturated Fat</td>
                            <td>{{calcMealPlanValues(selected, 'fa_poly_g', true) |
                                number:0 }} g</td>
                          </tr>
                            <tr>
                            <td>Saturated Fat</td>
                            <td>{{calcMealPlanValues(selected, 'fa_sat_g', true) |
                                number:0 }} g</td>
                          </tr>
                            <tr>
                            <td>Sugar</td>
                            <td>{{calcMealPlanValues(selected, 'sugar_tot') |
                                number:0 }} g</td>
                          </tr>
                          <tr>
                            <td>Fiber</td>
                            <td>{{calcMealPlanValues(selected, 'fiber_tot') |
                                number:0 }} g</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="col s6 m6">
                        <table class="bordered responsive-table">
                        <tbody>
                          <tr>
                            <td>Cholesterol</td>
                            <td>{{calcMealPlanValues(selected, 'cholestrl_mg',
                                            true) | number:0}} mg</td>
                          </tr>
                          <tr>
                            <td>Sodium</td>
                            <td>{{calcMealPlanValues(selected, 'sodium_mg',
                                            true) | number:0}} mg</td>
                          </tr>
                          <tr>
                            <td>Calcium</td>
                            <td>{{calcMealPlanValues(selected, 'calcium_mg',
                                            true) | number:0}} mg</td>
                          </tr>
                          <tr>
                            <td>Iron</td>
                            <td>{{calcMealPlanValues(selected, 'iron_mg',
                                            true) | number:0}} mg</td>
                          </tr>
                          <tr>
                            <td>Vitamin A</td>
                            <td>{{calcMealPlanValues(selected, 'vitamin_a_iu',
                                            true) | number:0}} IU</td>
                          </tr>
                          <tr>
                            <td>Vitamin B12</td>
                            <td>{{calcMealPlanValues(selected, 'vitamin_b12_mcg',
                                            true) | number:0}} mcg</td>
                          </tr>
                          <tr>
                            <td>Vitamin C</td>
                            <td>{{calcMealPlanValues(selected, 'vitamin_c_mg',
                                            true) | number:0}} mg</td>
                          </tr>
                          <tr>
                            <td>Vitamin D</td>
                            <td>{{calcMealPlanValues(selected, 'vitamin_d_mcg',
                                            true) | number:0}} mcg</td>
                          </tr>
                          <tr>
                            <td>Vitamin E</td>
                            <td>{{calcMealPlanValues(selected, 'vitamin_e_mg',
                                            true) | number:0}} mcg</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
            </div>

            </div>
        </div>
        
        <!-- QUICK TOOLS MODAL-->
        <div class="modal modal-fixed-footer food-modal" id="quick-tools-modal">
        <a class=
        "modal-action modal-close waves-effect waves-green btn-flat right">X</a>

        <div class="modal-content ">
            <div class="row">

                <div class="col s12 m6 input-field">
<!--
                    <select material-select ng-model="listFromHistoryType">

                        <option  ng-repeat="value in searchTypeChoices">
                            {{value}}
                        </option>

                    </select>
                    <label>Search From History For</label>
-->
                    <select material-select ng-model="searchHistoryType">
                      
                        <option  ng-repeat="value in searchHistoryTypeChoices">{{value}}</option>
                      
                    </select>
                    <label>Search For</label>
                </div>
                
                <div class="col s12 m6">
                    <div class="card white create-search-box" id=
                    "searchcard">
                        <!-- SEARCH-BOX -->


                        <div class="card-content black-text">
                            <textarea class="form-control" id=
                            "searchbox" ng-model="mySavedStuffQuery" placeholder=
                            "Search Food"></textarea>
                            <button class=
                            "fa fa-search search-ingredient"
                            fire-enter="" ng-click="searchMySavedStuff(1)"
                            type="submit"></button>
                        </div>
                    </div>
                    <!-- END OF SEARCH-BOX -->
                </div>
                
            </div>


            <div class="row">
                <div class="col s12 m6" ng-if="searchHistoryType==='My Recipes'">
                    <div class="searchresult-create row">
                        <div ng-repeat=
                        "recipe in mySavedStuff.results track by $index">
                            <p><input checklist-model="checklistIngs"
                            checklist-value="recipe.recipe" class="filled-in" id=
                            "filled-in-box-recipe-history{{$index}}"  type="checkbox">
                            <label class="ing-text highlight" for=
                            "filled-in-box-recipe-history{{$index}}" id=
                            "check-label-recipe-history{{$index}}">{{recipe.recipe.name}}</label></p>
                        </div>
                    </div>


                    <div class="row smallpaginate">
                        <paging ng-if="mySavedStuff !== undefined && mySavedStuff !== []"
                            class="small"
                            page="mySavedStuffCurrentPage" 
                            page-size="6" 
                            total="mySavedStuffPageSize"
                            hide-if-empty="{{hideIfEmpty}}"
                            ul-class="{{ulClass}}"
                            li-class="lipageclass"
                            active-class="{{activeClass}}"
                            disabled-class="{{disabledClass}}"
                            show-prev-next="true"
                            text-next-class="acti fa fa-chevron-right"
                            text-prev-class="acti fa fa-chevron-left"
                            text-first-class="acti fa fa-backward"
                            text-last-class="acti fa fa-forward"
                            text-title-page="Page {page}"
                            text-title-first="First Page"
                            text-title-last="Last Page"
                            text-title-next="Next Page"
                            text-title-prev="Previous" 
                            paging-action="getSavedStuffNextPage(page)">
                        </paging> 
                        <br>
                    </div>
                </div>
                
                <div class="col s12 m6" ng-if="searchHistoryType==='My Ingredients'">
                    <div class="searchresult-create row">
                        <div ng-repeat=
                        "ingredient in mySavedStuff.results track by $index">
                            <p><input checklist-model="checklistIngs"
                            checklist-value="ingredient.ingredient" class="filled-in" id=
                            "filled-in-box-history{{$index}}"  type="checkbox">
                            <label class="ing-text highlight" for=
                            "filled-in-box-history{{$index}}" id=
                            "check-label-history{{$index}}">{{ingredient.ingredient.name}}</label></p>
                        </div>
                    </div>


                    <div class="row smallpaginate">
                        <paging ng-if="mySavedStuff !== undefined && mySavedStuff !== []"
                            class="small"
                            page="mySavedStuffCurrentPage" 
                            page-size="6" 
                            total="mySavedStuffPageSize"
                            hide-if-empty="{{hideIfEmpty}}"
                            ul-class="{{ulClass}}"
                            li-class="lipageclass"
                            active-class="{{activeClass}}"
                            disabled-class="{{disabledClass}}"
                            show-prev-next="true"
                            text-next-class="acti fa fa-chevron-right"
                            text-prev-class="acti fa fa-chevron-left"
                            text-first-class="acti fa fa-backward"
                            text-last-class="acti fa fa-forward"
                            text-title-page="Page {page}"
                            text-title-first="First Page"
                            text-title-last="Last Page"
                            text-title-next="Next Page"
                            text-title-prev="Previous" 
                            paging-action="getSavedStuffNextPage(page)">
                        </paging> 
                        <br>
                    </div>
                </div>


                <div class="col s12 m6">
                    <div class="nutsection">
                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s12 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a ahead servehead">Serving per 100
                                grams:</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Calories (kcal)</p>
                            </div>


                            <div class="col s4 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].energy_kcal}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Proteins</p>
                            </div>


                            <div class="col s4 m6">
                                <p class="a b" ng-if=
                                "checklistIngs[checklistIngs.length-1]">
                                {{checklistIngs[checklistIngs.length-1].protein_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Fats</p>
                            </div>


                            <div class="col s4 m5" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].fat_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Carbohydrates</p>
                            </div>


                            <div class="col s4 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].carbohydrate_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Fiber</p>
                            </div>


                            <div class="col s4 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].fiber_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Water</p>
                            </div>


                            <div class="col s4 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].water}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>


                    <div class="row" ng-repeat="(index, food) in ingredientInModal">
                        <div class="col s8 m10 meal-list">
                            <p class="ing-text meal-list" ng-if=
                            "ingredientInModal.length&gt;0">{{food.name}}</p>
                        </div>


                        <div class="col s4 m2 meal-list">
                            <a href="#" ng-click=
                            "removeFromIngredientInModal(index)"><i class=
                            "material-icons meal-list right createbin dustbin" ng-if=
                            "ingredientInModal.length&gt;0">delete</i></a>
                        </div>
                    </div>


                    <div class="row" ng-repeat="(index, checkIng) in checklistIngs">
                        <div class="col s8 m10 meal-list">
                            <p class="ing-text meal-list" ng-if=
                            "checklistIngs.length&gt;0">{{checkIng.name}}</p>
                        </div>


                        <div class="col s4 m2 meal-list">
                            <a href="#" ng-click=
                            "removeFromChecklistIng(index)"><i class=
                            "material-icons meal-list right createbin dustbin" ng-if=
                            "checklistIngs.length&gt;0">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-action-btn" style="bottom: 45px; left:45%">
                <a class="btn-floating btn-large bp_red" ng-click="addContents()">
                  <i class="large material-icons">add</i>
                </a>
          </div>
        </div>

    </div>
        
        
    </div>
    <!-- Add Meal Modal-->


    <div class="modal modal-fixed-footer " id="add-meal-summary-modal">
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate" id="meal_name" ng-model="meal.name"
                    type="text"> <label for="meal_name">Meal name</label>
                </div>
            </div>


            <div class="row">
                <p>Meal Time</p>
                <input id="exampleInput" name="input" ng-model=
                        "meal.time" placeholder="HH:mm:ss" required="" type=
                        "time">
                
            </div>


            <div class="row">
                <div class="col s12">
                    <div class="center-btn">
                        <a class="waves-effect waves-light btn largebtn"
                        ng-click="addMeal(meal)">CREATE A MEAL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- ADD FOOD MODAL -->

    <div class="modal modal-fixed-footer food-modal" id="add-food-summary-modal">
        <a class=
        "modal-action modal-close waves-effect waves-green btn-flat right">X</a>

        <div class="modal-content ">
            <div class="row">
                
                <div class="col s12 m2 input-field">
                    <select material-select ng-model="searchType">
                      
                        <option  ng-repeat="value in searchTypeChoices">{{value}}</option>
                      
                    </select>
                    <label>Search For</label>
                </div>
                
                <div class="col s12 m8">
                    <div class="card white create-search-box" id=
                    "searchcard">
                        <!-- SEARCH-BOX -->


                        <div class="card-content black-text">
                            <textarea class="form-control" id=
                            "searchbox" ng-model="query" placeholder=
                            "Search Ingredient"></textarea>
                            <button class=
                            "fa fa-search search-ingredient"
                            fire-enter="" ng-click="searchPlan(query)"
                            type="submit"></button>
                        </div>
                    </div>
                    <!-- END OF SEARCH-BOX -->
                </div>

                <div class="col s12 m2 ">
                    <div class="row center valign-wrapper">
                        <div class="col s6 m6 search-filter-align"
                            ng-disabled="filts !==undefined && filts.length&gt;0">
                            <button class='fa fa-filter dashboard-search-filter'
                            data-activates='dropdown2' data-beloworigin="true"
                            dropdown-button=""></button>
                        </div>


                        <div  class="col s6 m6 search-filter-align right-align"
                        ng-disabled="filts !==undefined && filts.length&gt;0">
                            <button class='fa fa-reorder dashboard-search-filter'
                            data-activates='dropdown3' data-beloworigin="true"
                            dropdown-button=""></button>
                        </div>
                    </div>
                </div>
                
<!--
                <div class="col s12 m2 search-filter-align">
                    Search For:
                </div>

                <div class="col s6 m2 search-filter-align">
                    <input class="filled-in with-gap " id="searchkind1" name=
                    "searchkind" ng-model="searchType" type="radio"
                    value="ingredients"> <label for=
                    "searchkind1">Ingredients</label>
                </div>

                <div class="col s6 m2 search-filter-align">
                    <input class="filled-in with-gap" id="searchkind2" name=
                    "searchkind" ng-model="searchType" type="radio"
                    value="recipes"> <label for=
                    "searchkind2">Recipes</label>
                </div>
-->
            </div>


            <div class="row">
                <div class="col s12 m6">
                    <div class="searchresult-create row">
                        <div ng-repeat=
                        "detail in details.results track by $index">
                            <p><input checklist-model="checklistIngs"
                            checklist-value="detail" class="filled-in" id=
                            "filled-in-box{{$index}}" ng-disabled=
                            "checkToDisable(detail.id)" type="checkbox">
                            <label class="ing-text highlight" for=
                            "filled-in-box{{$index}}" id=
                            "check-label">{{detail.name}}</label></p>
                        </div>
                    </div>


                    <div class="row smallpaginate">
                        <paging ng-if="details !== undefined && details !== []"
                            class="small"
                            page="currentPage" 
                            page-size="6" 
                            total="pageSize"
                            hide-if-empty="{{hideIfEmpty}}"
                            ul-class="{{ulClass}}"
                            li-class="lipageclass"
                            active-class="{{activeClass}}"
                            disabled-class="{{disabledClass}}"
                            show-prev-next="true"
                            text-next-class="acti fa fa-chevron-right"
                            text-prev-class="acti fa fa-chevron-left"
                            text-first-class="acti fa fa-backward"
                            text-last-class="acti fa fa-forward"
                            text-title-page="Page {page}"
                            text-title-first="First Page"
                            text-title-last="Last Page"
                            text-title-next="Next Page"
                            text-title-prev="Previous" 
                            paging-action="searchPlan(query, page)">
                        </paging> 
                        <br>
                    </div>
                </div>


                <div class="col s12 m6">
                    <div class="nutsection">
                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s12 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a ahead servehead">Serving per 100
                                grams:</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Calories (kcal)</p>
                            </div>


                            <div class="col s4 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].energy_kcal}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Proteins</p>
                            </div>


                            <div class="col s4 m6">
                                <p class="a b" ng-if=
                                "checklistIngs[checklistIngs.length-1]">
                                {{checklistIngs[checklistIngs.length-1].protein_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Fats</p>
                            </div>


                            <div class="col s4 m5" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].fat_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Carbohydrates</p>
                            </div>


                            <div class="col s4 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].carbohydrate_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Fiber</p>
                            </div>


                            <div class="col s4 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].fiber_tot}}</p>
                            </div>
                        </div>


                        <div class="row hline" ng-if=
                        "checklistIngs[checklistIngs.length-1]">
                            <div class="col s8 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b ahead">Water</p>
                            </div>


                            <div class="col s4 m6" ng-if=
                            "checklistIngs[checklistIngs.length-1]">
                                <p class="a b">
                                {{checklistIngs[checklistIngs.length-1].water}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>


                    <div class="row" ng-repeat="(index, food) in ingredientInModal">
                        <div class="col s8 m10 meal-list">
                            <p class="ing-text meal-list" ng-if=
                            "ingredientInModal.length&gt;0">{{food.name}}</p>
                        </div>


                        <div class="col s4 m2 meal-list">
                            <a href="#" ng-click=
                            "removeFromIngredientInModal(index)"><i class=
                            "material-icons meal-list right createbin dustbin" ng-if=
                            "ingredientInModal.length&gt;0">delete</i></a>
                        </div>
                    </div>


                    <div class="row" ng-repeat="(index, checkIng) in checklistIngs">
                        <div class="col s8 m10 meal-list">
                            <p class="ing-text meal-list" ng-if=
                            "checklistIngs.length&gt;0">{{checkIng.name}}</p>
                        </div>


                        <div class="col s4 m2 meal-list">
                            <a href="#" ng-click=
                            "removeFromChecklistIng(index)"><i class=
                            "material-icons meal-list right createbin dustbin" ng-if=
                            "checklistIngs.length&gt;0">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="fixed-action-btn" style="bottom: 45px; left:45%">
                <a class="btn-floating btn-large bp_red" ng-click="addContents()">
                  <i class="large material-icons">add</i>
                </a>
          </div>
        </div>

    </div>
    
    
</section>