<section class="full-length" id="create-plan">
    
    <div class="row recipe-form-card">
        
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text">
                    
                    <!--FIX THIS-->
                    <a ng-if="isOwner()" ng-href="editRecipe/{{recipe.id}}" class="cyan-text">
                    <i class="material-icons cyan-text">mode_edit</i>
                        Edit Recipe
                    </a>
                    
                    <br><br>
                    
                    <div class="row">
                        <div class="col s6">
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text" style="text-transform:uppercase">
                                        Name of Recipe:</p>
                                </div>

                                <div class="col s6">
                                    <p class="meal-text">{{recipe.name}}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text" style="text-transform:uppercase">Servings</p>
                                </div>

                                <div class="col s6">
                                    <p class="meal-text">
                                            {{recipe.servings}}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text" style=
                                        "text-transform:uppercase">Prep Time</p>
                                </div>
                                
                                <div class="col s6">
                                    <p class="meal-text">
                                    {{recipe.prep_time}}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text" style=
                                        "text-transform:uppercase">Cook Time</p>
                                </div>
                                
                                <div class="col s6">
                                    <p class="meal-text">
                                    {{recipe.cook_time}}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text" style=
                                        "text-transform:uppercase">Source</p>
                                </div>
                                
                                <div class="col s6">
                                    <p class="meal-text">
                                    {{recipe.source}}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s6">
                                    <p class="ing-text" style=
                                        "text-transform:uppercase">URL</p>
                                </div>
                                
                                <div class="col s6">
                                    <p class="meal-text">
                                    {{recipe.url}}</p>
                                </div>
                            </div>
                        </div>
                        
                            <div class="col s6">
                                <div ng-if="recipe.image">
                                    <img class="recipe_img center"
                                        ng-src="{{recipe.image}}">
                                </div>
                                <div ng-if="!recipe.image">
                                    <img class="recipe_img center"
                                         ng-src="static/images/default_recipe.png">
                                </div>
                            </div>
                        
                    </div>
                    
                    
                    <div class="row">
                        <div class="row">
                            <div class="col s2">
                                <p class="ing-text" style=
                                    "text-transform:uppercase">Description
                                        :</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s12">
                                <p class="meal-text">
                                        {{recipe.description}}</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div ng-if="ingredient.length!=0">
                                <div class="row">
                                    <div class="col s4">
                                        <p class="ing-text" style=
                                        "text-transform:uppercase">Ingredients</p>
                                    </div>


                                    <div class="col s1 m1">
                                        <p class="ing-text">Amt</p>
                                    </div>


                                    <div class="col s1 m1">
                                        <p class="ing-text">Desc</p>
                                    </div>

                                    <div class="col s6">
                                        <h5 class="center recipe-subheading">
                                            Nutritional Information
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                            <div class="col s6">
                                <div class="row" ng-repeat=
                                    "ingredient in recipe.recipeIngredients">
                                    <div class="col s4">
                                        <p class="meal-text">
                                        {{ingredient.ingredient.name}}</p>
                                    </div>

                                    <div class="col s1 m1">
                                        <p class="meal-text">{{ingredient.quantity
                                        | number}}</p>
                                    </div>

                                    <div class="col s1 m1">
                                        <p class="meal-text">
                                        {{ingredient.measure.description}}</p>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="col s6">
                                    <div class="col s6">
                                        <table class="bordered responsive-table">
                                            <tbody>
                                              <tr>
                                                <td>Energy</td>
                                                <td>{{calculateNutritionTotal('energy_kcal') |
                                        number:0}} kcal</td>
                                              </tr>
                                                <tr>
                                                <td>Carbohydrates</td>
                                                <td>
                                                {{calculateNutritionTotal('carbohydrate_tot') |number:0}} g</td>
                                              </tr>
                                                <tr>
                                                <td>Proteins</td>
                                                <td>{{calculateNutritionTotal('protein_tot') |
                                        number:0}} g</td>
                                              </tr>
                                                <tr>
                                                <td>Fats</td>
                                                <td>{{calculateNutritionTotal('fat_tot') |
                                        number:0}} g</td>
                                              </tr>
                                                <tr>
                                                <td>Monounsaturated Fat</td>
                                                <td>
                                                {{calculateAddtnlNutritionTotal('fa_mono_g') |
                                        number:0}} g</td>
                                              </tr>
                                                <tr>
                                                <td>Polyunsaturated Fat</td>
                                                <td>
                                                {{calculateAddtnlNutritionTotal('fa_poly_g') |
                                        number:0}} g</td>
                                              </tr>
                                                <tr>
                                                <td>Saturated Fat</td>
                                                <td>
                                                {{calculateAddtnlNutritionTotal('fa_sat_g') |
                                        number:0}} g</td>
                                              </tr>
                                                <tr>
                                                <td>Sugar</td>
                                                <td>{{calculateNutritionTotal('sugar_tot') |
                                        number:0}} g</td>
                                              </tr>
                                              </tr>
                                                <tr>
                                                <td>Fiber</td>
                                                <td>{{calculateNutritionTotal('fiber_tot') |
                                        number:0}} g</td>
                                              </tr>
                                              <tr>
                                        </tbody>
                                    </table>
                                </div>
                            
                                <div class="col s6">
                                    <table class="bordered responsive-table">
                                        <tbody>
                                            <td>Cholesterol</td>
                                            <td>{{calculateAddtnlNutritionTotal('cholestrl_mg') |
                                    number:0}} mg</td>
                                          </tr>
                                          <tr>
                                            <td>Sodium</td>
                                            <td>{{calculateAddtnlNutritionTotal('sodium_mg') |
                                    number:0}} mg</td>
                                          </tr>
                                          <tr>
                                            <td>Calcium</td>
                                            <td>{{calculateAddtnlNutritionTotal('calcium_mg') |
                                    number:0}} mg</td>
                                          </tr>
                                          <tr>
                                            <td>Iron</td>
                                            <td>{{calculateAddtnlNutritionTotal('iron_mg') |
                                    number:0}} mg</td>
                                          </tr>
                                          <tr>
                                            <td>Vitamin A</td>
                                            <td>{{calculateAddtnlNutritionTotal('vitamin_a_iu') |
                                    number:0}} IU</td>
                                          </tr>
                                          <tr>
                                            <td>Vitamin B12</td>
                                            <td>{{calculateAddtnlNutritionTotal('vitamin_b12_mcg') |
                                    number:0}} mcg</td>
                                          </tr>
                                          <tr>
                                            <td>Vitamin C</td>
                                            <td>{{calculateAddtnlNutritionTotal('vitamin_c_mg') |
                                    number:0}} mg</td>
                                          </tr>
                                          <tr>
                                            <td>Vitamin D</td>
                                            <td>{{calculateAddtnlNutritionTotal('vitamin_d_mcg') |
                                    number:0}} mcg</td>
                                          </tr>
                                          <tr>
                                            <td>Vitamin E</td>
                                            <td>{{calculateAddtnlNutritionTotal('vitamin_e_mg') |
                                    number:0}} mcg</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        
                        </div>
                        </div>
        
                        <div class="row">
                            <div class="col s4">
                                <h5 class="recipe-subheading">
                                Directions</h5>
                            </div>
                        </div>


                        <div class="row" ng-repeat=
                        "direction in parsed_directions">
                            <div class="input-field col s12">
                                <p class="meal-text">{{direction}}</p>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!-- TIME TAKEN TO CREATE RECIPES -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="center-btn">
                <a class="waves-effect waves-light btn largebtn" ng-click=
                'finalizeRecipeCreation()'>Save</a>
            </div>
        </div>
    </div>
    <!-- CREATE RECIPE MODAL -->


    <div class="modal" id="create-recipe-modal">
        <a class=
        "modal-action modal-close waves-effect waves-green btn-flat right">X</a>

        <div class="modal-content">
            <div class="row">
                <div class="col m6">
                    <div class="card white create-search-box" id="searchcard">
                        <!-- SEARCH-BOX -->


                        <div class="card-content black-text">
                            <textarea class="form-control" id="searchbox"
                            ng-model="query" placeholder=
                            "Search Ingredient"></textarea> <button class=
                            "fa fa-search search-ingredient" fire-enter=""
                            ng-click="search()" type="submit"></button>
                        </div>
                        <!-- END OF SEARCH-BOX -->
                    </div>
                </div>


                <div class="col m6">
                    <p>Nutrition Info</p>
                </div>
                <br>


                <div class="row">
                    <div class="col m6 create-modal-half1">
                        <div ng-repeat=
                        "detail in details | limitTo:7 track by $index">
                            <p><input checklist-model="nutrientValue"
                            checklist-value="detail" class="filled-in" id=
                            "filled-in-box{{$index}}" type="checkbox">
                            <label class="ing-text highlight" for=
                            "filled-in-box{{$index}}" id=
                            "check-label">{{detail.name}}</label></p>
                        </div>
                    </div>


                    <div class="col m6">
                        <div class="nutsection" ng-if="lastChecked">
                            <div class="row hline">
                                <div class="col m3">
                                    <p class="a ahead servehead">Serving:</p>
                                </div>


                                <div class="col m2">
                                    <input id="serving" ng-model="ingQuantity"
                                    type="text" value="1">
                                </div>


                                <div class="col m3">
                                    <p class="a ahead">Amt</p>
                                </div>


                                <div class="col m2">
                                    <p class="a ahead">Amt</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Calories (kcal)</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">
                                    {{lastChecked.energy_kcal}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Proteins</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">
                                    {{lastChecked.protein_tot}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Fats</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">{{lastChecked.fat_tot}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Carbohydrates</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">
                                    {{lastChecked.carbohydrate_tot}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Fiber</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">
                                    {{lastChecked.fiber_tot}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Water</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">{{lastChecked.water}}</p>
                                </div>
                            </div>
                        </div>


                        <p>{{currentMealPlanName}}</p>
                        <br>
                        <br>


                        <div class="row" ng-repeat="item in nutrientValue">
                            <div class="col m10 meal-list">
                                <p class="ing-text meal-list" ng-if=
                                "nutrientValue.length&gt;0">{{item.name}}</p>
                            </div>


                            <div class="col m2 meal-list">
                                <a href="#" ng-click=
                                "removeIngredient(item)"><i class=
                                "material-icons meal-list right dustbin" ng-if=
                                "nutrientValue.length&gt;0">delete</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>