<section class="full-length" id="create-plan">
    <div class="row recipe-form-card">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text">
                    <div class="row">
                        <div class="row">
                            <div class="col s12 m6">
                                <p class="ing-text" style=
                                "text-transform:uppercase">Name of Recipe :</p>
                            </div>


                            <div class="col s12 m6">
                                <p class="meal-text" style=
                                "text-transform:uppercase">{{recipe.name}}</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s12 m6">
                                <p class="ing-text" style=
                                "text-transform:uppercase">Description :</p>
                            </div>


                            <div class="col s12 m6">
                                <p class="meal-text" style=
                                "text-transform:uppercase">
                                {{recipe.description}}</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s12 m6">
                                <p class="ing-text" style=
                                "text-transform:uppercase">Serving (No of
                                people)</p>
                            </div>


                            <div class="col s12 m6">
                                <p class="meal-text" style=
                                "text-transform:uppercase">
                                {{recipe.servings}}</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s12 m6">
                                <p class="ing-text" style=
                                "text-transform:uppercase">Prep Time</p>
                            </div>


                            <div class="col s12 m6">
                                <p class="meal-text" style=
                                "text-transform:uppercase">
                                {{recipe.prep_time}}</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col s12 m6">
                                <p class="ing-text" style=
                                "text-transform:uppercase">Cook Time</p>
                            </div>


                            <div class="col s12 m6">
                                <p class="meal-text" style=
                                "text-transform:uppercase">
                                {{recipe.cook_time}}</p>
                            </div>
                        </div>


                        <div class="row" ng-repeat=
                        "ingredient in recipe.recipeIngredients">
                            <div class="col s4">
                                <p class="meal-text">
                                {{ingredient.ingredient.name}}</p>
                            </div>


                            <div class="col m1">
                                <p class="meal-text">
                                {{ingredient.quantity}}</p>
                            </div>


                            <div class="col m1">
                                <p class="meal-text">
                                {{ingredient.measure.description}}</p>
                            </div>
                        </div>
                        <!-- STEPS TO CREATE RECIPES -->


                        <div class="row">
                            <div class="col s4">
                                <h5 class="recipe-subheading">Directions</h5>
                            </div>
                        </div>


                        <div class="row" ng-repeat=
                        "direction in parsed_directions">
                            <div class="input-field col s12">
                                <p class="meal-text">{{direction}}</p>
                            </div>
                        </div>
                        <br>
                        <!-- TIME TAKEN TO CREATE RECIPES -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--

    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Nutritional Information</span>

                    <div class="row">
                        <div class="col s6">
                            <div class="row horizontal-line">
                                <div class="col s6">
                                    <p class="ing-text">Total
                                    Carbohydrates:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ totalCarb |
                                    number}}</p>
                                </div>
                            </div>


                            <div class="row horizontal-line">
                                <div class="col s6">
                                    <p class="ing-text">Total Proteins:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ totalProtein |
                                    number}}</p>
                                </div>
                            </div>


                            <div class="row horizontal-line">
                                <div class="col s6">
                                    <p class="ing-text">Total Fats:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ totalFat | number
                                    }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
<div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">NUTRITION INFORMATION (per serving)</span>

                    <div class="row">
                        <div class="col s6">
                            <div class="row horizontal-line">
                                <div class="col s6">
                                    <p class="ing-text">Calories:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateNutritionTotal('energy_kcal') |
                                    number}}</p>
                                </div>
                            </div>
                            
                            <div class="row horizontal-line">
                                <div class="col s6">
                                    <p class="ing-text">Carbohydrates:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateNutritionTotal('carbohydrate_tot') |
                                    number}}</p>
                                </div>
                            </div>
                            
                             <div class="col s6 offset-s1 row horizontal-line">
                                <div class="col s8 ">
                                    <p class="ing-text">Sugar:</p>
                                </div>


                                <div class="col s4">
                                    <p class="meal-text">{{ calculateNutritionTotal('sugar_tot') |
                                    number}}</p>
                                </div>
                            </div>

                            <div class="row horizontal-line">
                                <div class="col s6">
                                    <p class="ing-text">Proteins:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateNutritionTotal('protein_tot') |
                                    number}}</p>
                                </div>
                            </div>


                            <div class="row horizontal-line">
                                <div class="col s6">
                                    <p class="ing-text">Fats:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateNutritionTotal('fat_tot') | number
                                    }}</p>
                                </div>
                            </div>
                            
                             <div class="col s6 offset-s1 row horizontal-line">
                                <div class="col s8 ">
                                    <p class="ing-text">Polyunsaturated Fats:</p>
                                </div>


                                <div class="col s4">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('fa_poly_g') |
                                    number}}</p>
                                </div>
                            </div>
                            
                             <div class="col s6 offset-s1 row horizontal-line">
                                <div class="col s8 ">
                                    <p class="ing-text">Monounsaturated Fats:</p>
                                </div>


                                <div class="col s4">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('fa_mono_g') |
                                    number}}</p>
                                </div>
                            </div>
                            
                             <div class="col s6 offset-s1 row horizontal-line">
                                <div class="col s6 ">
                                    <p class="ing-text">Saturated Fats:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('fa_sat_g') |
                                    number}}</p>
                                </div>
                            </div>
                            
                             <div class="row horizontal-line">
                                <div class="col s6">
                                    <p class="ing-text">Fiber:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateNutritionTotal('fiber_tot') |
                                    number}}</p>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col s6">
                                
                            <div class="row horizontal-line">
                                <div class="col s6">
                                    <p class="ing-text">Cholesterol:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('cholestrl_mg') |
                                    number}}</p>
                                </div>
                            </div>
                            
                            <div class="row horizontal-line">
                                <div class="col s6 ">
                                    <p class="ing-text">Sodium:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('sodium_mg') |
                                    number}}</p>
                                </div>
                            </div>
                            
                            <div class="row horizontal-line">
                                <div class="col s6 ">
                                    <p class="ing-text">Calcium:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('calcium_mg') |
                                    number}}</p>
                                </div>
                            </div>
                            
                            <div class="row horizontal-line">
                                <div class="col s6 ">
                                    <p class="ing-text">Iron:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('iron_mg') |
                                    number}}</p>
                                </div>
                            </div>
                            
                            
                            <div class="row horizontal-line">
                                <div class="col s6 ">
                                    <p class="ing-text">Vitamin A(IU):</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('vitamin_a_iu') |
                                    number}}</p>
                                </div>
                            </div>
                            
                            <div class="row horizontal-line">
                                <div class="col s6 ">
                                    <p class="ing-text">Vitamin C:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('vitamin_c_mg') |
                                    number}}</p>
                                </div>
                            </div>
                            
                            <div class="row horizontal-line">
                                <div class="col s6 ">
                                    <p class="ing-text">Vitamin D:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('vitamin_d_mcg') |
                                    number}}</p>
                                </div>
                            </div>
                            
                            <div class="row horizontal-line">
                                <div class="col s6 ">
                                    <p class="ing-text">Vitamin E:</p>
                                </div>


                                <div class="col s6">
                                    <p class="meal-text">{{ calculateAddtnlNutritionTotal('vitamin_e_mg') |
                                    number}}</p>
                                </div>
                            </div>
                        
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="center-btn">
                <a class="waves-effect waves-light btn largebtn" ng-click=
                'finalizeRecipeCreation()'>Save</a>
            </div>
        </div>
    </div>
    <!-- CREATE RECIPE MODAL -->


    <div class="modal" id="create-recipe-modal">
        <a class=
        "modal-action modal-close waves-effect waves-green btn-flat right">X</a>

        <div class="modal-content">
            <div class="row">
                <div class="col m6">
                    <div class="card white create-search-box" id="searchcard">
                        <!-- SEARCH-BOX -->


                        <div class="card-content black-text">
                            <textarea class="form-control" id="searchbox"
                            ng-model="query" placeholder=
                            "Search Ingredient"></textarea> <button class=
                            "fa fa-search search-ingredient" ng-click=
                            "search()" type="submit"></button>
                        </div>
                        <!-- END OF SEARCH-BOX -->
                    </div>
                </div>


                <div class="col m6">
                    <p>Nutrition Info</p>
                </div>
                <br>


                <div class="row">
                    <div class="col m6 create-modal-half1">
                        <div ng-repeat=
                        "detail in details | limitTo:7 track by $index">
                            <p><input checklist-model="nutrientValue"
                            checklist-value="detail" class="filled-in" id=
                            "filled-in-box{{$index}}" type="checkbox">
                            <label class="ing-text highlight" for=
                            "filled-in-box{{$index}}" id=
                            "check-label">{{detail.name}}</label></p>
                        </div>
                    </div>


                    <div class="col m6">
                        <div class="nutsection" ng-if="lastChecked">
                            <div class="row hline">
                                <div class="col m3">
                                    <p class="a ahead servehead">Serving:</p>
                                </div>


                                <div class="col m2">
                                    <input id="serving" ng-model="ingQuantity"
                                    type="text" value="1">
                                </div>


                                <div class="col m3">
                                    <p class="a ahead">Amt</p>
                                </div>


                                <div class="col m2">
                                    <p class="a ahead">Amt</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Calories (kcal)</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">
                                    {{lastChecked.energy_kcal}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Proteins</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">
                                    {{lastChecked.protein_tot}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Fats</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">{{lastChecked.fat_tot}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Carbohydrates</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">
                                    {{lastChecked.carbohydrate_tot}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Fiber</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">
                                    {{lastChecked.fiber_tot}}</p>
                                </div>
                            </div>


                            <div class="row hline">
                                <div class="col m6">
                                    <p class="a b ahead">Water</p>
                                </div>


                                <div class="col m6">
                                    <p class="a b">{{lastChecked.water}}</p>
                                </div>
                            </div>
                        </div>


                        <p>{{currentMealPlanName}}</p>
                        <br>
                        <br>


                        <div class="row" ng-repeat="item in nutrientValue">
                            <div class="col m10 meal-list">
                                <p class="ing-text meal-list" ng-if=
                                "nutrientValue.length&gt;0">{{item.name}}</p>
                            </div>


                            <div class="col m2 meal-list">
                                <a href="#" ng-click=
                                "removeIngredient(item)"><i class=
                                "material-icons meal-list right dustbin" ng-if=
                                "nutrientValue.length&gt;0">delete</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>